<div class="login-page">
  <div class="login-components-container">
    <div class="logo-section">
      logo -- codetekt 
    </div>
    <div class="login-actions-card">
      <div class="login-form">
        <div class="form-group">
          <label>email</label>
          <input value="bla"/>
        </div>
        <div class="form-group">
          <label>passwort</label>
          <input value="bla"/>
        </div>
        <button>Anmelden</button>
        <a>passwort vergesssen</a>
      </div>
    </div>
    <div class="login-horizontal-rule">

    </div>
    <div class="register-text">

    </div>

    <div class="detektiv-werden">

    </div>
  </div>
</div>
