<div class="content">
  <div class="text">
    <h1 class="title">Gemeinsam gegen Falschinformationen!</h1>
    <p class="paragraph">
      Mit codetekt kannst Du digitale Inhalte (Fälle) auf ihre Vertrauenswürdigkeit prüfen lassen! Reiche einen Fall ein und lasse diesen
      von der Community überprüfen oder löse selbst als Detektiv:in in der Community Fälle und lerne wie Du fragwürdige von
      vertrauenswürdigen Inhalten unterscheiden kannst.
    </p>
    <div class="button-group">
      <a [routerLink]="['/submit']" class="button button--bittersweet"><i class="far fa-typewriter"></i>Fall einreichen</a>
      <a [routerLink]="['/review']" class="button button--neon-blue"><i class="far fa-user-cowboy"></i>Fall annehmen</a>
      <a [routerLink]="['/archive']" class="button button--neon-blue button--inverted">
        <i class="far fa-cabinet-filing"></i>
        Gelöste Fälle ansehen
      </a>
    </div>
  </div>
  <img class="image" src="assets/images/illustrations/title.svg" />
</div>
