<div *ngIf="withBreadcrumbs"  class="top-section standard-content-container-width">
  <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
</div>
<div class="content-section standard-content-container-width">
  <div class="content">
    <div class="text">
      <h1 class="title">Gemeinsam gegen Falschinformationen</h1>
      <p class="paragraph">
        Bei codetekt kannst du digitale Informationen auf ihre Vertrauenswürdigkeit prüfen lassen.
        Reiche einen Fall ein und lasse diesen von der codetekt Community prüfen oder werde selbst Detektiv*in.
        Beim Lösen der Fälle kannst du deine Recherche-Fähigkeiten verbessern und vom Einsteiger- zum Expertenlevel aufsteigen.
      </p>
      <div class="button-group">
        <a [routerLink]="['/submit']" class="button button--bittersweet"><i class="far fa-typewriter"></i>Fall einreichen</a>
        <a [routerLink]="['/review']" class="button button--neon-blue"><i class="far fa-clipboard-list-check"></i>Fall bearbeiten</a>
        <a [routerLink]="['/archive']" class="button button--neon-blue button--inverted">
          <i class="far fa-cabinet-filing"></i>
          Gelöste Fälle ansehen
        </a>
      </div>
    </div>
    <img class="image" src="assets/images/illustrations/title.svg" />
  </div>
</div>
