@use '../../../../../assets/scss/fonts' as fonts;
@import '../../../../../assets/scss/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: $breakpoint-l) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 100px 0;
  }

  .text {
    @media screen and(min-width: $breakpoint-l) {
      width: 650px;
    }

    .title {
      @include fonts.font__effra--bold;
      font-size: 36px;
      line-height: initial;

      @media screen and(min-width: $breakpoint-l) {
        font-size: 52px;
      }
    }
    .paragraph {
      @include fonts.font__effra--regular;
      font-size: 18px;
    }
    .button-group {
      display: flex;
      display: column;
      justify-content: flex-start;
      gap: 1em;

      @media screen and(min-width: $breakpoint-l) {
        flex-direction: row;
        width: 650px;
        margin-top: 40px;
      }
    }
  }

  .image {
    margin-top: 16px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    order: -1;

    @media screen and(min-width: $breakpoint-l) {
      width: 500px;
      height: 377px;
      order: 1;
    }
  }
}
