<p style="margin-bottom:14.0pt;background:#FBFBFB;"><strong><span
      style='font-size:32px;line-height:107%;font-family:"Arial",sans-serif;color:#FAC800;'>Datenschutzerkl&auml;rung</span></strong>
</p>
<p
  style="margin-top:14.0pt;margin-right:0cm;margin-bottom:14.0pt;margin-left:0cm;line-height:normal;background:#FBFBFB;">
  <em><span style="font-family:Lato;color:black;">Letzte Aktualisierung am 01.03.2021</span></em></p>
<p style="text-align:justify;">Wir freuen uns &uuml;ber Ihren Besuch auf unserer Plattform. Nachfolgend erl&auml;utern
  wir, welche personenbezogenen Daten der Besucher unserer Webseite, einschlie&szlig;lich etwaiger Unterseiten und
  Subdomains (&bdquo;<strong>Webseite</strong>&ldquo;), wir verarbeiten und welche Rechte sie im Hinblick auf die
  Verarbeitung Ihrer Daten haben.</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;">Wer ist f&uuml;r die Verarbeitung
      personenbezogener Daten verantwortlich?</span></strong></p>
<p style="text-align:justify;">Der codetekt e.V. (&bdquo;<strong>codetekt</strong>&ldquo; oder
  &bdquo;<strong>wir</strong>&ldquo;, &bdquo;<strong>uns</strong>&ldquo;) ist als Verantwortlicher im Sinne der
  Datenschutz-Grundverordnung (&bdquo;<strong>DSGVO</strong>&ldquo;) f&uuml;r die Rechtm&auml;&szlig;igkeit der
  Verarbeitung Ihrer Daten verantwortlich. Sie k&ouml;nnen uns jederzeit unter den nachfolgenden Kontaktdaten erreichen:
</p>
<p style="margin-bottom:0cm;margin-top:0cm;text-align:justify;">codetekt e.V.</p>
<p style="margin-bottom:0cm;margin-top:0cm;text-align:justify;">Postfach 610259</p>
<p style="margin-bottom:0cm;margin-top:0cm;text-align:justify;">10924 Berlin</p>
<p>E-Mail: <a href="mailto:info@codetekt.org">info@codetekt.org</a></p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;">&nbsp;</span></strong></p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;">Welche personenbezogenen Daten
      werden verarbeitet? F&uuml;r welche Zwecke werden Ihre Daten verarbeitet, und auf welcher
      Rechtsgrundlage?&nbsp;</span></strong></p>
<p
  style="margin-top:14.0pt;margin-right:0cm;margin-bottom:14.0pt;margin-left:0cm;line-height:normal;background:#FBFBFB;">
  <strong><span style="color:black;">Automatische Verarbeitung von Nutzungsdaten beim Besuch der
      Webseite</span></strong></p>
<p style="text-align:justify;">Bei einem Besuch unserer Webseite verarbeiten wir automatisch die folgenden
  personenbezogenen Daten unserer Besucher:</p>
<ul style="list-style-type: disc;margin-left:44px;">
  <li><span style="color:black;">Besuchte Seite auf unserer Domain</span></li>
  <li><span style="color:black;">Datum und Uhrzeit der Serveranfrage</span></li>
  <li><span style="color:black;">Browsertyp und Browserversion</span></li>
  <li><span style="color:black;">Verwendetes Betriebssystem</span></li>
  <li><span style="color:black;">Referrer URL</span></li>
  <li><span style="color:black;">Hostname des zugreifenden Rechners</span></li>
  <li><span style="color:black;">IP-Adresse</span></li>
</ul>
<p style="text-align:justify;border:none;">Damit verfolgen wir die folgenden Zwecke:</p>
<ul class="decimal_type" style="list-style-type: disc;">
  <li>Gew&auml;hrleistung der Funktionsf&auml;higkeit der Webseite auf allen Ger&auml;ten und Betriebssystemen</li>
  <li>Gew&auml;hrleistung der Sicherheit der Webseite</li>
  <li>Verbesserung der Qualit&auml;t der Webseite durch statistische Auswertung</li>
</ul>
<p style="text-align:justify;border:none;"><span style="color:black;">Die Datenverarbeitung st&uuml;tzen wir auf unser
    berechtigtes Interesse an der Gew&auml;hrleistung der Funktionsf&auml;higkeit und Sicherheit unserer Webseite sowie
    der Optimierung unserer Webseite und Verbesserung unseres Angebots (Art. 6 Abs. 1 S.1 lit. f DSGVO).</span></p>
<p><strong>Verarbeitung von Daten zu eingereichten Inhalten</strong></p>
<p style="text-align:justify;">Wenn Besucher &uuml;ber unsere Webseite Inhalte zur &Uuml;berpr&uuml;fung einreichen,
  k&ouml;nnen sie Kontaktdaten hinterlegen, damit wir sie benachrichtigen k&ouml;nnen, sobald der eingereichte Inhalt
  &uuml;berpr&uuml;ft wurde. Au&szlig;erdem erheben wir zum Schutz unserer Webseite vor Spam-Angriffen,
  missbr&auml;uchlicher Verwendung und &auml;hnlichen Attacken ihre IP Adresse. In diesem Fall verarbeiten wir die
  folgenden personenbezogenen Daten:</p>
<ul style="list-style-type: disc;">
  <li>E-Mail Adresse und/oder</li>
  <li>Telefonnummer</li>
  <li>IP-Adresse</li>
</ul>
<p style="text-align:justify;">Wenn Besucher die genannten Daten hinterlegen, nutzen wir ein sogenanntes
  Double-Opt-In-Verfahren, um sicherzustellen, dass die Angaben echt sind und wir nicht ungefragt Nachrichten an
  Menschen verschicken. Dazu senden wir eine Best&auml;tigungsnachricht. Erst, wenn der darin enthaltene
  Best&auml;tigungslink aktiviert wurde oder der Besucher sich auf anderem Wege verifiziert hat, nutzen wir die
  E-Mail-Adresse oder Telefonnummer zur weiteren Kommunikation. Sollten die jeweiligen Kontaktdaten nicht binnen 48
  Stunden verifiziert werden, werden die Daten gel&ouml;scht. Nachdem wir den Besucher &uuml;ber das Ergebnis
  benachrichtigt haben, l&ouml;schen wir die hinterlegten Kontaktdaten aus unserer Datenbank.</p>
<p style="text-align:justify;">F&uuml;r die Verarbeitung der genannten Daten st&uuml;tzen wir uns auf die Einwilligung
  des Besuchers, der die Inhalte eingereicht hat (Art. 6 Abs. 1 S. 1 lit. a DSGVO) und auf unser berechtigtes Interesse
  an der Sicherheit unserer Webseite und an der Vermeidung von Missbrauch und Spam. (Art. 6 Abs. 1 S.1 lit. f DSGVO).
</p>
<p><strong>Verarbeitung von Daten von registrierten Nutzer*innen</strong></p>
<p style="text-align:justify;">Zur Nutzung bestimmter Funktionen (insbesondere der Beteiligung an der
  &Uuml;berpr&uuml;fung eingereichter Inhalte), k&ouml;nnen sich Freiwillige auf unserer Webseite registrieren. Die
  nachfolgenden, bei der Registrierung abgefragten Pflichtangaben m&uuml;ssen vollst&auml;ndig und richtig angegeben
  werden. Andernfalls werden wir die Registrierung ablehnen.</p>
<ul style="list-style-type: disc;">
  <li>Nutzername</li>
  <li>E-Mail Adresse</li>
</ul>
<p style="text-align:justify;">Neben den bei der Registrierung angegebenen Daten verarbeiten wir Daten, die im Rahmen
  der Registrierung (Nutzer ID) oder der Nutzung unserer Dienste erzeugt werden, insbesondere bei der
  &Uuml;berpr&uuml;fung eingereichter Inhalte.</p>
<p style="text-align:justify;">F&uuml;r die Verarbeitung Ihrer Daten f&uuml;r die vorstehenden Zwecke st&uuml;tzen wir
  uns auf die Erforderlichkeit der Verarbeitung zur Erf&uuml;llung des mit dem Freiwilligen begr&uuml;ndeten Vertrages
  sowie zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen, die auf deren Anfrage erfolgen (Art. 6 Abs. 1 S. 1 lit.
  b DSGVO).</p>
<p><strong>Newsletter</strong></p>
<p style="text-align:justify;">Auf unserer Webseite besteht die M&ouml;glichkeit, einen kostenfreien E-Mail-Newsletter
  zu abonnieren, mit dem wir regelm&auml;&szlig;ig &uuml;ber Neuigkeiten und interessante Entwicklungen und Angebote im
  Zusammenhang mit codetekt informieren. Hierzu ben&ouml;tigen wir Ihre E-Mail-Adresse. Die zus&auml;tzliche Angabe von
  Vor- und Nachname ist freiwillig und zum Versand des Newsletters nicht erforderlich. Au&szlig;erdem werden Ihre
  Nutzungsdaten bei Verwendung des Newsletters erfasst, um einen personalisierten Newsletter f&uuml;r unsere Besucher zu
  erm&ouml;glichen (z.B. wer den Newsletter &ouml;ffnet und auf welche Links der Nutzer im Newsletter klickt).</p>
<p style="text-align:justify;">F&uuml;r die Verarbeitung der aufgef&uuml;hrten Daten &nbsp;st&uuml;tzen wir uns auf die
  Einwilligung des Abonnenten des Newsletters (Art. 6 Abs. 1 S. 1 lit. a DSGVO).</p>
<p style="text-align:justify;">Die Anmeldung erfolgt im sogenannten Double-Opt-In-Verfahren, um sicherzustellen, dass
  die Angaben echt sind und dass wir nicht ungefragt Nachrichten an Menschen verschicken. Dazu senden wir eine
  Best&auml;tigungsnachricht. Erst, wenn der darin enthaltene Best&auml;tigungslink aktiviert wurde oder der Besucher
  sich auf anderem Wege verifiziert hat, nutzen wir die E-Mail-Adresse zur Versendung der Newsletter. Die Einwilligung
  kann jederzeit mit Wirkung f&uuml;r die Zukunft widerrufen werden, indem der Newsletter abgemeldet wird. Am Ende eines
  jeden Newsletters wird ein entsprechender Link bereitgestellt. Au&szlig;erdem k&ouml;nnen sich Abonnenten
  diesbez&uuml;glich jederzeit direkt &uuml;ber die zu Beginn dieser Datenschutzerkl&auml;rung aufgef&uuml;hrten
  Kontaktdaten an uns wenden.</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;">Werden auf der Webseite Cookies
      und Local Storage Technologien eingesetzt?</span></strong></p>
<p style="text-align:justify;">Wir verwenden auf unserer Webseite keine sog. Cookies (d.h. kleine Textdateien, die
  &uuml;ber den Browser im Speicher des Endger&auml;ts (z.B. Ihr Laptop oder Handy) abgelegt werden). Wir setzen jedoch
  die sogenannte Local Storage Technik ein.</p>
<p style="text-align:justify;"><strong>Was sind Local Storage?</strong></p>
<p style="text-align:justify;">Damit wir technisch notwendige Daten (z.B. Login-Information) auf dem Rechner unserer
  Besucher zwischenspeichern k&ouml;nnen, verwenden wir die Local Storage Technik (auch &bdquo;Lokale Daten&ldquo; und
  &bdquo;Lokaler Speicher&ldquo; genannt). Dabei werden Daten lokal im Cache Ihres Browsers gespeichert, die auch nach
  dem Schlie&szlig;en des Browser-Fensters oder dem Beenden des Programms &ndash; soweit sie den Cache nicht
  l&ouml;schen - weiterhin bestehen und ausgelesen werden k&ouml;nnen.</p>
<p style="text-align:justify;"><strong>Welche Local Storage werden eingesetzt und f&uuml;r welche Zwecke? Wie lange
    werden diese gespeichert?</strong></p>
<p style="text-align:justify;">Nachfolgend finden Sie eine &Uuml;bersicht, welche Local Storage wir verwenden, f&uuml;r
  welche Zwecke wir diese verwenden und wie lange diese gespeichert werden. Wir setzen die Local Storage Technik auf
  unserer Webseite ausschlie&szlig;lich ein, wenn dies technisch notwendig ist. Diese sind n&ouml;tig, um die
  Funktionalit&auml;t unserer Webseiten zu gew&auml;hrleisten.</p>
<table style="margin-left:40.85pt;border-collapse:collapse;border:none;">
  <tbody>
    <tr>
      <td style="width: 131.9pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:8.0pt;text-align:center;line-height:107%;"><strong>Name/Kategorie</strong></p>
      </td>
      <td
        style="width: 142.7pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:8.0pt;text-align:center;line-height:107%;"><strong>Speicherdauer</strong></p>
      </td>
      <td
        style="width: 137.65pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:8.0pt;text-align:center;line-height:107%;"><strong>Zweck</strong><span
            style="font-size:11px;line-height:107%;"><a href="#_msocom_1" id="_anchor_1" language="JavaScript"
              name="_msoanchor_1">[1]</a>&nbsp;</span></p>
      </td>
    </tr>
    <tr>
      <td
        style="width: 131.9pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:0cm;text-align:justify;line-height:  normal;">CognitoIdentity</p>
      </td>
      <td rowspan="2"
        style="width: 142.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:0cm;text-align:justify;line-height:  normal;">Bis zur L&ouml;schung durch den Nutzenden
        </p>
      </td>
      <td
        style="width: 137.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:0cm;text-align:justify;line-height:  normal;">Sicherstellung der
          Profil-Funktionalit&auml;t</p>
      </td>
    </tr>
    <tr>
      <td
        style="width: 131.9pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:0cm;text-align:justify;line-height:  normal;">profileColor</p>
      </td>
      <td
        style="width: 137.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
        <p style="margin-bottom:0cm;text-align:justify;line-height:  normal;">Sicherstellung der M&ouml;glichkeit, das
          Profil-Icon individuell zu gestalten</p>
      </td>
    </tr>
  </tbody>
</table>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">Soweit personenbezogene Daten im Rahmen der Local Storage verarbeitet werden,
  st&uuml;tzen wir uns auf unser berechtigtes Interesse, die Funktionalit&auml;t der Webseite zu gew&auml;hrleisten
  (Art. 6 Abs. 1 S.1 lit. f DSGVO).</p>
<p style="text-align:justify;">Local Storage k&ouml;nnen zudem jederzeit &uuml;ber die entsprechende Browsereinstellung
  gel&ouml;scht werden. Local-Storage-Inhalte verwalten Sie im Browser &uuml;ber die Einstellungen zur
  &bdquo;Chronik&ldquo; bzw. zu &bdquo;Lokalen Daten&ldquo;, je nachdem welchen Browser Sie verwenden. In diesem Fall
  kann unsere Webseite jedoch gegebenenfalls nicht optimal angezeigt werden und einige Funktionen stehen gegebenenfalls
  technisch nicht mehr zur Verf&uuml;gung.</p>
<p style="text-align:justify;">&nbsp;</p>
<p><strong><span style="font-size:19px;line-height:107%;">Bin ich verpflichtet, meine Daten
      anzugeben?&nbsp;</span></strong></p>
<p style="text-align:justify;">Wenn wir die Angabe von personenbezogenen Daten ben&ouml;tigen, etwa um einen Vertrag
  begr&uuml;nden oder durchf&uuml;hren zu k&ouml;nnen, informieren wir in dieser Datenschutzerkl&auml;rung dar&uuml;ber
  sowie dar&uuml;ber, welche m&ouml;glichen Folgen die Nichtbereitstellung hat.</p>
<p style="text-align:justify;">&nbsp;</p>
<p><strong><span style="font-size:19px;line-height:107%;">An wen werden meine Daten weitergegeben?</span></strong></p>
<p style="text-align:justify;">Um unsere Webseite bereitzustellen, nutzen wir technische Dienstleister, die
  personenbezogene Daten der Besucher in unserem Auftrag verarbeiten, um uns bei Erbringung der jeweiligen Dienste und
  Funktionalit&auml;ten unterst&uuml;tzen. Diese Dienstleister werden ausschlie&szlig;lich in unserem Auftrag t&auml;tig
  und sind verpflichtet, s&auml;mtliche notwendigen technischen und organisatorischen Ma&szlig;nahmen zu ergreifen, um
  Ihre personenbezogenen Daten gem&auml;&szlig; den datenschutzrechtlichen Erfordernissen zu sch&uuml;tzen. Eine
  Weitergabe an Dritte oder Verwendung f&uuml;r andere Zwecke ist unseren Dienstleistern nicht gestattet. Insbesondere
  schalten wir technische Dienstleister ein, um die angebotenen Funktionalit&auml;ten in technischer Hinsicht zu
  betreiben sowie Daten zu speichern und zu verwalten (z.B. Hosting-Dienstleister).</p>
<p style="text-align:justify;">Zum Betrieb unserer Webseite und zur Speicherung der Daten setzen wir Amazon Web
  Services, Inc., 410 Terry Avenue North, Seattle WA 98109, US (&bdquo;<strong>Amazon</strong>&ldquo;) ein. Das Hosting
  erfolgt dabei ausschlie&szlig;lich im AWS-Rechenzentrum in Frankfurt a.M. Dennoch ist ein Zugriff auf Daten von einem
  Staat au&szlig;erhalb der Europ&auml;ischen Union oder des Europ&auml;ischen Wirtschaftsraums m&ouml;glich. Daher
  haben wir EU Standardvertragsklauseln im Sinne von Art. 46 Abs. 2 lit. c DSGVO mit Amazon abgeschlossen. Eine Kopie
  dieser Vereinbarung kann &uuml;ber unsere oben angegebenen Kontaktdaten angefragt werden.</p>
<p style="text-align:justify;">F&uuml;r unseren E-Mail Newsletterversand nutzen wir Mailchimp, The Rocket Science Group,
  LLC, 675 Ponce de Leon Ave NE, Suite 5000, Atlanta, GA 30308 USA
  (&bdquo;<strong>Mailchimp</strong>&ldquo;).&nbsp;Dabei erfolgt auch ein Zugriff auf personenbezogene Daten aus den
  USA. Wir haben EU Standardvertragsklauseln im Sinne von Art. 46 Abs. 2 lit. c DSGVO mit Mailchimp abgeschlossen. Eine
  Kopie dieser Vereinbarung kann &uuml;ber unsere oben angegebenen Kontaktdaten angefragt werden.</p>
<p style="text-align:justify;">&nbsp;</p>
<p><strong><span style="font-size:19px;line-height:107%;">Wie lange werden meine Daten gespeichert?</span></strong></p>
<p style="text-align:justify;">Sofern in dieser Datenschutzerkl&auml;rung keine besonderen Aufbewahrungspflichten
  genannt werden, speichern wir personenbezogene Daten nur solange, wie es f&uuml;r den jeweiligen Zweck, f&uuml;r den
  wir Ihre Daten erhoben und verarbeitet haben, erforderlich ist.</p>
<p style="margin-bottom:0cm;margin-top:0cm;text-align:justify;">Nach Ablauf der jeweiligen Speicherdauer werden
  personenbezogene Daten gem&auml;&szlig; unseren L&ouml;schroutinen wieder gel&ouml;scht, es sei denn, dass gesetzliche
  Aufbewahrungspflichten (insbesondere aufgrund handels-, steuerrechtlicher oder
  vereins-/gemeinn&uuml;tzigkeitsrechtlicher Vorgaben) dem entgegenstehen oder eine l&auml;ngere Speicherung im
  konkreten Einzelfall zur Wahrung unserer berechtigten Interessen (Interesse an der Erf&uuml;llung unserer gesetzlichen
  Verpflichtungen sowie Notwendigkeit der Verarbeitung zur Geltendmachung, Aus&uuml;bung oder Verteidigung von
  Rechtsanspr&uuml;chen) erforderlich ist.</p>
<p
  style="margin-top:14.0pt;margin-right:0cm;margin-bottom:14.0pt;margin-left:0cm;line-height:normal;background:#FBFBFB;">
  <strong><span style="color:black;">Nutzungsdaten beim Besuch der Webseiten</span></strong></p>
<p style="text-align:justify;">Alle Nutzungsdaten, die automatisch bei einem Besuch auf unserer Webseite verarbeitet
  werden, werden sp&auml;testens zwei Wochen nach dem Besuch gel&ouml;scht.</p>
<p><strong>Daten zu eingereichten Inhalten</strong></p>
<p style="text-align:justify;">Daten zu eingereichten Inhalten werden nach der Zustellung des Ergebnisses unserer
  &Uuml;berpr&uuml;fung umgehend gel&ouml;scht.</p>
<p><strong>Daten von registrierten Nutzer*innen</strong></p>
<p style="text-align:justify;">Die zur Registrierung verarbeiteten Daten Freiwilliger werden gel&ouml;scht, wenn die
  Registrierung gel&ouml;scht wird. Nutzungsdaten, insbesondere Bewertungen eingereichter Inhalte, bleiben in
  anonymisierter Form erhalten, um die Funktionalit&auml;t der Anwendung zu gew&auml;hrleisten. Eine M&ouml;glichkeit,
  auf Basis dieser Daten R&uuml;ckschl&uuml;sse auf individuelle Personen zu ziehen, besteht nicht.</p>
<p style="text-align:justify;"><strong>Newsletter</strong></p>
<p style="text-align:justify;">Ihre zur Versendung des Newsletter gespeicherten Daten werden gel&ouml;scht, wenn eine
  Abmeldung von unserem Newsletter erfolgt oder wenn wir den Versand des Newsletters einstellen.</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;">Welche Rechte haben Besucher, und
      wie k&ouml;nnen diese ausge&uuml;bt werden?&nbsp;</span></strong></p>
<p style="text-align:justify;">Zur Aus&uuml;bung der nachfolgend aufgef&uuml;hrten Rechte, einschlie&szlig;lich zum
  Widerruf Ihrer Einwilligung, k&ouml;nnen sich Besucher an uns unter den zu Beginn dieser Datenschutzerkl&auml;rung
  aufgef&uuml;hrten Kontaktdaten wenden.</p>
<p style="text-align:justify;"><strong>Recht auf Auskunft (Art. 15 DSGVO)</strong></p>
<p style="text-align:justify;">Besucher haben nach Ma&szlig;gabe der gesetzlichen Bestimmungen das Recht, Auskunft
  &uuml;ber die von uns &uuml;ber sie verarbeiteten personenbezogenen Daten sowie eine Kopie dieser Daten zu verlangen.
</p>
<p style="text-align:justify;"><strong>Recht auf Berichtigung (Art. 16 DSGVO)</strong></p>
<p style="text-align:justify;">Besucher haben nach Ma&szlig;gabe der gesetzlichen Bestimmungen das Recht, die
  Berichtigung etwaiger unrichtiger Daten und, unter Ber&uuml;cksichtigung der Zwecke der Verarbeitung, die
  Vervollst&auml;ndigung unvollst&auml;ndiger Daten zu verlangen.</p>
<p style="text-align:justify;"><strong>Recht auf L&ouml;schung (Art. 17 DSGVO)</strong></p>
<p style="text-align:justify;">Besucher haben nach Ma&szlig;gabe der gesetzlichen Bestimmungen das Recht, bei Vorliegen
  berechtigter Gr&uuml;nde die L&ouml;schung der Daten zu verlangen.</p>
<p style="text-align:justify;"><strong>Recht auf Einschr&auml;nkung der Verarbeitung (Art. 18 DSGVO)</strong></p>
<p style="text-align:justify;">Besucher haben nach Ma&szlig;gabe der gesetzlichen Bestimmungen das Recht, die
  Einschr&auml;nkung der Verarbeitung ihrer Daten zu verlangen, sofern die gesetzlichen Voraussetzungen gegeben sind.
</p>
<p style="text-align:justify;"><strong>Recht auf Daten&uuml;bertragbarkeit (Art. 20 DSGVO)</strong></p>
<p style="text-align:justify;">Besucher haben nach Ma&szlig;gabe der gesetzlichen Bestimmungen das Recht, bei Vorliegen
  der gesetzlichen Voraussetzungen die von ihnen bereitgestellten Daten in einem strukturierten, g&auml;ngigen und
  maschinenlesbaren Format zu erhalten und diese Daten an einen anderen Verantwortlichen zu &uuml;bermitteln oder,
  soweit dies technisch machbar ist, von codetekt &uuml;bermitteln zu lassen.</p>
<p style="text-align:justify;"><strong>Widerspruchsrecht (Art. 21 DSGVO)</strong></p>
<p style="text-align:justify;"><strong>Besucher</strong> <strong>haben ferner das Recht, einer Verarbeitung ihrer Daten,
    die zur Wahrung der berechtigten Interessen von codetekt erfolgt, aus Gr&uuml;nden, die sich aus Ihrer besonderen
    Situation ergeben, nach Ma&szlig;gabe der gesetzlichen Bestimmungen zu widersprechen. Werden personenbezogene Daten
    von codetekt verarbeitet, um Direktwerbung zu betreiben, haben sie das Recht, dieser Verarbeitung jederzeit zu
    widersprechen, ohne dass es hierf&uuml;r besonderer Gr&uuml;nde bed&uuml;rfte.</strong></p>
<p style="text-align:justify;"><strong>Recht auf Widerruf der Einwilligung</strong></p>
<p style="text-align:justify;">Soweit die Verarbeitung Ihrer Daten auf Grundlage einer Einwilligung erfolgt, haben
  Besucher das Recht, ihre Einwilligung jederzeit zu widerrufen. Durch den Widerruf Ihrer Einwilligung wird die
  Rechtm&auml;&szlig;igkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung Ihrer Daten nicht
  ber&uuml;hrt.</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">Dar&uuml;ber hinaus haben Besucher zudem jederzeit das Recht, eine Beschwerde bei einer
  Aufsichtsbeh&ouml;rde einzureichen (Art.77 DSGVO).</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><strong><span style="font-size:19px;line-height:107%;color:black;">Wie kann diese
      Datenschutzerkl&auml;rung ge&auml;ndert werden?</span></strong></p>
<p
  style="margin-top:14.0pt;margin-right:0cm;margin-bottom:14.0pt;margin-left:0cm;text-align:justify;line-height:normal;background:#FBFBFB;">
  <span style="color:black;">Wir behalten uns vor, diese Datenschutzerkl&auml;rung anzupassen, sofern sich unsere
    Praktiken hinsichtlich des Umgangs mit personenbezogenen Daten auf unserer Webseite oder rechtliche
    Rahmenbedingungen &auml;ndern sollten. Wir werden in diesem Fall &uuml;ber die &Auml;nderungen auf unserer Webseite
    informieren. Die jeweils anwendbare Fassung dieser Datenschutzerkl&auml;rung kann jederzeit &uuml;ber unsere
    Webseite unter <a href="https://codetekt.org/">https://codetekt.org/</a> abgerufen werden.</span></p>
<div id="_com_1" language="JavaScript">
  <p><span style="font-size:11px;">&nbsp;<a href="#_msoanchor_1">[1]</a></span><strong>@codetekt:</strong> Soweit diese
    Angaben in Bezug auf die eingesetzte Local Storage Technologien getroffen werden k&ouml;nnen, sollten diese hier in
    der Tabelle angegeben werden.</p>
</div>
<div id="_com_1" language="JavaScript"><br></div>
