<div class="page-content">
  <div class="page-container-column">
    <h1>Datenschutzerklärung</h1>
    <p><i>Letzte Aktualisierung am 01.08.2020</i></p>
    <p>Wir freuen uns über Ihren Besuch auf unserer Plattform. Nachfolgend möchten wir Sie über den Umgang mit Ihren Daten gemäß Artikel 13 der Datenschutz-Grundverordnung (DSGVO) bei DetektivKollektiv informieren. Falls darüber hinaus Fragen offen bleiben, kontaktieren Sie uns bitte via <a href="mailto:DetektivKollektiv@gmail.com">DetektivKollektiv@gmail.com</a>.</p>

    <h2>Wie gewährleistet DetektivKollektiv Sicherheit und Datenschutz?</h2>
    <p>Über das DetektivKollektiv überprüfen viele Menschen Inhalte im Internet auf ihre Verlässlichkeit. Sie engagieren sich so gemeinsam für Medienkompetenz und einen faktenbasierten Diskurs online. Bei der Registrierung werden dabei für die Anlegung eines Profils persönliche Daten übermittelt. Deshalb liegen uns Datenschutz und Datensicherheit sehr am Herzen und wir bemühen uns, den bestmöglichen Schutz Ihrer Daten zu gewährleisten.</p>

    <h4>Datensparsamkeit</h4>
    <p>Das wichtigste Prinzip dabei ist die Datensparsamkeit. Wir haben unser Internet-Angebot grundsätzlich so gestaltet, dass dessen Nutzung von aussen also der öffentlich ersichtlichen Seite der Plattform anonym erfolgen kann. Um die Qualität unserer Webseiten zu verbessern, speichern wir zu statistischen Zwecken Daten über den einzelnen Zugriff auf unsere Seiten – jedoch nur in anonymisierter Form.</p>
    <p>In Fällen, in denen wir personenbezogene Daten von Ihnen benötigen, zum Beispiel beim Anlegen eines persönlichen Accounts, fragen wir nur nach solchen Daten, die wir in dem konkreten Fall zwingend benötigen und speichern diese nur solange, wie es gesetzlich zulässig ist.</p>

    <h4>Datenschutz</h4>
    <p>Um Ihre Daten vor unerwünschten Zugriffen möglichst umfassend zu schützen, treffen wir technische und organisatorische Maßnahmen.</p>
    <p>Um Ihre Daten während der Nutzung unserer Webangebote zu schützen, setzen wir grundsätzlich Verschlüsselungsverfahren ein. Ihre Angaben werden von Ihrem Rechner zu unserem Server und umgekehrt über das Internet mittels einer TLS-Verschlüsselung übertragen. Sie erkennen das daran, dass in der Statusleiste Ihres Browsers das Schloss-Symbol geschlossen ist und die Adresszeile mit https:// beginnt.</p>

    <h2>Welche Nutzungsdaten speichern wir?</h2>
    <p>Bei Nutzungsdaten handelt es sich um Informationen, die grundsätzlich anonym erhoben und für die Entwicklung der Webseiten genutzt werden. So stellen wir unter anderem die Funktionsfähigkeit der Webseite auf allen Geräten und Betriebssystemen sicher.</p>
    <p>Wenn Sie unsere Webseiten besuchen, werden auf unserem Webserver temporär sogenannte Nutzungsdaten zu statistischen Zwecken als Protokoll gespeichert, um die Qualität unserer Webseiten zu verbessern. Dieser Datensatz besteht aus:</p>
    <ul>
      <li>Besuchte Seite auf unserer Domain</li>
      <li>Datum und Uhrzeit der Serveranfrage</li>
      <li>Browsertyp und Browserversion</li>
      <li>Verwendetes Betriebssystem</li>
      <li>Referrer URL</li>
      <li>Hostname des zugreifenden Rechners</li>
      <li>IP-Adresse</li>
    </ul>
    <p>Die genannten Protokolldaten werden nur anonymisiert gespeichert.</p>

    <h4>Cookies</h4>
    <p>Cookies sind kleine Dateien, die auf der Festplatte eines*einer Besucher*in abgelegt werden. Sie erlauben es, Informationen über einen bestimmten Zeitraum vorzuhalten und den entsprechenden Rechner zu identifizieren. Zur besseren Benutzerführung und individuellen Leistungsdarstellung setzen wir permanente Cookies ein. Ferner verwenden wir sogenannte Session-Cookies, die automatisch gelöscht werden, wenn Sie Ihren Browser schließen. Die Verarbeitung erfolgt auf Grundlage von Artikel 6, Absatz 1 S.1 lit. f DSGVO. Sie können Ihren Browser so einstellen, dass er Sie über die Platzierung von Cookies informiert. So wird der Gebrauch von Cookies für Sie transparent. Sie können Cookies zudem jederzeit über die entsprechende Browsereinstellung löschen und neue Cookies verhindern. Bitte beachten Sie, dass unsere Webseiten dann gegebenenfalls nicht optimal angezeigt werden und einige Funktionen technisch nicht mehr zur Verfügung stehen.</p>

    <h4>Hosting</h4>
    <p>Wir greifen zwecks Hostings und Verteilung der Webseiteninhalte auf die Produkte „S3“, „Cloudfront“, “Lambda” und “Cognito” von Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109, USA, („AWS“) zurück, der unsere Daten im Auftrag verarbeitet. Das Hosting erfolgt dabei ausschließlich im AWS-Rechenzentrum in Frankfurt a.M. AWS ist ferner Privacy-Shield-zertifiziert und garantiert damit, auch außerhalb des europäischen Wirtschaftsraums die personenbezogenen Daten entsprechend europäischer Datenschutzgesetze zu verarbeiten (<a href="https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active</a>).</p>
    <p>Die Einbeziehung von AWS erfolgt auf Grundlage unserer berechtigten Interessen an einer sicheren und effizienten Bereitstellung sowie Optimierung unseres Onlineangebotes gem. Art. 6 Abs. 1 lit. f. DS-GVO iVm. Art. 28 DS-GVO (Auftragsverarbeitung).</p>


    <h2>Rechte der Nutzer*innen</h2>
    <p>Bei Verarbeitung Ihrer personenbezogenen Daten gewährt die DSGVO Ihnen als Nutzer*in bestimmte Rechte, über die wir Sie an dieser Stelle gerne aufklären möchten. Wenn Sie eines dieser Rechte wahrnehmen möchten, wenden Sie sich gerne per E-Mail an <a href="mailto:DetektivKollektiv@gmail.com">DetektivKollektiv@gmail.com</a>.</p>

    <h4>Auskunftsrecht (Art. 15 DSGVO)</h4>
    <p>Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob Daten verarbeitet werden, die Sie personenbezogen betreffen; ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf die in Art. 15 DSGVO im einzelnen aufgeführten Informationen.</p>

    <h4>Recht auf Berichtigung und Löschung (Art. 16 und 17 DSGVO)</h4>
    <p>Sie haben das Recht, unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten und gegebenenfalls die Vervollständigung unvollständiger personenbezogener Daten zu verlangen.</p>
    <p>Sie haben zudem das Recht, zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden, sofern einer der in Art. 17 DSGVO im einzelnen aufgeführten Gründe zutrifft, zum Beispiel, wenn die Daten für die verfolgten Zwecke nicht mehr benötigt werden.</p>

    <h4>Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)</h4>
    <p>Sie haben das Recht, für die Dauer einer etwaigen Prüfung die Einschränkung der Verarbeitung zu verlangen, wenn eine der in Art. 18 DSGVO aufgeführten Voraussetzungen gegeben ist, zum Beispiel, wenn Sie Widerspruch gegen die Verarbeitung eingelegt haben.</p>

    <h4>Recht auf Datenübertragbarkeit (Art. 20 DSGVO)</h4>
    <p>In bestimmten Fällen, die in Art. 20 DSGVO im einzelnen aufgeführt werden, haben Sie das Recht, die Sie betreffenden personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten beziehungsweise die Übermittlung dieser Daten an einen Dritten zu verlangen.</p>

    <h4>Widerspruchsrecht (Art. 21 DSGVO)</h4>
    <p>Werden Daten auf Grundlage von Art. 6 Abs. 1 lit. f erhoben (Datenverarbeitung zur Wahrung berechtigter Interessen), steht Ihnen das Recht zu, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Widerspruch einzulegen. Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, es liegen nachweisbar zwingende schutzwürdige Gründe für die Verarbeitung vor, die die Interessen, Rechte und Freiheiten der betroffenen Person überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>

    <h4>Widerruf einer Einwilligung (Art. 7 DSGVO)</h4>
    <p>Soweit die Verarbeitung Ihrer personenbezogenen Daten auf Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO beruht, haben Sie das Recht Ihre Einwilligung jederzeit zu widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitungen berührt wird. Bitte wenden Sie sich hierzu entweder an unsere in der Datenschutzerklärung angegebene Kontaktadresse oder verwenden Sie eine der im Rahmen der konkreten Verarbeitung genannten Methoden.</p>

    <h4>Beschwerderecht bei einer Aufsichtsbehörde</h4>
    <p>Sie haben gem. Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden Daten gegen datenschutzrechtliche Bestimmungen verstößt. Das Beschwerderecht kann insbesondere bei einer Aufsichtsbehörde in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes geltend gemacht werden.</p>

    <h2>Fragen zum Datenschutz</h2>
    <p>Falls Sie noch weitere Fragen zum Thema Datenschutz bei DetektivKollektiv haben, beantworten wir diese natürlich gerne. Sie können unsere Ansprechpersonen per E-Mail unter <a href="mailto:DetektivKollektiv@gmail.com">DetektivKollektiv@gmail.com</a> kontaktieren.</p>
  </div>
</div>
