<h1>Datenschutzerkl&auml;rung</h1>
<p><em>Letzte Aktualisierung am 19.01.2021</em></p>
<p>Wir freuen uns &uuml;ber Ihren Besuch auf unserer Plattform. Nachfolgend m&ouml;chten wir Sie &uuml;ber den Umgang
  mit Ihren Daten gem&auml;&szlig; Artikel 13 der Datenschutz-Grundverordnung (DSGVO) bei DetektivKollektiv
  informieren.
  Falls dar&uuml;ber hinaus Fragen offen bleiben, kontaktieren Sie uns bitte via&nbsp;<a
    href="mailto:info@detektivkollektiv.org">info@detektivkollektiv.org</a>.</p>
<p><strong>Wie gew&auml;hrleistet DetektivKollektiv Sicherheit und Datenschutz?</strong></p>
<p>&Uuml;ber das DetektivKollektiv &uuml;berpr&uuml;fen viele Menschen Inhalte im Internet auf ihre
  Verl&auml;sslichkeit. Sie engagieren sich so gemeinsam f&uuml;r Medienkompetenz und einen faktenbasierten Diskurs
  online. Bei der Registrierung werden dabei f&uuml;r die Anlegung eines Profils pers&ouml;nliche Daten
  &uuml;bermittelt. Deshalb liegen uns Datenschutz und Datensicherheit sehr am Herzen und wir bem&uuml;hen uns, den
  bestm&ouml;glichen Schutz Ihrer Daten zu gew&auml;hrleisten. Selbstverst&auml;ndlich werden personenbezogene Daten
  nicht an Dritte weitergegeben, sofern dies nicht technisch absolut notwendig und in dieser Datenschutzerkl&auml;rung
  explizit anderweitig geregelt ist.</p>
<p><strong>Datensparsamkeit</strong></p>
<p>Das wichtigste Prinzip dabei ist die Datensparsamkeit. Wir haben unser Internet-Angebot grunds&auml;tzlich so
  gestaltet, dass dessen Nutzung von aussen also der &ouml;ffentlich ersichtlichen Seite der Plattform anonym erfolgen
  kann. Um die Qualit&auml;t unserer Webseiten zu verbessern, speichern wir zu statistischen Zwecken Daten &uuml;ber
  den
  einzelnen Zugriff auf unsere Seiten &ndash; jedoch nur in anonymisierter Form.</p>
<p>In F&auml;llen, in denen wir personenbezogene Daten von Ihnen ben&ouml;tigen, zum Beispiel beim Anlegen eines
  pers&ouml;nlichen Accounts, speichern wir nur zwingend ben&ouml;tigte Daten und speichern diese nur solange, wie es
  gesetzlich zul&auml;ssig ist.</p>
<p><strong>Datenschutz</strong></p>
<p>Um Ihre Daten vor unerw&uuml;nschten Zugriffen m&ouml;glichst umfassend zu sch&uuml;tzen, treffen wir technische
  und
  organisatorische Ma&szlig;nahmen.</p>
<p>Um Ihre Daten w&auml;hrend der Nutzung unserer Webangebote zu sch&uuml;tzen, setzen wir grunds&auml;tzlich
  Verschl&uuml;sselungsverfahren ein. Ihre Angaben werden von Ihrem Rechner zu unserem Server und umgekehrt &uuml;ber
  das Internet mittels einer TLS-Verschl&uuml;sselung &uuml;bertragen. Sie erkennen das daran, dass in der
  Statusleiste
  Ihres Browsers das Schloss-Symbol geschlossen ist und die Adresszeile mit https:// beginnt.</p>
<p><strong>Welche Daten speichern wir?</strong></p>
<p><strong>Nutzungsdaten beim Besuch der Webseiten</strong></p>
<p>Bei Nutzungsdaten handelt es sich um Informationen, die grunds&auml;tzlich anonym erhoben und f&uuml;r die
  Entwicklung der Webseiten genutzt werden. Dies ben&ouml;tigen wir, um&nbsp; die Funktionsf&auml;higkeit der Webseite
  auf allen Ger&auml;ten und Betriebssystemen und die Sicherheit der Seite zu gew&auml;hrleisten</p>
<p>Wenn Sie unsere Webseiten besuchen, werden auf unserem Webserver tempor&auml;r Nutzungsdaten zu statistischen
  Zwecken
  als Protokoll gespeichert, um die Qualit&auml;t unserer Webseiten zu verbessern. Dieser Datensatz besteht aus:</p>
<ul>
  <li>Besuchte Seite auf unserer Domain</li>
  <li>Datum und Uhrzeit der Serveranfrage</li>
  <li>Browsertyp und Browserversion</li>
  <li>Verwendetes Betriebssystem</li>
  <li>Referrer URL</li>
  <li>Hostname des zugreifenden Rechners</li>
  <li>IP-Adresse</li>
</ul>
<p>Die genannten Protokolldaten werden nur anonymisiert gespeichert.</p>
<p><strong>Cookies</strong></p>
<p>Cookies sind kleine Dateien, die auf der Festplatte eines*einer Besucher*in abgelegt werden. Sie erlauben es,
  Informationen &uuml;ber einen bestimmten Zeitraum vorzuhalten und das entsprechende Endger&auml;t zu identifizieren.
  Zur besseren Benutzerf&uuml;hrung und individuellen Leistungsdarstellung setzen wir permanente Cookies ein. Ferner
  verwenden wir sogenannte Session-Cookies, die automatisch gel&ouml;scht werden, wenn Sie Ihren Browser
  schlie&szlig;en. Wir verwenden ausschlie&szlig;lich Cookies, die n&ouml;tig sind, um die Funktionalit&auml;t unserer
  Webseiten zu gew&auml;hrleisten. Die Verarbeitung erfolgt auf Grundlage von Artikel 6, Absatz 1 S.1 lit. f DSGVO.
  Sie
  k&ouml;nnen Ihren Browser so einstellen, dass er Sie &uuml;ber die Platzierung von Cookies informiert. So wird der
  Gebrauch von Cookies f&uuml;r Sie transparent. Sie k&ouml;nnen Cookies zudem jederzeit &uuml;ber die entsprechende
  Browsereinstellung l&ouml;schen und neue Cookies verhindern. Bitte beachten Sie, dass unsere Webseiten dann
  gegebenenfalls nicht optimal angezeigt werden und einige Funktionen technisch nicht mehr zur Verf&uuml;gung stehen.
</p>
<p><strong>Daten zu eingereichten Inhalten</strong></p>
<p>Reichen Sie &uuml;ber unsere Webseite Inhalte zur &Uuml;berpr&uuml;fung ein, k&ouml;nnen Sie optional eine
  E-Mail-Adresse hinterlegen, damit wir Sie benachrichtigen k&ouml;nnen, sobald ihr eingereichter Inhalt
  &uuml;berpr&uuml;ft wurde. Um Ihre Identit&auml;t und DSGVO-Konformit&auml;t sicherzustellen nutzen wir ein ein
  sogenanntes Double-Opt-In-Verfahren.</p>
<p>Dazu senden wir Ihnen eine Best&auml;tigungsnachricht. Erst, wenn Sie den darin enthaltenen Best&auml;tigungslink
  aktiviert oder sich auf anderem Wege verifiziert haben, nutzen wir die E-Mail-Adresse oder Telefonnummer zur
  weiteren
  Kommunikation mit Ihnen. So stellen wir wirkungsvoll sicher, dass wir nicht ungefragt Nachrichten an Menschen
  verschicken (Spam). Sollten Sie die jeweilige Kontaktadresse nicht verifizieren, werden Ihre Daten nach einem
  Zeitraum
  von 48 Stunden gel&ouml;scht. Nachdem wir Sie &uuml;ber das Ergebnis benachrichtigt haben, l&ouml;schen wir die
  hinterlegte Mail-Adresse aus unserer Datenbank.</p>
<p>Die entsprechende Verarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO.</p>
<p><strong>Daten von registrierten Nutzer*innen</strong></p>
<p>Zur Nutzung bestimmter Funktionen (insbesondere der Beteiligung an der &Uuml;berpr&uuml;fung eingereichter
  Inhalte),
  k&ouml;nnen Sie sich auf unserer Website registrieren. Die &uuml;bermittelten Daten dienen ausschlie&szlig;lich zum
  Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes. Bei der Registrierung abgefragte Pflichtangaben sind
  vollst&auml;ndig anzugeben. Andernfalls werden wir die Registrierung ablehnen.</p>
<p>Neben den bei der Registrierung angegebenen Daten (Nutzername &amp; E-Mail Adresse) speichern wir Daten, die Sie im
  Rahmen der Nutzung unserer Dienste erzeugen, insbesondere bei der &Uuml;berpr&uuml;fung eingereichter Inhalte</p>
<p>Die Verarbeitung der bei der Registrierung und Nutzung eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung
  (Art. 6 Abs. 1 lit. a DSGVO).</p>
<p>Wir speichern die bei der Registrierung erfassten Daten w&auml;hrend des Zeitraums, den Sie auf unserer Website
  registriert sind. Sollten Sie Ihre Registrierung aufheben, werden Ihre personenbezogenen Daten aus unseren Systemen
  gel&ouml;scht. Ihre Nutzungsdaten, insbesondere Ihre Bewertungen eingereichter Inhalte, k&ouml;nnen in
  anonymisierter
  Form erhalten bleiben, um die Funktionalit&auml;t der Anwendung zu gew&auml;hrleisten. Eine M&ouml;glichkeit, auf
  Basis dieser Daten R&uuml;ckschl&uuml;sse auf Ihre Person zu ziehen, besteht nicht. Gesetzliche Aufbewahrungsfristen
  bleiben unber&uuml;hrt.</p>
<p>&nbsp;</p>
<p><strong>Weitere Inhalte der Datenschutzerkl&auml;rung</strong></p>
<p><strong>Hosting</strong></p>
<p>Wir greifen zwecks Hostings und Verteilung der Webseiteninhalte auf Produkte von Amazon Web Services, Inc., 410
  Terry
  Avenue North, Seattle WA 98109, USA, (&bdquo;AWS&ldquo;) zur&uuml;ck, der unsere Daten im Auftrag verarbeitet. Die
  genutzten Produkte sind &bdquo;S3&ldquo; und &nbsp; zur Verteilung der Webseiten-Inhalte, &ldquo;Lambda&rdquo; und
  &bdquo;API-Gateway&ldquo; zur Datenverarbeitung, sowie &ldquo;Cognito&rdquo; und &bdquo;Aurora&ldquo; zur
  Speicherung
  von Daten. Das Hosting erfolgt dabei ausschlie&szlig;lich im AWS-Rechenzentrum in Frankfurt a.M. Die Inanspruchnahme
  von AWS erfolgt gem&auml;&szlig; Art. 6 Abs. 1 f) DSGVO aufgrund unseres berechtigten Interesses, unsere Website
  sicher und verf&uuml;gbar bereitzuhalten. Wir haben mit AWS einen Auftragsverarbeitungsvertrag einschlie&szlig;lich
  EU-Standardvertragsklauseln f&uuml;r die Verwendung von Amazon Web Services abgeschlossen. Durch diesen Vertrag
  versichert Amazon, dass sie die Daten im Einklang mit der Datenschutzgrundverordnung verarbeiten und den Schutz der
  Rechte der betroffenen Person gew&auml;hrleisten. AWS ist durch zuverl&auml;ssige Sicherheitsstandards zertifiziert.
  Durch die Einhaltung des ISO-Standards 27018 verf&uuml;gt AWS &uuml;ber ein System von Steuerungsmechanismen, die
  sich
  speziell mit dem Datenschutz der Inhalte besch&auml;ftigen. Weitere Informationen zum Datenschutz von Amazon Web
  Services finden Sie unter Weitere Informationen und die M&ouml;glichkeit zum Abschluss finden Sie unter: <a
    href="https://aws.amazon.com/de/privacy/">https://aws.amazon.com/de/privacy/</a></p>
<p><strong>Telegram-Bot</strong></p>
<p>Nutzen Sie unseren Telegram-Bot, werden folgende personenbezogene Daten von Telegram an uns &uuml;bermittelt: Ihr
  Telegram Anzeigename, ihr Telegram Nutzername, ihr Telegram-Profilbild und eine Ihrem Account zugeordnete
  Telegram-Identifikationsnummer (&bdquo;Telegram-Id&ldquo;). Interagieren Sie mit dem Telegram-Bot werden die
  Nachrichten, die Sie schreiben ebenfalls an uns &uuml;bermittelt. Um Sie &uuml;ber das Ergebnis der Beurteilung
  ihrer
  eingereichten Inhalte zu informieren, speichern wir Ihre Telegram-Id. Nachdem wir Sie &uuml;ber das Ergebnis
  benachrichtigt haben, l&ouml;schen wir die hinterlegte Telegram-Id aus unserer Datenbank.</p>
<p>Die Verarbeitung der bei der Registrierung und Nutzung eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung
  (Art. 6 Abs. 1 lit. a DSGVO).</p>
<p>Bitte beachten Sie, dass wir keinen Einfluss auf die Datenschutzbestimmungen von Telegram haben. Weitere
  Informationen zu Telegrams Datenschutzbestimmungen finden Sie unter: <a
    href="https://telegram.org/privacy">https://telegram.org/privacy</a></p>
<p><strong>Rechte der Nutzer*innen</strong></p>
<p>Bei Verarbeitung Ihrer personenbezogenen Daten gew&auml;hrt die DSGVO Ihnen als Nutzer*in bestimmte Rechte,
  &uuml;ber
  die wir Sie an dieser Stelle gerne aufkl&auml;ren m&ouml;chten. Wenn Sie eines dieser Rechte wahrnehmen
  m&ouml;chten,
  wenden Sie sich gerne per E-Mail an&nbsp;<a href="mailto:info@detektivkollektiv.org">info@detektivkollektiv.org</a>..
</p>
<p><strong>Auskunftsrecht (Art. 15 DSGVO)</strong></p>
<p>Sie haben das Recht, eine Best&auml;tigung dar&uuml;ber zu verlangen, ob Daten verarbeitet werden, die Sie
  personenbezogen betreffen; ist dies der Fall, so haben Sie ein Recht auf Auskunft &uuml;ber diese personenbezogenen
  Daten und auf die in Art. 15 DSGVO im einzelnen aufgef&uuml;hrten Informationen.</p>
<p><strong>Recht auf Berichtigung und L&ouml;schung (Art. 16 und 17 DSGVO)</strong></p>
<p>Sie haben das Recht, unverz&uuml;glich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten und
  gegebenenfalls die Vervollst&auml;ndigung unvollst&auml;ndiger personenbezogener Daten zu verlangen.</p>
<p>Sie haben zudem das Recht, zu verlangen, dass Sie betreffende personenbezogene Daten unverz&uuml;glich
  gel&ouml;scht
  werden, sofern einer der in Art. 17 DSGVO im einzelnen aufgef&uuml;hrten Gr&uuml;nde zutrifft, zum Beispiel, wenn
  die
  Daten f&uuml;r die verfolgten Zwecke nicht mehr ben&ouml;tigt werden.</p>
<p><strong>Recht auf Einschr&auml;nkung der Verarbeitung (Art. 18 DSGVO)</strong></p>
<p>Sie haben das Recht, f&uuml;r die Dauer einer etwaigen Pr&uuml;fung die Einschr&auml;nkung der Verarbeitung zu
  verlangen, wenn eine der in Art. 18 DSGVO aufgef&uuml;hrten Voraussetzungen gegeben ist, zum Beispiel, wenn Sie
  Widerspruch gegen die Verarbeitung eingelegt haben.</p>
<p><strong>Recht auf Daten&uuml;bertragbarkeit (Art. 20 DSGVO)</strong></p>
<p>In bestimmten F&auml;llen, die in Art. 20 DSGVO im einzelnen aufgef&uuml;hrt werden, haben Sie das Recht, die Sie
  betreffenden personenbezogenen Daten in einem strukturierten, g&auml;ngigen und maschinenlesbaren Format zu erhalten
  beziehungsweise die &Uuml;bermittlung dieser Daten an einen Dritten zu verlangen.</p>
<p><strong>Widerspruchsrecht (Art. 21 DSGVO)</strong></p>
<p>Werden Daten auf Grundlage von Art. 6 Abs. 1 lit. f erhoben (Datenverarbeitung zur Wahrung berechtigter
  Interessen),
  steht Ihnen das Recht zu, aus Gr&uuml;nden, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die
  Verarbeitung Widerspruch einzulegen. Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, es
  liegen nachweisbar zwingende schutzw&uuml;rdige Gr&uuml;nde f&uuml;r die Verarbeitung vor, die die Interessen,
  Rechte
  und Freiheiten der betroffenen Person &uuml;berwiegen, oder die Verarbeitung dient der Geltendmachung, Aus&uuml;bung
  oder Verteidigung von Rechtsanspr&uuml;chen.</p>
<p><strong>Widerruf einer Einwilligung (Art. 7 DSGVO)</strong></p>
<p>Soweit die Verarbeitung Ihrer personenbezogenen Daten auf Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO
  beruht, haben Sie das Recht Ihre Einwilligung jederzeit zu widerrufen, ohne dass die Rechtm&auml;&szlig;igkeit der
  aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitungen ber&uuml;hrt wird. Bitte wenden Sie sich hierzu
  entweder an unsere in der Datenschutzerkl&auml;rung angegebene Kontaktadresse oder verwenden Sie eine der im Rahmen
  der konkreten Verarbeitung genannten Methoden.</p>
<p><strong>Beschwerderecht bei einer Aufsichtsbeh&ouml;rde</strong></p>
<p>Sie haben gem. Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbeh&ouml;rde, wenn Sie der Ansicht sind,
  dass die Verarbeitung der Sie betreffenden Daten gegen datenschutzrechtliche Bestimmungen verst&ouml;&szlig;t. Das
  Beschwerderecht kann insbesondere bei einer Aufsichtsbeh&ouml;rde in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres
  Arbeitsplatzes oder des Orts des mutma&szlig;lichen Versto&szlig;es geltend gemacht werden.</p>
<p><strong>Fragen zum Datenschutz</strong></p>
<p>Falls Sie noch weitere Fragen zum Thema Datenschutz bei DetektivKollektiv haben, beantworten wir diese
  nat&uuml;rlich
  gerne. Sie k&ouml;nnen unsere Ansprechpersonen per E-Mail unter&nbsp;<a
    href="mailto:info@detektivkollektiv.org">info@detektivkollektiv.org</a> &nbsp;kontaktieren.</p>
<p>&nbsp;</p>