@use '../../../../assets/scss/colors' as colors;

:host {
  display: block;
  position: relative; // so that the arrows can be positioned from it

  .swiper-container {
    max-width: 100vw;

    .swiper-wrapper {
      .case {
        display: flex;
        align-items: center;
        gap: 15px;
        max-width: 100vw;
        margin: 0 15px;
        padding: 10px 10px;
        background-color: colors.$color__case-card;
        border-radius: 25px;

        @media only screen and (min-width: 1024px) {
          padding: 10px 20px;
        }

        &__arrow i {
          font-size: 20px;
          color: colors.$color__old-paragraph;
          cursor: pointer;

          @media only screen and (min-width: 1024px) {
            display: none;
          }
        }

        &__container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-grow: 1;

          @media only screen and (min-width: 1024px) {
            margin: 0;
          }
        }

        &__header {
          font-weight: bold;
          font-size: 21px;
        }

        &__content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 20px;

          @media only screen and (min-width: 1024px) {
            flex-direction: row;
          }
        }

        &__text {
          flex: 1;
          word-break: break-word;
        }

        &__buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;

          @media only screen and (min-width: 480px) {
            flex-direction: row;
          }

          @media only screen and (min-width: 1024px) {
            flex-direction: column;
            justify-content: center;
          }

          padding: 0 20px;
          text-align: center;
        }
      }

      .reject-button {
        cursor: pointer;
        text-decoration: none;
        color: colors.$color__neon-blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .swiper-button-prev {
    left: -60px;
  }

  .swiper-button-next {
    right: -40px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    color: colors.$color__bittersweet;

    i {
      font-size: 42px;
    }
    &:after {
      display: none; // hide the default arrows from swiperjs
    }
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }
}
