<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let case of cases">
      <div class="case">
        <div class="case__arrow" (click)="slidePrev()">
          <i class="fas fa-chevron-left slide-prev"></i>
        </div>
        <div class="case__container">
          <p class="case__header">{{ case.id | caseId }}</p>
          <div class="case__content">
            <div class="case__text">
              {{ case.content | textOverflow: 300 }}
            </div>
            <div class="case__buttons">
              <a appButton routerLink="/review" [state]="{ item: case, isOpenReview: false }">
                <i class="far fa-clipboard-list-check"></i>
                <span>Fall ansehen</span>
              </a>
              <a class="reject-button slide-next" (click)="slideNext()">Fall ablehnen</a>
            </div>
          </div>
        </div>
        <div class="case__arrow" (click)="slideNext()">
          <i class="fas fa-chevron-right slide-next"></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide" *ngIf="!cases">
      <div class="case">
        <div class="case__container">
          <p class="case__header">Du hast alle Fälle bearbeitet!</p>
          <div class="case__content">
            <div class="case__text">
              Sobald neue Fälle eingereicht werden, die du bearbeiten kannst, werden sie dir hier angezeigt. 
              <br> Schau doch einfach später nochmal vorbei.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- If we need navigation buttons -->
<ng-container *ngIf="cases">
  <div class="swiper-button-prev">
    <i class="fas fa-arrow-left"></i>
  </div>
  <div class="swiper-button-next">
    <i class="fas fa-arrow-right"></i>
  </div>
</ng-container>