<swiper
  [slidesPerView]="1"
  [spaceBetween]="50"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
  [navigation]="true"
  [pagination]="{ clickable: true }"
>
  <ng-template swiperSlide *ngFor="let case of cases; let index as i">
    <div class="case">
      <div class="case-header"><p>{{case.content}}</p></div>
      <div class="case-content">
        <div class="left-side"><p>{{case.id}}</p></div>
        <div class="right-side">
          <p>
            <a [routerLink]="['/reviews', case.id]" title=""
                class="button button--bittersweet button--hallow navigation-main__button navigation-main__button--detective navigation-flyout__link third-theme-color round-button">
                <sup class="sup-title"> <i class="fas fa-trademark"></i></sup> Fall ansehen
            </a>
          </p>
          <p>
            <a>Fall ablehnen</a>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
