@import '../../../../assets/scss/colors';

.card {
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #eee;
}


.active {
  border: 2px solid;
  background-color: white;
}

.empty {
  border: 2px solid;
  background-color: white;
}

.non-active {
  
}

.color-card {
  background-color: #722ED1;
  color: white;
}

.tag-icon {
  i {
    margin-right: 5px;
  }
}