.submit-success-page {
  .top-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .overview-section {
      .section-of-questions {
        margin: auto;
        @media only screen and (min-width: 1024px) {
          margin-left: calc((100vw - 600px) / 4); // 1/4 of extra space space
        }

        @media only screen and (min-width: 1350px) {
          margin-left: calc((100vw - 767px) / 4); // 1/4 of extra space space
        }
      }

      .submit-success-description-section {
        display: flex;
        margin-top: 50px;

        @media only screen and (max-width: 1349px) {
          flex-direction: column;

          &__right {
            order: 1;
            margin-bottom: 40px;
          }

          &__left {
            order: 2;
          }
        }

        &__right {
          display: flex;
          justify-content: center;

          img {
            width: 80%;

            @media only screen and (min-width: 480px) {
              width: 350px;
            }

            @media only screen and (min-width: 1024px) {
              margin-left: 100px;
              width: 500px;
            }
          }
        }

        p {
          font-size: 18px;
          line-height: 1.44;
          letter-spacing: normal;
          text-align: left;
        }
      }
    }
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 20px;
    justify-content: center;
  }
}
