<div class="submit-success-page">
  <div class="top-section">
  </div>
  <div class="open-cases-swiper-section">
    <!--  make these work -->
    <!-- <app-open-case-list-slider *ngIf="authenticated && cases && cases.length && !is_open_review" [cases]=cases></app-open-case-list-slider> -->
  <!-- <app-continue-case-bar *ngIf="authenticated && cases && cases.length && is_open_review" [cases]=cases></app-continue-case-bar>   -->
  </div>
  

  <div class="bottom-section">
    <div class="share-section">
      
    </div>
    <div class="solved-cases-section">
      <div class="title">In gelösten Fällen stöbern</div>
        <div class="solved-cases-container">
          <!-- <app-case-list [cases]=caseList1></app-case-list> -->
        <!-- <app-case-list [cases]=caseList2></app-case-list> -->    
        </div>
    </div>
  </div>
</div>
