<div class="submit-success-page standard-content-container-width" *ngIf="authState$ | async">
  <div class="top-section">
    <div class="overview-section">
      <span class="breadcrumb">
        <i class="far fa-home breadcrumb__link" routerLink="/"></i>
        <span class="breadcrumb__link" routerLink="/submit">Fall einreichen</span>
        <i class="fal fa-greater-than"></i>
      </span>

      <div class="submit-success-number-section">
        <div class="submit-success-number-id">#{{ item.id.split('-')[0] }} <span>Fallnummer</span></div>
      </div>

      <div class="section-of-questions">
        <app-question-carousel *ngIf="questionPrompts?.length" [questions]="questionPrompts"></app-question-carousel>
      </div>

      <div class="submit-success-description-section">
        <div class="submit-success-description-section__left">
          <div class="icon-with-content icon-with-content--bittersweet">
            <div class="icon-with-content__icon">
              <i class="fal fa-thumbs-up"></i>
            </div>
            <div class="icon-with-content__text">
              <h3 class="icon-with-content__text__heading">Vielen Dank für's Einreichen!</h3>
              <p>
                Vielen Dank für das Einreichen dieses Falls. Die Community nimmt sich dem Fall an. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              </p>
            </div>
          </div>
          <div *ngIf="withEmail" class="icon-with-content icon-with-content--neon-blue">
            <div class="icon-with-content__icon">
              <i class="fal fa-envelope-open-text"></i>
            </div>
            <div class="icon-with-content__text">
              <ng-container *ngIf="authenticated">
                <h3 class="icon-with-content__text__heading">Wir informieren dich.</h3>
                <p>Wir melden uns per E-Mail, wenn es Neuigkeiten zu deinem Fall gibt.</p>
              </ng-container>
              <ng-container *ngIf="!authenticated">
                <h3 class="icon-with-content__text__heading">Bitte bestätige deine E-Mail-Adresse.</h3>
                <p>
                  Du hast eine E-Mail-Adresse angegeben, unter der wir dich informieren, wenn es Neuigkeiten zu deinem Fall gibt. Bitte
                  bestätige diese E-Mail einmalig. Um Spam zu vermeiden, werden wir keine Neuigkeiten an unbestätigte E-Mail-Adressen
                  senden.
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="submit-success-description-section__right">
          <img src="assets/images/illustrations/undraw_searching_p5ux.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="open-cases-swiper-section" *ngIf="authenticated && cases && cases.length && !is_open_review">
    <app-open-case-list-slider [cases]="cases"></app-open-case-list-slider>
  </div>
  <app-submit-no-auth *ngIf="!authenticated"></app-submit-no-auth>
  <div class="bottom-section">
    <div class="share-section">
      <div class="share-section-top-box">
        <h3 class="share-section-heading">codetekt teilen</h3>
        <p class="share-section-title">
          Wenn dir codetekt gefällt, lass es deine Freunde wissen und sage Falschinformationen den Kampf an!
        </p>
        <p class="share-section-description">
          Marketing-Wording: Ich habe gerade einen Fall bei codetekt eingereicht. Tritt auch du der Community gegen Falschinformationen bei!
        </p>
      </div>
      <div class="social-media-icon">
        <span class="social-media-icon__link link-icon"
          ><a routerLink=""><i class="far fa-link"></i></a
        ></span>
        <span class="social-media-icon__link envelope-icon"
          ><a routerLink=""><i class="fas fa-envelope"></i></a
        ></span>
        <span class="social-media-icon__link twitter-icon"
          ><a routerLink=""><i class="fab fa-twitter"></i></a
        ></span>
        <span class="social-media-icon__link facebook-icon"
          ><a routerLink=""><i class="fab fa-facebook-f"></i></a
        ></span>
        <span class="social-media-icon__link instagram-icon"
          ><a routerLink=""><i class="fab fab fa-instagram"></i></a
        ></span>
      </div>
    </div>
    <div class="solved-cases-section" *ngIf="closedItems$ | async as closedItems">
      <div class="solved-cases-section__title">In gelösten Fällen stöbern</div>
      <div class="solved-cases-section__container">
        <app-case-list-item
          class="case-item"
          *ngFor="let closedItem of closedItems | slice: 0:closedItemCount"
          [case]="closedItem"
        ></app-case-list-item>
      </div>
      <button
        class="solved-cases-section__btn button button--neon-blue"
        *ngIf="closedItemCount <= closedItems.length"
        (click)="closedItemCount = closedItemCount + 10"
      >
        Weitere gelöste Fälle ansehen
      </button>
    </div>
  </div>
</div>
