@import '../../../../assets/scss/initializer';

.imprint-page {
  margin: auto;

  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .overview-section {
    h1 {
      color: $color__share-section-heading;
      font-size: 52px;
      font-weight: 700;
    }
    h3 {
      color: $color__share-section-heading;
      font-size: 18px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    h4 {
      color: $color__old-paragraph;
      font-size: 16px;
      font-weight: 700;
      margin-top: 25px;
      margin-bottom: 8px;
    }
    p {
      color: $color__old-paragraph;
      font-size: 16px;
      margin-top: 0px;
    }
  }
}
