<div class="imprint-page standard-content-container-width">
    <div class="top-section">
      <div class="overview-section">
        <app-breadcrumb></app-breadcrumb>
        <div>
          <h1>Impressum</h1>
          <h3>Angaben gemäß § 5 TMG</h3>                  
          <h4>codetekt e.V.</h4>
          <p>
            Wilmersdorfer Str. 122-123,<br/>
            10627 Berlin
          </p>
          <p>
            Registergericht: Amtsgericht Berlin (Charlottenburg)<br/>
            Vereinsregister: VR 38622
          </p>
          <h4>Vertreten durch:</h4>
          <p>
            Daniel Weimert
          </p>
          <h4>Kontakt</h4>
          <p>
            Telefon: +49 163 792 3101<br/>
            E-Mail: info@codetekt.org
          </p>
          <h4>Verbraucherstreitbeilegung & Universalschlichtungsstelle</h4>
          <p>          
            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
            Verbraucherschlichtungsstelle teilzunehmen.
          </p>
          <h4>Quelle:</h4>
          <p>          
            e-recht24.de
          </p>    
        </div>
      </div>    
    </div>
  </div>
  