@import '../../../../assets/scss/initializer';

.imprint-page {
  margin: auto;

  .overview-section {
    h1 {
      font-size: 52px;
      font-weight: 700;
      color: $color__share-section-heading;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      color: $color__share-section-heading;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    h4 {
      font-size: 16px;
      font-weight: 700;
      color: $color__old-paragraph;
      margin-top: 25px;
      margin-bottom: 8px;
    }    
    p {
      font-size: 16px;
      color: $color__old-paragraph;
      margin-top: 0px;
    }
  }

  .top-section {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    padding: 20px;

  }
}
