<div>
  <mat-tab-group>
    <mat-tab label="{{ 'login.label.login' | translate}}">
      <div fxLayout="column">
        <form fxLayout="column" [formGroup]="signInForm" (ngSubmit)="signIn()">
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.username.label' | translate}}</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.password.label' | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent">{{ 'login.label.login' | translate}}</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'login.label.register' | translate}}">
      <div fxLayout="column">
        <form fxLayout="column" [formGroup]="registerForm" (ngSubmit)="register()">
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.username.label' | translate}}</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.password.label' | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.confirmPassword.label' | translate}}</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>{{ 'login.email.label' | translate}}</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent">{{ 'login.label.register' | translate}}</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
