<div style="width: 75%; margin: 0 auto;">
  <h3>{{ 'checkItem.title' | translate }}</h3>

  <p>{{ 'checkItem.details' | translate }}</p>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>{{ 'checkItem.form.details.label' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'checkItem.form.details.placeholder' | translate }}" formControlName="details"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent">{{ 'checkItem.form.submit' | translate }}</button>
  </form>
</div>

