<div class="menu-dialog">
  <div mat-dialog-header class="menu-dialog-header">
    <div class="header__logo">

      <a (click)="navigate('')" title="Startseite" class="logo">
        <img src="assets/logo/codetekt_V2_rgb@4x.png" width="200" alt="Startseite" class="logo__image" />
      </a>

    </div>
    <div class="cancel-btn-container">
      <button mat-icon-button aria-label="menu-dialog-cancel-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content class="main-section">
    <!--Not logged in-->
    <div *ngIf="!authState.isLoggedIn">
      <div class="menu-top-strip">
        <div class="menu-top-strip-item-container">
          <div>
            <a (click)="navigate('register')" title=""
              class="button button--bittersweet button--hallow main-button main-button--detective navigation-flyout__link third-theme-color around-button">
              <i class="fas fa-user-cowboy"></i> <span>Detektiv*in werden</span>
          </a>
          </div>
          <div>
            <a class="main-link login-button" title="Login" (click)="navigate('login')">Login</a>
          </div>
        </div>
      </div>
      <div class="navigation-main__item active-link">
        <a  title="" class="button button--bittersweet button--gentle main-button main-button--typewriter main-link red-color" (click)="navigate('submit')">
          <i class="fas fa-typewriter"></i>Fall einreichen
        </a>
      </div>

      <div class="active-link"><a  class="main-link" title="Gelöste Fälle" (click)="navigate('archive')">Gelöste Fälle</a></div>

      <div>
        <div style="width: 100%;">
          <p class="main-link">Über uns</p>
          <div class="child-links-list">
            <div class="child-link active-link"><a title="about" (click)="navigate('/about')">Über codetekt</a></div>
            <div class="child-link active-link">Das Team</div>
            <div class="child-link active-link">Gemeinnützigkeit</div>
          </div>
        </div>
      </div>
      <div>
        <div style="width: 100%;">
          <p class="main-link">Hilfe</p>
          <div class="child-links-list">
            <div class="child-link active-link"><a title="faq" (click)="navigate('/about')">FAQ</a></div>
            <div class="child-link active-link">Die Kriterien</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Logged in -->
    <div *ngIf="userLoaded" class="authenticated">

      <div class="navigation-main__item menu-top-strip">
        <div class="menu-top-strip-item-container">
          <div class="profile">
            <div class="userprofile">
              <div class="userprofile__bubble" style="background-color: #722ED1;">
                {{user.name[0].toUpperCase()}}
              </div>
              <div class="userprofile__content">
                  <div class="userprofile__name">
                    {{user.name}}
                  </div>
                <div class="userprofile__title">
                  {{user.level_description}}
                </div>
              </div>
              <div class="userprofile__flyout-call"></div>
            </div>
          </div>
          <div class="sublinks__list">
            <div class="sublinks__list__item">
              <a class="sublinks__list__link" title="Profil" (click)="navigate('my-file')">Profil</a>
            </div>
            <div class="sublinks__list__item">
              <a (click)="logOut()" class="sublinks__list__item__link" title="Abmelden">Abmelden</a>
            </div>
          </div>
        </div>

      </div>
      <!-- TODO: Hier weitermachen -->
      <div class="navigation-main__item active-link">
        <a  title="Fall bearbeiten" class="button button--bittersweet button--gentle main-button main-button--typewriter main-link red-color" (click)="navigate('')">
          <i class="fas fa-clipboard-list-check"></i>Fall bearbeiten
        </a>
      </div>
      <div class="navigation-main__item active-link">
        <a  class="main-link" title="Fall einreichen" (click)="navigate('submit')">Fall einreichen</a>
      </div>
      <div class="navigation-main__item active-link">
        <a  class="main-link" title="Gelöste Fälle" (click)="navigate('archive')">Gelöste Fälle</a>
      </div>

      <div>
        <div style="width: 100%;">
          <p class="main-link">Hilfe</p>
          <div class="child-links-list">
            <div class="child-link active-link">FAQ</div>
            <div class="child-link active-link">Die Kriterien</div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div>

  </div>
</div>
