@charset "utf-8";
@import "../../../../assets/scss/_initializer.scss";


/*
  Note: this file is a mess.
  I was struggling a bit to merge several different sources, and
  most of the development was done using material design angualar's lists
  but overriding the material ui classes was basically impossible.
  and So i've removed the mat-list and sub components.
  some of the scss here might be uneeded..
*/

$light-reddish1: #ff7268;
$light-grey1: #F8F8F8;

// todo: move to its own component
.around-button {
  border: 1px solid #ff7269;
  padding: 15px;
  border-radius: 15px;

  i {
    margin-right: 7px;
  }

  span {}

  &:hover {
    background-color: #ff7269;
    color: white;
  }
}

.menu-dialog {
  .menu-dialog-header {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 4.375rem;
    width: 100%;
    z-index: 10000;

    .cancel-btn-container {}
  }

  .menu-dialog-content.main-section {}

  .menu-top-strip {
    min-height: 77px;
    background-color: $light-grey1;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    .menu-top-strip-item-container {
      height: 77px;
      background-color: $light-grey1;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .third-theme-color {
    color: $light-reddish1;
  }
  .around-button {
    // padding: 10px;
    padding: 15px;
    margin-right: 10px;

  }

  .main-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .main-link {
    @include font__effra--bold;
    @include _b__font-size-rem(18px);
    display: flex;
    justify-content: center;
    flex-direction: row;

    color: $color__navigation-main-link;
    font-weight: 600;
    margin: 0;
    width: 100%;
    margin-top: 40px;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      cursor: pointer;
    }
    &.red-color {
      color: orangered;
    }
  }

  .child-links-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .child-link {
    font-weight: normal;
    margin-top: 20px;
    @include _b__font-size-rem(15px);
  }

  .login-button {
    margin-top: 0;
  }

  .authenticated {

    .menu-top-strip {
      min-height: unset;
      padding: 20px;

      .menu-top-strip-item-container {
        height: unset;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;

        .sublinks {
          &__list {
            margin-left: 30px;
            margin-top: 20px;
            &__item {
              margin-top: 10px;
              &__link {}
            }
          }

        }
      }
    }
  }
}


.menu-dialog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// todo: move this somewhere more appropriate
//_userprofile.scss
.profile {
  width: 100%;
}

.userprofile {
  $parent: &;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  &__content {
    margin: 0 _b__rem(10px) 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__award {
    // @include fontawesome("f5a2");
    @include _b__font-size-rem(16px);

    margin: 0 _b__rem(4px) 0 0;

    &--gold {
      color: $color__userprofile-award-gold;
    }

    &--silver {
      color: $color__userprofile-award-silver;
    }

    &--bronze {
      color: $color__userprofile-award-bronze;
    }
  }

  &__name {
    @include font__effra--bold;
    @include _b__font-size-rem(18px);

    color: $color__mysterious-blue;
  }

  &__title {
    @include font__effra--regular;
    @include _b__font-size-rem(12px);

    color: $color__old-paragraph;
  }

  &__bubble {
    border-radius: 50%;
    width: _b__rem(32px);
    height: _b__rem(32px);
    color: $color__white;
    margin: 0 _b__rem(6px) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__flyout-call {
    // @include fontawesome("f078");
    @include _b__font-size-rem(12px);
  }
}

// todo: is this used at all??
.navigation-flyout {
  $parent: &;
  padding-left: 2rem;


  &__list {
    padding: _b__rem(10px) _b__rem(16px);
    border-radius: _b__rem(10px);
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    @include font__effra;
    @include _b__font-size-rem(15px);

    color: $color__navigation-flyout-link;
    padding: _b__rem(4px);
    display: inline-block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: #c0c0c0;
      cursor: pointer;
    }
  }
}

// causing issues

// .mat-dialog-content {
//   overflow: unset;
// }

// .cdk-overlay-pane.no-padding-dialog-container .mat-dialog-content {
//   margin: 0 !important;
// }

.navigation-mobile {
  $parent: &;

  &__call {
    // @include fontawesome("f0c9");
    @include _b__font-size-rem(24px);

    cursor: pointer;
    color: $color__navigation-mobile-call;
    padding: _b__rem(8px) _b__rem(10px);
  }
}

.active-link:hover {
  background-color: #e1e1e1;
}


