<div class="menu-dialog">
  <div mat-dialog-header class="menu-dialog-header">
    <div class="header__logo">

      <a href="javascript:;" title="Startseite" class="logo">
        <img src="assets/logo/codetekt_V2_rgb@4x.png" width="200" alt="Startseite" class="logo__image" />
      </a>

    </div>
    <div class="cancel-btn-container">
      <button mat-icon-button aria-label="menu-dialog-cancel-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
      <mat-list>
        <mat-list-item><a href="javascript:;" class="navigation-main__link" title="Über uns">Über uns</a></mat-list-item>
        <mat-list-item><a href="javascript:;" class="navigation-main__link" title="FAQ">FAQ</a></mat-list-item>
        <mat-list-item><a href="javascript:;" class="navigation-main__link" title="Gelöste Fälle">Gelöste Fälle</a></mat-list-item>
        <mat-list-item><a href="javascript:;" title=""
          class="button button--bittersweet button--hallow navigation-main__button navigation-main__button--detective">Detektiv
          werden</a></mat-list-item>
        <mat-list-item><a class="navigation-main__link" title="Login">Login</a></mat-list-item>
      </mat-list>
  </div>
</div>
