<li class="item">
    <div class="item-left">
        <h2 class="content">{{ case.result_score }}</h2>
    </div>
    <div class="item-right">
        <h2 class="received">{{ case.content }}</h2>
        <div class="item-col">
            <span class="received-txt"><small>{{ case.open_timestamp | date }}</small></span>
            <span class="closed"><small>{{ case.close_timestamp | date }}</small></span>
            <!-- <span class="confidence-index"><small>{{ case.result_score }}</small></span> -->
        </div>
    </div>    
</li>
