@use '../../../../assets/scss/colors' as colors;

:host {
  @media only screen and (min-width: 480px) {
    .case-content.case-content--inner {
      color:inherit;
      display: block;
      max-width: 650px;
    }
  }

  @media only screen and (max-width: 479px) {
    .case-content.case-content--outer {
      display: block;
      color:inherit;
      &-light{
        color: colors.$color__white;
      }
    }
  }
}

.case-content {
  display: none;
  font-size: 18px;
  margin-top: 8px;
  word-break: break-word;
}

.item {
  list-style: none;
  display: flex;
  margin: 10px 0;

  &-light {
    list-style: none;
    display: flex;
    margin: 10px 0;
    color: colors.$color__white;
  }

  p {
    margin: unset;
  }

  &__received {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    .received-txt {
      font-weight: normal;
    }
  }

  &__score {
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    margin-right: 20px;
    background-color: #eee;
    border-radius: 25px;

    &--full {
      height: unset;
    }

    h2 {
      font-size: 42px;
    }

    .red {
      color: colors.$color__rating-red;
    }

    .orange {
      color: colors.$color__rating-yellow;
    }

    .light-green {
      color: colors.$color__rating-light-green;
    }

    .green {
      color: colors.$color__rating-green;
    }
  }

  &__content {
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-bottom: 8px;
  }

  &__received {
    color: inherit;
    font-size: 21px;
  }

  &__info {
    color: inherit;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    margin-top: 8px;

    i {
      margin-right: 4px;
    }

    @media only screen and (min-width: 480px) {
      span {
        display: inline-block;
      }
    }
  }
}
