<mat-form-field class="tags-list">
  <mat-label></mat-label>
  <mat-chip-list #tagsList>
    <mat-chip *ngFor="let tag of tagsCurrent" [removable]="true" (removed)="remove(tag)">{{ tag }}<mat-icon
        matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Neuen Tag eingeben..." [matChipInputFor]="tagsList"
      [matChipInputSeparatorKeyCodes]="chipInputKeyCodes" [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)" />
  </mat-chip-list>
</mat-form-field>
