<mat-form-field class="tags-list">
  <mat-label></mat-label>
  <mat-chip-list #tagsList>
    <mat-chip *ngFor="let tag of tagsUser" [removable]="true" (removed)="remove(tag)">{{ tag }}<mat-icon matChipRemove>
        cancel</mat-icon>
    </mat-chip>
    <input ngIf="tagsUser.length < 3; else maxAmmountOfTagsAdded" placeholder="Neuen Tag eingeben..."
      [matChipInputFor]="tagsList" [matChipInputSeparatorKeyCodes]="chipInputKeyCodes" [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)" />

  </mat-chip-list>
</mat-form-field>

<ng-template #maxAmmountOfTagsAdded>
  <input disabled placeholder="Du kannst nur maximal drei Tags vergeben." [matChipInputFor]="tagsList" />
</ng-template>