@use '../../../../assets/scss/colors' as colors;

:host {
  display: flex;
  flex-direction: column;
}

.tags-list {
  width: 100%;
}

.tags-info {
  color: colors.$color__bittersweet;
  margin-top: 10px;
  margin-left: 20px;
}
