<div class="submit-success-page">
  <div class="top-section">
  </div>
  <div class="questions-section">
    <div class="questions-swiper-container">
      <!--  make this import work -->
      <!-- <app-questions-swiper></app-questions-swiper> -->
    </div>
    <div class="questions-section--list">
      <carousel [cellWidth]="360" arrowsTheme="light" [ngStyle]="{'z-index':'unset'}">

        <div class="carousel-cell question" *ngFor="let q of questionPrompts; let i=index">
          <div class="question--icon" [ngStyle]="{'background-color': q.background}"><i class="{{q.icon}}"></i></div>
          <div class="question--title">{{q.title}}</div>
          <div class="question--description questions-section-quote">{{q.description}}</div>
        </div>
      </carousel>
    </div>
  </div>
  
  <div class="bottom-section">
  
  </div>
</div>
