<div class="submit-success-page">
  <div class="top-section">
    <h1>Gelöste Fälle</h1>
    <div>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
  <div class="questions-section">
    <div class="questions-swiper-container">
      <!--  make this import work -->
      <!-- <app-questions-swiper></app-questions-swiper> -->
    </div>
    <div class="questions-section--list">
      <carousel [cellWidth]="360" arrowsTheme="light" [ngStyle]="{'z-index':'unset'}">

        <div class="carousel-cell question" *ngFor="let q of questionPrompts; let i=index">
          <div class="question--icon" [ngStyle]="{'background-color': q.background}"><i class="{{q.icon}}"></i></div>
          <div class="question--title">{{q.title}}</div>
          <div class="question--description questions-section-quote">{{q.description}}</div>
        </div>
      </carousel>
    </div>
  </div>

  <div class="middle-section">
    <h2 class="mono-font bold-weight">Dein Fall</h2>
    <p>Wenn es etwas gibt, was du gerne prüfen möchtest, trage es hier ein. Gibt es diesen Fall bereits, erhältst du das Ergebnis sofort. Falls dein Fall neu ist, werden wir ihn sofort an unser Team von Detektiven weitergeben, die den Fall dann für dich prüfen.</p>
    <div>
      <p class="mono-font bold-weight">Um welche Form von Medium handelt es sich?*</p>
      <mat-form-field class="form-select">
        <mat-label>Filter anzeigen</mat-label>
        <mat-select>
          <!-- <mat-option *ngFor="let brand of brands" [value]="brand.value">
            {{ brand.viewValue }}
          </mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <p class="mono-font bold-weight">Bitte gib den Inhalt der Textnachricht ein*</p>
      <textarea class="textarea" rows="10">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
      </textarea>
    </div>
  </div>
  <div class="bottom-section">
    <h2 class="bold-weight">Optionale Angaben</h2>
    <p>
      Du kannst uns noch freiwillig einige zusätzliche Informationen zu deinem Fall geben.
      Das hilft uns dabei, die Ausbreitung von Falschinformationen besser zu untersuchen.
    </p>
    <span class="mono-font">Wie hat dich diese Information erreicht?</span>
    <mat-radio-group>
      <mat-radio-button [checked]="false">
        Per Messenger (z.B. Whatsapp, Telegram oder SMS)
      </mat-radio-button>
      <mat-radio-button [checked]="false">
        Über soziale Medien (z.B. Facebook, Twitter, Instagram)
      </mat-radio-button>
      <mat-radio-button [checked]="false">
        Beim Surfen im Internet
      </mat-radio-button>
      <mat-radio-button [checked]="false">
        Über andere Medien (z.B. Fernsehen, Radio, Zeitung)
      </mat-radio-button>
      <mat-radio-button [checked]="false">
        Aus Gesprächen (z.B. mit Freunden oder Familienmitgliedern)
      </mat-radio-button>
      <mat-radio-button [checked]="false">
        Sonstiges
      </mat-radio-button>
    </mat-radio-group>
    <span class="mono-font">Wie oft hast du diese Information erhalten?</span>
    <input type="text">
    <span class="mono-font">Wie oft hast du diese Information erhalten?</span>
    <input type="date">
    <h2 class="bold-weight">Möchtest du benachrichtigt werden?</h2>
    <p>
      Wenn du möchtest, melden wir uns bei dir, wenn es Neuigkeiten zum Fall gibt. Wenn nicht, dann siehst du den Fall nach Abschluss im Archiv.
    </p>
    <span class="mono-font">Wie oft hast du diese Information erhalten?</span>
    <input type="email">
    <h2 class="bold-weight">Rechtliche Angaben</h2>
    <p>
      Zum Abschluss der Einreichung, hinterlasse uns bitte deine E-Mail-Adresse und bestätigte die Datenschutzerklärung und die Nutzungsbedingungen.
    </p>
    <div class="check-container">
      <mat-checkbox class="example-margin">
        <div class="option">
          <span>Ich stimme den Bedingungen der Datenschutzerklärung zu</span>
        </div>
      </mat-checkbox>
      <mat-checkbox class="example-margin">
        <div class="option">
          <span>Ich stimme den Nutzungsbedingungen zu</span>
        </div>
      </mat-checkbox>
    </div>
    <div class="legal-button-container">
      <a href='' class="abort-button button-group">Abbrechen</a>
      <button class="submit-button button-group">Lösung einreichen</button>
    </div>
  </div>
</div>
