@import '../../../../assets/scss/_initializer.scss';

.submit-page {
  width: 100vw;

  .top-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .overview-section {
      max-width: 600px;
      h1 {
        @include font__effra--bold;
        font-size: 52px;
      }
      p {
        @include font__effra--regular;
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }

  .section-of-questions {
    margin: auto;
  }

  .middle-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color__tile-background;

    .middle-section-container {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: auto;
      padding: 0px 20px;

      h2 {
        @include font__pt-mono--bold;
        font-size: 36px;
      }

      p {
        font-size: 18px;
        max-width: 600px;
      }

      .display-item-type {
        @include font__pt-mono--bold;
        color: $color__purple_gradient;
      }

      .field-container p {
        @include font__pt-mono--bold;
        font-size: 16px;
        margin-bottom: 0;
      }

      .form-select {
        width: 85%;
        font-size: 16px;
        margin-top: 10px;
        @media only screen and (min-width: 480px) {
          width: 41%;
        }
      }

      .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
        border-top-width: 0;
      }

      .mat-select-arrow-wrapper .mat-select-arrow {
        margin-top: 13px;
      }

      .mat-select-placeholder {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $color__placeholder;
        transition: none;
      }

      .mat-form-field-outline {
        .mat-form-field-outline-start {
          min-width: 10px;
          color: $color__select-border;
          border-color: $color__select-border;
          border-radius: 10px 0 0 10px;
          border-width: 2px 2px 2px 2px;
        }

        .mat-form-field-outline-end {
          color: $color__select-border;
          border-color: $color__select-border;
          border-radius: 0 10px 10px 0;
          border-width: 2px 2px 2px 2px;
        }
      }

      .textarea {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 15px;
        font-size: 16px;
        $color: $color__select-border;
        border-color: $color__select_border;
        border-radius: 10px;
        @media only screen and (min-width: 1350px) {
          width: 50%;
        }
        &:focus {
          border: 2px solid $color__user_input_border;
        }
      }
      .notify-container {
        margin: 25px 0;
        h3 {
          @include font__pt-mono--bold;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

      .email-container {
        width: 40%;
        position: relative;

        input {
          padding: 10px 15px;
          width: 100%;
          border: 1px solid $color__grey;
          border-radius: 10px;

          &:focus {
            border: 1px solid $color__grey;
          }

          &.ng-invalid.ng-touched {
            border-color: $color__warn;
            color: $color__warn;
          }
        }

        .icon {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 16px;
        }
      }

      .submit-check-container {
        margin: 25px 0;

        .mat-checkbox ~ .mat-checkbox {
          display: block;
          margin-top: 0.5rem;
        }
        a {
          color: $color__bittersweet;
        }

        .wrap-mat-checkbox {
          display: flex;
          justify-content: flex-start;
        }

        .checkbox-label {
          padding-left: 10px;
        }
      }

      .legal-button-container {
        margin: 25px 0;
        display: flex;
        justify-content: flex-end;
      }
      .narrow {
        @media only screen and (min-width: 1024px) {
          width: 50%;
        }
      }
      .mat-divider {
        width: 50%;
      }

      .lady-detective-svg-container {
        position: absolute;
        display: none;
        right: 50px;
        top: 50px;
        z-index: 5;

        @media only screen and (min-width: 1350px) {
          display: block;
        }
      }
    }
  }

}
