@import './_initializer.scss';

.button {
  $parent: &;

  @include font__effra--bold;
  @include border-radius;
  @include _b__font-size-rem(16px);

  border: _b__rem(2px) solid $color__mysterious-blue;
  padding: _b__rem(12px) _b__rem(24px);
  border-color: $color__mysterious-blue;
  color: $color__mysterious-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &::before {
    margin: 0 _b__rem(6px) 0 0;
  }

  &:disabled {
    opacity: 0.7;
  }

  &:hover:not(:disabled) {
    background-color: white;
    text-decoration: none;
  }

  @at-root a#{$parent} {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &--reject {
    text-decoration: none;
    color: $color__old-paragraph;
    justify-content: center;
    border: none;
    background: none;
    @include font__effra--regular;

    &:hover {
      background-color: transparent !important;
      color: $color__old-paragraph;
    }
  }

  &--bittersweet {
    background-color: $color__bittersweet;
    border-color: $color__bittersweet;
    color: $color__white;

    &:hover:not(:disabled) {
      color: $color__bittersweet;
    }
  }

  &--purple {
    background-color: $color__purple;
    border-color: $color__purple;
    color: $color__white;

    &:hover:not(:disabled) {
      color: $color__purple;
    }
  }

  &--neon-blue {
    background-color: $color__neon-blue;
    border-color: $color__neon-blue;
    color: $color__white;

    &:hover:not(:disabled) {
      color: $color__neon-blue;
    }
  }

  &--mysterious-blue {
    background-color: $color__mysterious-blue;
    border-color: $color__mysterious-blue;
    color: $color__white;

    &:hover:not(:disabled) {
      color: $color__mysterious-blue;
    }
  }

  &--supernova {
    background-color: $color__supernova;
    border-color: $color__supernova;
    color: $color__mysterious-blue;

    &:hover:not(:disabled) {
      color: $color__supernova;
    }
  }

  &--blue {
    background-color: $color__blue;
    border-color: $color__white;
    color: $color__white;

    &:hover:not(:disabled) {
      color: $color__blue;
      border-color: $color__blue;
    }
  }

  &--white {
    background-color: $color__white;
    border-color: $color__white;
    color: $color__mysterious-blue;
  }

  &--hallow {
    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: transparent;
    }

    &#{$parent}--neon-blue {
      color: $color__neon-blue;
    }

    &--bittersweet {
      color: $color__bittersweet;
    }

    &#{$parent}--mysterious-blue {
      color: $color__mysterious-blue;
    }

    &#{$parent}--supernova {
      color: $color__supernova;
    }

    &#{$parent}--white {
      color: $color__white;
    }
  }

  &--gentle {
    @include font__effra--bold;

    background-color: transparent;
    border-color: transparent;

    &:hover:not(:disabled) {
      background-color: transparent;
    }

    &#{$parent}--neon-blue {
      color: $color__neon-blue;
    }

    &#{$parent}--bittersweet {
      color: $color__bittersweet;
    }

    &#{$parent}--mysterious-blue {
      color: $color__mysterious-blue;
    }

    &#{$parent}--supernova {
      color: $color__supernova;
    }

    &#{$parent}--white {
      color: $color__white;
    }
  }

  &--subtle {
    @include font__effra--medium;

    background-color: transparent;
    border-color: transparent;

    &:hover:not(:disabled) {
      background-color: transparent;
    }

    &#{$parent}--neon-blue {
      color: $color__neon-blue;
    }

    &#{$parent}--bittersweet {
      color: $color__bittersweet;
    }

    &#{$parent}--mysterious-blue {
      color: $color__mysterious-blue;
    }

    &#{$parent}--supernova {
      color: $color__supernova;
    }

    &#{$parent}--white {
      color: $color__white;
    }
  }

  &--inverted {
    @include font__effra--medium;

    border: 0;

    &#{$parent}--neon-blue {
      color: $color__neon-blue;
      background-color: #f9f0ff;
    }

    &#{$parent}--bittersweet {
      color: $color__bittersweet;
    }

    &#{$parent}--mysterious-blue {
      color: $color__mysterious-blue;
    }

    &#{$parent}--supernova {
      color: $color__supernova;
    }

    &#{$parent}--white {
      color: $color__white;
    }
  }

  &--disabled {
    cursor: default;
    opacity: 0.5;
  }

  &--medium {
    padding: _b__rem(9px) _b__rem(18px);
  }

  &--small {
    @include _b__font-size-rem(14px);

    padding: _b__rem(5px) _b__rem(14px);

    &::before {
      margin: 0 _b__rem(4px) 0 0;
    }
  }
}
