.score-container {
  width: 100%;
  @media only screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }

  .item {
    width: 100%;
    @media only screen and (min-width: 480px) {
      width: 50%;
    }
  }
}
