<div class="section-background-yellow">
  <div class="section-container-small">
    <app-trust-checking-kit-section></app-trust-checking-kit-section>
    <app-supporter-section
      [wide]="true"
      supporter_file="assets/data/supporter_tck.json"
      headline="Unsere Unterstützer & Partner"
    ></app-supporter-section>
  </div>
</div>
<div class="section-background">
  <div class="section-container-small">
    <app-kit-advantages-section></app-kit-advantages-section>
  </div>
</div>
<div class="section-background-mysterious-blue">
  <div class="section-container-small">
    <app-kit-components-section json="kit_components.json"></app-kit-components-section>
  </div>
</div>
<div class="section-background">
  <a class="anchor" id="pricing"></a>
  <div class="section-container-small full-width">
    <app-pricing-section json="kit_pricing.json"></app-pricing-section>
    <app-faq-block headline="FAQ" json="faq_tck.json" [main_headline]="true"></app-faq-block>
  </div>
</div>
<div class="section-background-mysterious-blue">
  <div class="section-container-small">
    <app-workshop-call-to-action-section></app-workshop-call-to-action-section>
  </div>
</div>
