<div class="privacy-page standard-content-container-width">
  <div class="top-section">
    <div class="overview-section">
      <app-breadcrumb></app-breadcrumb>
      <div>
          <h1>Datenschutzerklärung</h1>         
          <section class="privacy-statement-intro">
            <p class="hint-italic">Letzte Aktualisierung am 20.11.2021</p>
            Wir freuen uns über Ihren Besuch auf unserer Plattform. Nachfolgend erläutern wir, welche personenbezogenen Daten der Besucher
            unserer Webseite - einschließlich etwaiger Unterseiten und Subdomains („<strong>Webseite</strong>“) -
            wir verarbeiten und welche Rechte Sie im Hinblick auf die Verarbeitung Ihrer Daten haben.
          </section>
          <section class="privacy-statement">
            <h3>Wer ist für die Verarbeitung personenbezogenerDaten verantwortlich?</h3>
            Der codetekt e.V. („<strong>codetekt</strong>“ oder „<strong>wir</strong>“, „<strong>uns</strong>“) ist als Verantwortlicher im Sinne der 
            Datenschutz-Grundverordnung („<strong>DSGVO</strong>“) für die Rechtmäßigkeit der Verarbeitung Ihrer Daten verantwortlich. 
            Sie können uns jederzeit unter den nachfolgenden Kontaktdaten erreichen:
            <address>
            codetekt e.V.<br/>          
            Postfach 610259<br/>          
            10924 Berlin<br/>          
            E-Mail: <a href="mailto:info@codetekt.org">info@codetekt.org</a>
            </address>
          </section>
          <section class="privacy-statement">
            <h3>Welche personenbezogenen Daten werden verarbeitet? Für welche Zwecke werden Ihre Daten verarbeitet, und auf welcher Rechtsgrundlage?</h3>          
          </section>
          <section class="privacy-statement">
            <h4>Automatische Verarbeitung von Nutzungsdaten beim Besuch der Webseite</h4>               
            Bei einem Besuch unserer Webseite verarbeiten wir automatisch die folgenden personenbezogenen Daten unserer Besucher:          
            <ul>
              <li>Besuchte Seite auf unserer Domain</li>
              <li>Datum und Uhrzeit der Serveranfrage</li>
              <li>Browsertyp und Browserversion</li>
              <li>Verwendetes Betriebssystem</li>
              <li>Referrer URL</li>
              <li>Hostname des zugreifenden Rechners</li>
              <li>IP-Adresse</li>
            </ul>          
            Damit verfolgen wir diese Zwecke:
            <ul>
              <li>Gewährleistung der Funktionsfähigkeit der Webseite auf allen Geräten und Betriebssystemen</li>
              <li>Gewährleistung der Sicherheit der Webseite</li>
              <li>Verbesserung der Qualität der Webseite durch statistische Auswertung</li>
            </ul>
            Die Datenverarbeitung stützen wir auf unser berechtigtes Interesse an der Gewährleistung der Funktionsfähigkeit und Sicherheit unserer Webseite,
            der Optimierung unserer Webseite sowie der Verbesserung unseres Angebots (Art. 6 Abs. 1 S.1 lit. f DSGVO).          
          </section>
          <section class="privacy-statement">
            <h4>Verarbeitung von Daten zu eingereichten Inhalten</h4>          
            Wenn Besucher über unsere Webseite Inhalte zur Überprüfung einreichen, können sie Kontaktdaten hinterlegen, damit wir sie benachrichtigen können, 
            sobald der eingereichte Inhalt überprüft wurde. Außerdem erheben wir zum Schutz unserer Webseite vor Spam-Angriffen, missbräuchlicher Verwendung 
            und ähnlichen Attacken die IP-Adresse des Besuchers. In diesem Fall verarbeiten wir die folgenden personenbezogenen Daten:
            <ul>
              <li>E-Mail Adresse und/oder</li>
              <li>Telefonnummer</li>
              <li>IP-Adresse</li>
            </ul>
            Wenn Besucher die genannten Daten hinterlegen, nutzen wir ein sogenanntes Double-Opt-In-Verfahren, um sicherzustellen, dass die Angaben echt sind 
            und wir nicht ungefragt Nachrichten an die Adressaten verschicken. Dazu senden wir eine Bestätigungsnachricht. 
            Erst wenn der darin enthaltene Bestätigungslink aktiviert wurde oder der Besucher sich auf anderem Wege verifiziert hat, 
            nutzen wir die E-Mail-Adresse oder Telefonnummer zur weiteren Kommunikation. 
            Können wir die jeweiligen Kontaktdaten nicht binnen 48 Stunden verifizieren, werden die Daten gelöscht. 
            Nachdem wir den Besucher über das Ergebnis benachrichtigt haben, löschen wir die hinterlegten Kontaktdaten aus unserer Datenbank.<br/>
            Für die Verarbeitung der genannten Daten stützen wir uns auf die Einwilligung des Besuchers, der die Inhalte eingereicht hat (Art. 6 Abs. 1 S. 1 lit. a DSGVO)
            und auf unser berechtigtes Interesse an der Sicherheit unserer Webseite und an der Vermeidung von Missbrauch und Spam (Art. 6 Abs. 1 S.1 lit. f DSGVO).
          </section>
          <section class="privacy-statement">
            <h4>Verarbeitung der Daten registrierter Nutzer*innen</h4>
            Zur Nutzung bestimmter Funktionen (insbesondere der Beteiligung an der Überprüfung eingereichter Inhalte), können sich Freiwillige 
            auf unserer Webseite registrieren. Die nachfolgenden bei der Registrierung abgefragten Pflichtangaben müssen vollständig und richtig 
            angegeben werden. Andernfalls werden wir die Registrierung ablehnen.
            <ul>
              <li>Nutzername</li>
              <li>E-Mail Adresse</li>
            </ul>
            Neben den bei der Registrierung angegebenen Daten verarbeiten wir Daten, die im Rahmen der Registrierung (Nutzer ID) oder der Nutzung
            unserer Dienste erzeugt werden, insbesondere bei der Überprüfung eingereichter Inhalte.<br/>          
            Für die Verarbeitung Ihrer Daten für die vorstehenden Zwecke stützen wir uns auf die Erforderlichkeit der Verarbeitung zur Erfüllung
            des mit dem Freiwilligen begründeten Vertrages sowie zur Durchführung vorvertraglicher Maßnahmen, die auf deren Anfrage erfolgen
            (Art. 6 Abs. 1 S. 1 lit. b DSGVO).
          </section>
          <section class="privacy-statement">
            <h3>Newsletter</h3>
            Auf unserer Webseite besteht die Möglichkeit, einen kostenfreien E-Mail-Newsletter zu abonnieren, mit dem wir regelmäßig über Neuigkeiten
            und interessante Entwicklungen und Angebote im Kontext von codetekt informieren. Hierzu benötigen wir Ihre E-Mail-Adresse.
            Die zusätzliche Angabe von Vor- und Nachname ist freiwillig und zum Versand des Newsletters nicht erforderlich.
            Außerdem werden Ihre Nutzungsdaten bei Verwendung des Newsletters erfasst, um einen personalisierten Newsletter 
            für unsere Besucher zu ermöglichen (z.B. wer den Newsletter öffnet und auf welche Links der Nutzer im Newsletter klickt).<br/>
            Für die Verarbeitung der aufgeführten Daten  stützen wir uns auf die Einwilligung des Newsletter-Abonnenten
            (Art. 6 Abs. 1 S. 1 lit. a DSGVO).<br/>
            Die Anmeldung erfolgt im sogenannten Double-Opt-In-Verfahren, um sicherzustellen, dass die Angaben echt sind und dass wir nicht
            ungefragt Nachrichten an die Adressaten verschicken. Dazu senden wir eine Bestätigungsnachricht. Erst wenn der darin enthaltene Bestätigungslink
            aktiviert wurde oder der Besucher sich auf anderem Wege verifiziert hat, nutzen wir die E-Mail-Adresse zur Versendung des Newsletters.
            Die Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen werden, indem der Newsletter abgemeldet wird. 
            Am Ende eines jeden Newsletters wird ein entsprechender Link bereitgestellt. Außerdem können sich Abonnenten diesbezüglich jederzeit
            direkt über die zu Beginn dieser Datenschutzerklärung aufgeführten Kontaktdaten an uns wenden.          
          </section>
          <section class="privacy-statement">
            <h3>Adobe Typekit</h3>          
            Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Adobe Typekit bereitgestellt werden. 
            Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in Ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen.<br/>
            Anbieter dieser Dienste ist:
            <ul>
              <li>Adobe Systems Incorporated: 345 Park Avenue, San Jose, California 95110-2704, USA</li>
              <li>Adobe Systems Software Ireland Limited: 4-6 Riverwalk, City West Business Campus, Saggart, Dublin 24, Irland</li>
            </ul>
            Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von Adobe Typekit aufnehmen. Laut eigenen Angaben verarbeitet Adobe
            hierbei keine personenbezogenen Daten. Dennoch besteht die Möglichkeit, dass Adobe Kenntnis darüber erlangt, dass über Ihre IP-Adresse unsere Webseite
            aufgerufen wurde. Daher haben wir EU Standardvertragsklauseln im Sinne von Art. 46 Abs. 2 lit. c DSGVO mit Amazon abgeschlossen. 
            Eine Kopie dieser Vereinbarung kann über unsere oben angegebenen Kontaktdaten angefragt werden.<br/>          
            Die Nutzung von Adobe Typekit Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote. 
            Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.<br/>          
            Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine Standardschrift Ihres Computer genutzt.<br/>
            Weitere Informationen zu Adobe Typekit Web Fonts
            finden Sie unter <a href="https://fonts.adobe.com/typekit">Adobe Typekit</a> und in der Datenschutzerklärung zu Adobe Fonts:
            <a href="https://www.adobe.com/de/privacy/policies/typekit.html">Adobe Policies</a> .
          </section>
          <section class="privacy-statement">
            <h3>Werden auf der Webseite Cookies und Local Storage Technologien eingesetzt?</h3>          
            Wir verwenden auf unserer Webseite keine sogenannten Cookies 
            (d.h. kleine Textdateien, die über den Browser im Speicher des Endgeräts - z.B. auf Ihrem Laptop oder Handy - abgelegt werden).
            Wir setzen jedoch die sogenannte Local Storage Technik ein.          
          </section>
          <section class="privacy-statement">
            <h4>Was ist Local Storage?</h4>          
            Damit wir technisch notwendige Daten (z.B. die Login-Information) auf dem Rechner unserer Besucher zwischenspeichern können, verwenden wir die Local Storage Technik
            (auch „Lokale Daten“ und „Lokaler Speicher“ genannt). Dabei werden Daten lokal im Cache Ihres Browsers gespeichert, die auch nach dem Schließen des Browser-Fensters
            oder dem Beenden des Programms – soweit Sie den Cache nicht löschen - weiterhin bestehen und ausgelesen werden können.
          </section>
          <section class="privacy-statement">
            <h4>Welche Local Storage werden eingesetzt und für welche Zwecke? Wie lange werden diese gespeichert?</h4>
            Nachfolgend finden Sie eine Übersicht, welche Local Storage Technik wir verwenden, für welche Zwecke wir diese verwenden und wie lange diese gespeichert werden.
            Wir setzen die Local Storage Technik auf unserer Webseite ausschließlich ein, wenn dies technisch notwendig ist, um die Funktionalität unserer Webseite zu gewährleisten.
            <table class="privacy-content-table">             
              <thead>
                <tr>
                  <th><strong>Name/Kategorie</strong></th>
                  <th><strong>Speicherdauer</strong></th>
                  <th><strong>Zweck</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CognitoIdentity</td>
                  <td>Bis zur Löschung durch den Nutzenden</td>
                  <td>Sicherstellen der Profil-Funktionalität</td>
                </tr>
                <tr>
                  <td>profileColor</td>
                  <td>Bis zur Löschung durch den Nutzenden</td>
                  <td>Sicherstellen der Möglichkeit, das Profil-Icon individuell zu gestalten</td>
                </tr>
              </tbody>
            </table>
            Soweit personenbezogene Daten im Rahmen der Local Storage Technik verarbeitet werden, stützen wir uns auf unser berechtigtes Interesse,
            die Funktionalität der Webseite zu gewährleisten (Art. 6 Abs. 1 S.1 lit. f DSGVO).<br/>          
            Local Storage Inhalte können zudem jederzeit über die entsprechende Browsereinstellung gelöscht werden. Local Storage Inhalte verwalten Sie
            im Browser über die Einstellungen zur „Chronik“ bzw. zu „Lokalen Daten“, je nachdem welchen Browser Sie verwenden.
            In diesem Fall kann unsere Webseite jedoch gegebenenfalls nicht optimal angezeigt werden und einige Funktionen stehen 
            gegebenenfalls technisch nicht mehr zur Verfügung.          
          </section>
          <section class="privacy-statement">          
            <h3>Bin ich verpflichtet, meine Daten anzugeben?</h3>     
            Wenn wir die Angabe von personenbezogenen Daten benötigen, etwa um einen Vertrag begründen oder durchführen zu können, informieren wir in dieser 
            Datenschutzerklärung darüber und erläutern, welche möglichen Folgen die Nichtbereitstellung hat.
          </section>
          <section class="privacy-statement">
            <h3>An wen werden meine Daten weitergegeben?</h3>          
            Um unsere Webseite bereitzustellen, nutzen wir technische Dienstleister, die personenbezogene Daten der Besucher in unserem Auftrag verarbeiten, um uns bei 
            Erbringung der jeweiligen Dienste und Funktionalitäten unterstützen. Diese Dienstleister werden ausschließlich in unserem Auftrag tätig und sind verpflichtet,
            sämtliche notwendigen technischen und organisatorischen Maßnahmen zu ergreifen, um Ihre personenbezogenen Daten gemäß den datenschutzrechtlichen Erfordernissen
            zu schützen. Eine Weitergabe an Dritte oder Verwendung für andere Zwecke ist unseren Dienstleistern nicht gestattet. Insbesondere schalten wir
            technische Dienstleister ein, um die angebotenen Funktionalitäten in technischer Hinsicht zu betreiben sowie Daten zu speichern und zu verwalten
            (z.B. Hosting-Dienstleister).
          </section>
          <section class="privacy-statement">
            <h4>Amazon Web Services</h4>          
            Zum Betrieb unserer Webseite und zur Speicherung der Daten setzen wir Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109,
            US („<strong>Amazon</strong>“) ein. Das Hosting erfolgt dabei ausschließlich im AWS-Rechenzentrum in Frankfurt a.M. 
            Dennoch ist ein Zugriff auf Daten von einem Staat außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums möglich.
            Daher haben wir EU Standardvertragsklauseln im Sinne von Art. 46 Abs. 2 lit. c DSGVO mit Amazon abgeschlossen.
            Eine Kopie dieser Vereinbarung kann über unsere oben angegebenen Kontaktdaten angefragt werden.
          </section>
          <section class="privacy-statement">      
            <h4>Mailchimp</h4>          
            Für unseren E-Mail Newsletterversand nutzen wir Mailchimp, The Rocket Science Group, LLC, 675 Ponce de Leon Ave NE, Suite 5000, Atlanta,
            GA 30308 USA („<strong>Mailchimp</strong>“). Dabei erfolgt auch ein Zugriff auf personenbezogene Daten aus den USA.
            Wir haben EU Standardvertragsklauseln im Sinne von Art. 46 Abs. 2 lit. c DSGVO mit Mailchimp abgeschlossen.
            Eine Kopie dieser Vereinbarung kann über unsere oben angegebenen Kontaktdaten angefragt werden.        
          </section>
          <section class="privacy-statement">
            <h3>Wie lange werden meine Daten gespeichert?</h3>          
            Sofern in dieser Datenschutzerklärung keine besonderen Aufbewahrungspflichten genannt werden, speichern wir personenbezogene Daten nur solange,
            wie es für den jeweiligen Zweck, für den wir Ihre Daten erhoben und verarbeitet haben, erforderlich ist.<br/>
            Nach Ablauf der jeweiligen Speicherdauer werden personenbezogene Daten gemäß unseren Löschroutinen wieder gelöscht, es sei denn,
            dass gesetzliche Aufbewahrungspflichten (insbesondere aufgrund handels-, steuerrechtlicher oder vereins-/gemeinnützigkeitsrechtlicher Vorgaben)
            dem entgegenstehen oder eine längere Speicherung im konkreten Einzelfall zur Wahrung unserer berechtigten Interessen
            (Interesse an der Erfüllung unserer gesetzlichen Verpflichtungen sowie Notwendigkeit der Verarbeitung zur Geltendmachung, Ausübung oder
            Verteidigung von Rechtsansprüchen) erforderlich ist.
          </section>
          <section class="privacy-statement">
            <h4>Nutzungsdaten beim Besuch der Webseiten</h4>          
            Alle Nutzungsdaten, die automatisch bei einem Besuch auf unserer Webseite verarbeitet werden, werden spätestens zwei Wochen nach dem Besuch gelöscht.
          </section>
          <section class="privacy-statement">
            <h4>Daten zu eingereichten Inhalten</h4>          
            Daten zu eingereichten Inhalten werden nach der Zustellung des Ergebnisses unserer Überprüfung umgehend gelöscht.         
          </section>
          <section class="privacy-statement">
            <h4>Daten von registrierten Nutzer*innen</h4>          
            Die zur Registrierung verarbeiteten Daten Freiwilliger werden gelöscht, wenn die Registrierung gelöscht wird. Nutzungsdaten, insbesondere Bewertungen
            eingereichter Inhalte, bleiben in anonymisierter Form erhalten, um die Funktionalität der Anwendung zu gewährleisten.
            Eine Möglichkeit, auf Basis dieser Daten Rückschlüsse auf individuelle Personen zu ziehen, besteht nicht.
          </section>
          <section class="privacy-statement">         
            <h3>Newsletter</h3>          
            Ihre zur Versendung des Newsletter gespeicherten Daten werden gelöscht, wenn eine Abmeldung von unserem Newsletter erfolgt oder wenn wir 
            den Versand des Newsletters einstellen.
          </section>
          <section class="privacy-statement">         
            <h3>Welche Rechte haben Besucher, und wie können diese ausgeübt werden?</h3>          
            Zur Ausübung der nachfolgend aufgeführten Rechte, einschließlich zum Widerruf Ihrer Einwilligung, können sich Besucher an uns unter den
            zu Beginn dieser Datenschutzerklärung aufgeführten Kontaktdaten wenden.        
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Auskunft (Art. 15 DSGVO)</h4>          
            Besucher haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, Auskunft über die von uns über sie verarbeiteten personenbezogenen Daten
            sowie eine Kopie dieser Daten zu verlangen.
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Berichtigung (Art. 16 DSGVO)</h4>          
            Besucher haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, die Berichtigung gegebenenfalls unrichtiger Daten und - unter Berücksichtigung
            der Zwecke der Verarbeitung - die Vervollständigung unvollständiger Daten zu verlangen.
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Löschung (Art. 17 DSGVO)</h4>          
            Besucher haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, bei Vorliegen berechtigter Gründe die Löschung der Daten zu verlangen.
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)</h4>          
            Besucher haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, die Einschränkung der Verarbeitung ihrer Daten zu verlangen,
            sofern die gesetzlichen Voraussetzungen gegeben sind.
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Datenübertragbarkeit (Art. 20 DSGVO)</h4>          
            Besucher haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, bei Vorliegen der gesetzlichen Voraussetzungen die von ihnen
            bereitgestellten Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten an einen anderen Verantwortlichen
            zu übermitteln oder, soweit dies technisch machbar ist, von codetekt übermitteln zu lassen.
          </section>
          <section class="privacy-statement">
            <h4>Widerspruchsrecht (Art. 21 DSGVO)</h4>          
            <b>Besucher haben ferner das Recht, einer Verarbeitung ihrer Daten, die zur Wahrung der berechtigten Interessen von codetekt erfolgt,
            aus Gründen, die sich aus ihrer besonderen Situation ergeben, nach Maßgabe der gesetzlichen Bestimmungen zu widersprechen.
            Werden personenbezogene Daten von codetekt verarbeitet, um Direktwerbung zu betreiben, haben sie das Recht, dieser Verarbeitung
            jederzeit zu widersprechen, ohne dass es hierfür besonderer Gründe bedürfte.</b>
          </section>
          <section class="privacy-statement">
            <h4>Recht auf Widerruf der Einwilligung</h4>          
            Soweit die Verarbeitung Ihrer Daten auf Grundlage einer Einwilligung erfolgt, haben Besucher das Recht, ihre Einwilligung jederzeit zu widerrufen. 
            Durch den Widerruf ihrer Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung ihrer Daten nicht berührt.
            Darüber hinaus haben Besucher zudem jederzeit das Recht, eine Beschwerde bei einer Aufsichtsbehörde einzureichen (Art.77 DSGVO).
          </section>
          <section class="privacy-statement">
            <h3>Wie kann diese Datenschutzerklärung geändert werden?</h3>          
            Wir behalten uns vor, diese Datenschutzerklärung anzupassen, sofern sich unsere Praktiken hinsichtlich des Umgangs mit personenbezogenen Daten 
            auf unserer Webseite oder rechtliche Rahmenbedingungen ändern sollten. Wir werden in diesem Fall über die Änderungen auf unserer Webseite informieren. 
            Die jeweils anwendbare Fassung dieser Datenschutzerklärung kann jederzeit über unsere Webseite 
            unter <a title="Datenschutz" [routerLink]="['/privacy-statement']">Datenschutzerklärung</a> abgerufen werden.
          </section>
        </div>
    </div>    
  </div>
</div>          