@use    '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/initializer';

.privacy-page {
  margin: auto;
   
  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 20px 30px 20px;
  }

  .overview-section {
    h1 {
      font-size: 32px;
      font-weight: 700;
      @media only screen and (min-width: 480px) {
        font-size: 52px;
      }
      color: colors.$color__share-section-heading;
    }
    
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: colors.$color__share-section-heading;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      color: colors.$color__old-paragraph;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    a {
      color: colors.$color__bittersweet;
      text-decoration: none;
    }

    p {
      font-size: 16px;
      color: colors.$color__old-paragraph;
      margin-top: 0px;
    }

    ul {
      list-style-type: square;
      font-size: 16px;
      color: colors.$color__old-paragraph;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    li {
      margin-left: 40px;  
      margin-top: 0px;
      margin-bottom: 5px;
    }

    address {
      margin-top: 10px;
    }

    strong {
      @include font__effra--bold;
    }

    .privacy-statement-intro {      
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .privacy-statement {
      font-size: 16px;
      line-height: 22px;
      color: colors.$color__old-paragraph;
      margin-top: 0px;      
    }
   
    .privacy-content-table {
      width: 100%;
      font-size: 15px;
      text-align:left;
      margin-top: 15px;
      margin-bottom: 10px;
      td, th {
        vertical-align:top;
      }
    }
  }
}
