@use '../../../../assets/scss/fonts' as fonts;

:host {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .review-response {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 8px;

    &__count {
      @include fonts.font__effra--bold;
      font-size: 24px;
    }

    &__answer {
      @include fonts.font__effra;
      font-size: 18px;
    }

    &--small {
      font-size: 16px;
    }

    &--single {
      grid-template-columns: 1fr;
    }

    .strong {
      font-weight: 700;
    }
  }
}
