<ng-container *ngIf="!loading; else skeleton">
  <div *ngFor="let response of givenResponsesPercentages$ | async" class="review-response">
    <div class="review-response__count">{{ response.count }}%</div>
    <div class="review-response__answer">
      der Fragen wurden mit <span class="strong">{{ response.answer }}</span> beantwortet.
    </div>
  </div>

  <div
    *ngFor="let response of notGivenResponsesPercentages$ | async"
    class="review-response review-response--single review-response--small"
  >
    <div>
      <span class="strong">Keine</span> Frage wurde mit <span class="strong">{{ response.answer }}</span> beantwortet.
    </div>
  </div>

  <div
    class="review-response review-response--small"
    [class.review-response--single]="!noCriteriaResponsesPercentage.count"
    *ngIf="noCriteriaResponsesPercentage$ | async as noCriteriaResponsesPercentage"
  >
    <span *ngIf="!noCriteriaResponsesPercentage.count">Die Kriterien waren auf alle Fragen anwendbar.</span>
    <ng-container *ngIf="noCriteriaResponsesPercentage.count > 0">
      <div class="review-response__count">{{ noCriteriaResponsesPercentage.count }}%</div>
      <div class="review-response__answer">der Fragen hatten Kriterien, die nicht anwendbar waren.</div>
    </ng-container>
  </div>
</ng-container>

<ng-template #skeleton>
  <div class="skeleton skeleton-text"></div>
  <div class="skeleton skeleton-text"></div>
  <div class="skeleton skeleton-text"></div>
</ng-template>
