<div class="user-icon-large" [routerLink]="['/my-file']">
  <mat-icon class="profile-icon-background"
    [class.purpleIcon]="profileColor == 'yellow'"
    [class.coralIcon]="profileColor == 'purple'"
    [class.yellowIcon]="profileColor == 'coral'"
  >bookmark</mat-icon>
  <span class="profile-icon-level">{{ user.level }}</span>
  <div class="profileCircle" 
    [class.yellowCircle]="profileColor == 'yellow'"
    [class.purpleCircle]="profileColor == 'purple'"
    [class.coralCircle]="profileColor == 'coral'">
    <div class="user_initials">{{ user.name.substring(0,2) }}</div>
  </div>
</div>
<div class="profile-color-selection-container">
  <mat-radio-group 
    aria-label="Bitte wähle eine Farbe für dein Profilbild" 
    class="profile-color-radio-group"
    [(ngModel)]="profileColor"
    (change)="profileColorChanged()">
    <mat-radio-button value="yellow" class="yellow-radio-button"></mat-radio-button>
    <mat-radio-button value="purple" class="purple-radio-button"></mat-radio-button>
    <mat-radio-button value="coral" class="coral-radio-button"></mat-radio-button>
  </mat-radio-group>
</div>