@import '../../../../assets/scss/initializer';

:host {
  width: 100%;
}

.archive-page {
  margin: auto;

  @media only screen and (min-width: 1024px) {
    width: 900px;
    margin-left: calc((100vw - 900px) / 4);
  }

  @media only screen and (min-width: 1350px) {
    width: 1240px;
    margin-left: calc((100vw - 1240px) / 4);
  }

  .top-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      padding: 80px 20px;
    }

    app-rating-legend {
      flex: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .user-xp {
        background: red;
      }
    }

    .overview-section {
      max-width: 746px;

      h1 {
        font-size: 52px;
        font-weight: 700;
        color: #4a4a4a;
      }
    }
  }

  .bottom-section {
    padding: 0 20px;
  }

  // todo: I think probably a lot of the below can be removed now.
  // but i was unsure on how to resolve a merge conflict.
  .archive-list-setting {
    display: flex;
    margin-top: 50px;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    .search-input {
      width: 100%;
      flex-grow: 1;

      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }

    .archive-list-options {
      display: flex;
      flex-grow: 1;
      gap: 20px;
      justify-content: space-between;
      margin: 20px 20px 0;

      @media only screen and (min-width: 768px) {
        justify-content: space-around;
        margin-top: 0;
      }
    }

    .archive-list-option {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__btn {
        color: #8989a2;

        &--menu {
          display: none;
        }

        @media only screen and (min-width: 480px) {
          &--menu {
            display: block;
          }

          &--dialog {
            display: none;
          }
        }
      }

      &__trigger {
        &:hover {
          color: #8989a2;
        }
      }

      > * ~ * {
        margin-left: 4px;
      }
    }
  }
}
