<div class="archive-page standard-content-container-width">
  <div class="top-section">
    <div class="overview-section">
      <span class="breadcrumb">
        <i class="far fa-home breadcrumb__link" routerLink="/"></i>
        <i class="fal fa-greater-than"></i>
      </span>

      <h1>Gelöste Fälle</h1>
      <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
        est Lorem ipsum dolor sit amet.
      </div>
    </div>
    <div class="rating-legend-section">
      <!-- The color bar component goes here! -->
      <app-rating-legend></app-rating-legend>
    </div>
  </div>

  <app-question-carousel *ngIf="!!archiveQuestions" [questions]="archiveQuestions"></app-question-carousel>

  <div class="bottom-section">
    <!-- the stuff below, is the old page, i will delete later. -->
    <div class="archive-list-setting">
      <mat-form-field class="search-input mat-form-field--alt" appearance="fill">
        <mat-label>Fälle durchsuchen</mat-label>
        <mat-chip-list #chipList class="search-chip-list search-chip-list--neon-blue">
          <mat-chip *ngFor="let keyword of filter.keywords" [selectable]="false" [removable]="true" (removed)="remove(keyword)">
            {{ keyword }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="archive-list-options">
        <div class="archive-list-option">
          <span class="bold-weight">Filter</span>
          <span class="archive-list-option__btn">anzeigen</span>
          <i class="far" [ngClass]="true ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
        </div>

        <div class="archive-list-option">
          <span class="archive-list-option__btn">Sortiert nach:</span>
          <span class="bold-weight">Datum</span>
          <i class="far" [ngClass]="true ? 'fa-sort-size-down' : 'fa-sort-size-up'"></i>
        </div>
      </div>
    </div>
    <app-archive-list [archives]="items"></app-archive-list>
  </div>
</div>
