<div class="archive-page">
  <div class="top-section">
    <div class="overview-section">
      <h1>Gelöste Fälle</h1>
      <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
    <div class="rating-legend-section">
      <!-- The color bar component goes here! -->
      <app-rating-legend></app-rating-legend>
    </div>
  </div>
  <app-question-carousel *ngIf="!!archiveQuestions" [questions]=archiveQuestions></app-question-carousel>

  <div class="bottom-section">
  <!-- the stuff below, is the old page, i will delete later. -->
  <div class="archive-list-setting">
    <div class="search-input">
      <input type="search" class="input-tag" placeholder="Fälle durchsuchen">
      <mat-icon class="icon">search</mat-icon>
    </div>
    <mat-form-field>
      <mat-label>Filter anzeigen</mat-label>
      <mat-select>
        <!-- <mat-option *ngFor="let brand of brands" [value]="brand.value">
          {{ brand.viewValue }}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sortiert nach</mat-label>
      <mat-select>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
  <app-archive-list [archives]="items"></app-archive-list>
</div>
