.submit-success-page{
  .top-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    div {
      flex: 50%;
    }

    .overview-section{
        .submit-success-number-section{
            .submit-success-number-id {
                font-size: 52px;
                font-weight: bold;
                span {
                    font-size: 17px;
                    color: #8989a2;
                }
            }
        }
        .submit-success-description-section {
          margin-top: 10%;
        }
        .submit-success-description-section p {
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
        }
        .submit-success-description-section{
          .like-wrapper{
            display: flex;
            .like-icon-box1{
              max-width: 75px;
            }
            .like-icon-box2 {
              .like-icon-heading{
                font-size: 21px;
              }

            }
            .like-icon-box1 i{
              width: 60px;
              height: 60px;
              margin: 0px 10px -3px 0;
              padding: 12.9px 2.5px;
              background-color: #ff7268;
              color: white;
              border-radius: 30px;
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
              font-size: 23px;
              justify-content: center;
              align-items: center;
              display: flex;
            }
          }

          .message-wrapper{
            display: flex;
            margin-top: 10%;
            .message-icon-box1{
              max-width: 75px;
            }
            .message-icon-box2 {
              .message-icon-heading{
                font-size: 21px;
              }
            }
            .message-icon-box1 i{
              width: 60px;
              height: 60px;
              margin: 0px 10px -3px 0;
              padding: 12.9px 2.5px;
              background-color: #722ed1;
              color: white;
              border-radius: 30px;
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
              font-size: 23px;
              justify-content: center;
              align-items: center;
              display: flex;
            }
          }
        }
    }

    .overview-right-section {
        flex: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


  }
}
