<div class="watson-section">
  <div class="watson-left-section">
    <div class="watson-ellipse">
      <div class="noun_Mustache_19580"><span class="watson-mustache"><img src="assets/images/mustache.png"></span></div>
    </div>
  </div>
  <div class="watson-right-section">
    <span class="watson-heading">Watson</span>
    <span class="watson-description">Hi👋. Ich habe Recherchen zu diesem Fall angestellt. Möchtest du die Ergebnisse sehen?</span>
    <button (click)="showBtn()" *ngIf="isShownBtn" class="watson-button"><i class="fal fa-check"></i><span>Ja</span></button>
    <button class="watson-button" *ngIf="isShownBtn"><i class="fal fa-times"></i><span> Nein</span></button>

    <div *ngIf="isShownText" class="hier-text-section" >
      "Hier steht der Titel des Fact-Checks. Es kann sein, dass er etwas länger ist."<i class="far fa-external-link-square-alt"></i>
    </div>
  </div>
</div>

