.watson-section {
  width: 100%;
  max-width: 300px;
  padding: 15px 10px;
  border-radius: 30px;
  display: flex;
  background-color: #30475e;
  margin-bottom: 20px;
    .watson-left-section{
      .watson-ellipse {
        width: 33px;
        height: 32px;
        margin: 0 10px 13px 0;
        padding: 12.9px 2.5px;
        background-color: #ff7268;
        border-radius: 30px;
          .watson-mustache{
            position: relative;
              img {
                position: absolute;
                top: -9px;
                max-width: 25px;
                left: 1px;
            }
          }
        }
      }
      .watson-right-section{
        .watson-heading {
          line-height: 20px;
          color: #fff;
          font-weight: bold;
          margin-top: 5px;
          display: block;
        }
        .noun_Mustache_19580 {
          width: 27px;
          height: 6.2px;
          background-color: #fff;
        }

        .hier-text-section{
          color: #ff7268;
          font-size: 14px;
        }
      }

    .watson-description {
      font-family: Effra medium, Effra regular, sans-serif;
      display: flex;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: normal;
      color: #fff;
      margin-bottom: 10px;
    }
    .watson-button {
      cursor: pointer;
      border: none;
      display: initial;
      padding: 5px 7px;
      margin-right: 5px;
      border-radius: 20px;
      background-color: #fff;

      i{
        font-weight: 500;
      }
    }
}
