<div class="page-container-column" *ngIf="!finished; else finish">
  <div *ngIf="!caseAccepted" class="heading">
    <h1>
      Du willst einen Fall lösen?
      <span class="alt">Versuche dich doch an diesem Fall.</span>
    </h1>
    <p>
      Lies dir die Details zu diesem Fall gründlich durch. Wenn du denkst, dass
      du den Fall lösen kannst, klicke auf
      <i><b>Fall annehmen</b></i>. Falls du lieber einen anderen Fall lösen willst, klicke auf
      <i><b>Fall ablehnen</b></i>, dann erhälst du einen neuen Fall.
    </p>
  </div>
  <div class="flex-container">
    <div class="app-file-container">
      <app-file>
        <div class="case-container">
          <h3>Der Tatbestand:</h3>
          <p class="case-content">{{ caseToSolve?.content }}</p>
        </div>
        <div *ngIf="!caseAccepted; else accepted" class="button-group">
          <button (click)="accept()" [disabled]="caseToSolve === undefined" class="button-primary">
            Fall annehmen
          </button>
          <button (click)="reject()" *ngIf="!openReview" [disabled]="caseToSolve === undefined" class="button-flat">
            Fall ablehnen
          </button>
        </div>
      </app-file>
    </div>
    <app-factcheck [caseId]="caseToSolve?.id"></app-factcheck>
  </div>
</div>

<ng-template #accepted>
  <app-review-process [review]="review" [itemId]="caseToSolve.id" (reviewFinish)="closeReview()"></app-review-process>
</ng-template>

<ng-template #finish>
  <div class="page-container-column">
    <h1>Danke, <span class="alt">dass du diesen Fall gelöst hast!</span></h1>
    <div class="review-finished">
      <div>
        <p>
          Du hast dafür <b>einen Erfahrungspunkt</b> erhalten.<br /><br />
          Was möchtest du jetzt tun?
          Du kannst noch einen Fall lösen, gelöste Fälle im Archiv ansehen oder dich in unserer Signal-Gruppe mit anderen Detektiv*innen austauschen. 
        </p>
        <div class="button-group">
          <button (click)="ngOnInit()" class="button-primary">
            Neuen Fall lösen
          </button>
          <button [routerLink]="['/archive']" class="button-primary">
            Zum Archiv
          </button>
          <button (click)='openSignal()' class="button-primary">
            Community Chat
          </button>
        </div>
      </div>
      <img height="380" src="assets/images/illustrations/undraw_with_love_ajy1.svg" width="380" />
    </div>
  </div>
</ng-template>
