<ng-container *ngIf="closedItems$ | async as closedItems">
  <div class="title">In gelösten Fällen stöbern</div>
  <div class="container">
    <app-case-list-item
      class="case-item"
      *ngFor="let closedItem of closedItems | slice: 0:closedItemCount"
      [case]="closedItem"
    ></app-case-list-item>
  </div>
  <ng-container *ngIf="closedItemCount <= closedItems.length">
    <button class="btn" appButton *ngIf="!expand" routerLink="/archive">Weitere gelöste Fälle ansehen</button>
    <button class="btn" appButton *ngIf="expand" (click)="closedItemCount = closedItemCount + 10">Weitere gelöste Fälle ansehen</button>
  </ng-container>
</ng-container>
