@use    '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/initializer';

.faqblock {
  padding-top: 15px;

  h2 {
    font-size: 32px;
    color: $color__share-section-heading;

  }
}
