<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a class="home" routerLink="/dashboard">
          <img src="../assets/logo/Logo.svg" height="25%" width="25%">
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a mat-list-item (click)="login()">
              <mat-icon class="icon">account_circle</mat-icon>
              <span class="label">{{user.username || 'login' | translate}}</span>
            </a>
          </li>
          <li>
            <a mat-list-item (click)="logout()">
              <mat-icon class="icon">exit_to_app</mat-icon>
              <span class="label">{{'logout' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main></main>
  </mat-sidenav-content>
</mat-sidenav-container>
