mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 5px;
}
 .app-file-container{
  width: 75%;
  margin-top: 3vh;
}

mat-panel-title {
  font-family: Oswald;
  color: #4A4A4A;
}

mat-panel-title:hover {
  color: #FFCC00;
}

mat-panel-title.mat-expanded {
  color: #FFCC00;
}

textarea {
  width: 100%;
  height: 100%;
}

form.form-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 80%;
}

/* ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
} */

