@use '../../../../assets/scss/fonts' as fonts;
@import '../../../../theme.scss';

.page-container-column {
  .top-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    div {
      flex: 50%;
    }

    .overview-section {
      h1 > span {
        font-size: 52px;
        font-weight: bold;
      }
    }
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 5px;
}
.app-file-container {
  width: 100%;
  margin-top: 3vh;
}

mat-panel-title {
  @include fonts.font__effra--medium;
  color: #4a4a4a;
}

mat-panel-title:hover {
  color: mat-color($custom-theme-accent);
}

mat-panel-title.mat-expanded {
  color: mat-color($custom-theme-accent);
}

textarea {
  width: 100%;
  height: 100%;
}

form.form-left-aligned {
  display: flex;
  flex-direction: column;
  align-items: left;
}

mat-form-field {
  width: 100%;
}

.mail-field {
  width: 50%;
}

.info-text {
  width: 60%;
  margin-right: 5%;
}

.secret-checkbox {
  display: none;
}

app-result-score {
  width: max-content;
}

.actions {
  display: flex;
  justify-content: center;
}
