<div *ngIf="!submitted; else finish" class="page-container-column">
  <div class="heading">
    <h1>Ein neuer Fall für das DetektivKollektiv? <span class="alt">Reiche ihn hier ein.</span></h1>
    <p>Gib hier die Details zu deinem Fall ein. Das kann entweder eine Behauptung sein, oder ein Link. Sobald du auf
      Fall absenden klickst, prüfen wir ob wir diesen Fall schon bearbeitet haben. Dann erhältst du sofort ein Ergebnis.
      Falls dein Fall neu ist, werden wir ihn sofort an unser Team von Detektiven weitergeben, die den Fall dann für
      dich prüfen.</p>
  </div>
  <app-file [heading]="'Fall einreichen'" subheading="Schritt {{stepper.selectedIndex + 1}} von 3">
    <form [formGroup]="formGroup" style="width: 100%">
      <mat-horizontal-stepper #stepper formArrayName="formArray" linear style="width: 100%">
        <mat-step [stepControl]="formArray?.get([0])" formGroupName="0" style="width: 100%">
          <mat-form-field style="width: 100%">
                    <textarea formControlName="contentFormControl" matInput placeholder="Text oder Verlinkung eingeben"
                              rows="20"
                              style="width: 100%; height: 100%"></textarea>
            <mat-error>Bitte gib einen Text oder eine Verlinkung ein</mat-error>
          </mat-form-field>
          <div class="button-group">
            <button class="button-primary" matStepperNext>Weiter</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="formArray?.get([1])" formGroupName="1" style="width: 100%">
          <p>
            Du kannst uns noch freiwillig einige zusätzliche Informationen zu deinem Fall geben.<br/>
            Das hilft uns dabei, die Ausbreitung von Falschinformationen besser zu untersuchen.
          </p>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Wie hat dich die Information erreicht?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-label>Wähle aus von wem du die Information erhalten hast.</mat-label>
              <mat-radio-group formControlName="sourceFormControl">
                <mat-radio-button value="1">Von engen Freunden oder Familienmitgliedern</mat-radio-button>
                <mat-radio-button value="2">Von Bekannten</mat-radio-button>
                <mat-radio-button value="3">Von Fremden</mat-radio-button>
                <mat-radio-button value="4">Sonstiges:</mat-radio-button>
                <mat-form-field>
                  <mat-label>Sonstiges</mat-label>
                  <input formControlName="sourceTextFormControl" matInput>
                </mat-form-field>
              </mat-radio-group>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Wie oft hat dich die Information erreicht?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-label>Gib hier ein, wie oft du die Information erhalten hast.</mat-label>
              <br/>
              <mat-form-field>
                <mat-label>Anzahl</mat-label>
                <input matInput type="number" formControlName="frequencyFormControl">
              </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Wann hat dich die Information erreicht?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-label>Wähle hier das Datum aus, an dem du die Information zum ersten Mal erhalten hast.
              </mat-label>
              <br/>
              <mat-form-field appearance="fill">
                <mat-label>Wähle ein Datum</mat-label>
                <input [matDatepicker]="picker" [max]="today" formControlName="receivedFormControl" matInput>
                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="button-group">
            <button class="button-primary" matStepperNext>Fall einreichen</button>
            <button class="button-flat" matStepperPrevious>Zurück</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="formArray?.get([2])" formGroupName="2" style="width: 100%">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h4>Wie möchtest du dein Ergebnis erhalten?</h4>
            <mat-form-field>
              <input add formControlName="emailFormControl" matInput ng-recaptcha placeholder="E-Mail"
                     type="email"
                     yarn>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="mobileFormControl" matInput placeholder="Handynummer" type="tel">
            </mat-form-field>
            <re-captcha (resolved)="resolved($event)"
                        siteKey="6LfPfQEVAAAAAKwGNarkjs4jMG_o_ufk3f3DQ1Go"></re-captcha>
          </div>
          <div class="button-group">
            <button (click)="submit()" [disabled]="!submitEnabled" class="button-primary">Fall absenden</button>
            <button class="button-flat" matStepperPrevious>Zurück</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </app-file>
</div>

<ng-template #finish>
  <div class="page-container-column">
    <h1>Danke, <span class="alt">dass du deinen Fall eingereicht hast!</span></h1>
    <div style="display: flex; flex-direction: row; width: 100%; height: 100%">
      <div>
        <p>
          Unser Team von Detektiven prüft nun deinen Fall.<br/>
          Sobald dein Fall gelöst wurde, erhältst du eine Benachrichtigung via E-Mail oder Handynummer.<br/><br/>
          Was möchtest du jetzt tun?
        </p>
        <div class="button-group">
          <button (click)="ngOnInit()" class="button-primary">Fall einreichen</button>
          <button (click)="navigate('review')" class="button-primary" disabled>Fall lösen</button>
          <button (click)="navigate('archive')" class="button-primary" disabled>Zum Archiv</button>
        </div>
      </div>
      <img height="380" src="assets/images/illustrations/undraw_with_love_ajy1.svg" width="380"/>
    </div>
  </div>
</ng-template>
