@use '../../../../../assets/scss/colors' as colors;

.edgy-border{
    clip-path: polygon(0 100%, 25% 0, 50% 50%, 75% 10%, 100% 75%, 100% 100%);
    background-color: colors.$color__tile-background;
    height: 30px;
    @media only screen and (min-width: 768px) {
        height: 50px;
    }
}
.rotated{
    transform: rotate(180deg);
}