@import "../../../../assets/scss/_buttons.scss";
.login-form-card {
	border-radius: 30px;
	background: #fff;
	margin: 20px;

	.login-form-card--contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0px;
		padding:0px;
		// background-color: #f8f8f8;

		.login-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px 30px 31px;

			.full-width-input {
			    width: 100%;
			    display: inline-block;
			    margin:10px 0;
			}				
			.submit-button {
			    margin-top: 20px;
			}			
			.mat-form-field {
				width: 310px;	
			}
		}
	}

}
