@import "../../../../assets/scss/_buttons.scss";
.login-form-card {
	border-radius: 30px;
	background: #fff;

	.login-form-card--contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 40.1px 0 40px;
		padding: 30px 30px 31px;
		// background-color: #f8f8f8;

		.login-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px 30px 31px;

			.full-width-input {
			    width: 100%;
			    display: inline-block;
			    margin:10px 0;
			}			
			label {			    
			    font-size: 12px;
			    display: inline-block;
			    max-width: 100%;
			    margin-bottom: 5px;
			    font-weight: 700;			
			}
			.form-control {
			    display: inline-block;
			    width: 100%;
			    height: 34px;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #555;
			    background-color: #fff;
			    background-image: none;
			    border: 1px solid #ccc;
			    border-radius: 4px;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			}			
			.submit-button {
			    margin-top: 20px;
			}			
			.mat-form-field {
				width: 350px;	
			}
		}
	}

}
