@import "../../../../assets/scss/_buttons.scss";
.login-form-card {
	border-radius: 30px;

	.login-form-card--contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 410px;
		height: 326px;
		margin: 40.1px 0 40px;
		padding: 30px 30px 31px;
		// background-color: #f8f8f8;

		.login-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			
			.mat-form-field {
				width: 350px;	
			}
		}
	}

}
