@use '../../../assets/scss/fonts' as fonts;
@use '../../../assets/scss/colors' as colors;

h1 {
  @include fonts.font__effra--bold;
  font-size: 68px;
  color: colors.$color__mysterious-blue;
  margin-top: 16px;
}
.section-background {
  width: 100vw;
  background-color: colors.$color__white;
  justify-content: center;

  display: flex;
  flex: 1 1 auto;

  app-breadcrumb {
    align-self: flex-start;
  }
  &-grey-edges {
    @extend .section-background;
    background-image: url(/assets/images/backgrounds/grey-edgy-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin-top: -20px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  &-info {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }
  .image {
    margin-top: 16px;
    align-self: center;

    &-mobile {
      width: 80%;
      @media screen and(min-width: 800px) {
        display: none;
      }
    }
    &-desktop {
      display: none;
      @media screen and(min-width: 800px) {
        display: flex;
        width: 50%;
        max-height: 500px;
        order: 1;
      }
    }
  }
}
.text {
  @include fonts.font__effra--regular;
  color: colors.$color__mysterious-blue;
  font-size: 18px;

  &-bold {
    @include fonts.font__effra--bold;
    color: colors.$color__mysterious-blue;
  }
  &-narrow {
    max-width: 580px;
  }
}

.about-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 820px;
  margin: auto;
  margin-top: 20px;

  @media screen and(min-width: 800px) {
    flex-direction: row;
    gap: 40px;
  }

  &-alt {
    @extend .about-snippet;

    @media screen and(min-width: 800px) {
      flex-direction: row-reverse;
    }
  }

  .icon {
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    color: colors.$color__white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    &-supernova {
      background-color: colors.$color__supernova;
    }

    &-bittersweet {
      background-color: colors.$color__bittersweet;
    }

    &-neon-blue {
      background-color: colors.$color__neon-blue;
    }

    &-mysterious-blue {
      background-color: colors.$color__mysterious-blue;
    }
  }

  .title {
    @include fonts.font__effra--bold;
    font-size: 36px;
    line-height: normal;
    margin: 0;
  }

  .text {
    @include fonts.font__effra--regular;
    font-size: 18px;
  }
}
.criteria-grid {
  @media screen and(min-width: 800px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
}
