<div class="section-background">
    <div class="standard-content-container-width">
        <app-breadcrumb></app-breadcrumb>

        <div class="intro">
            <h1>Das codetekt Trust-Checking</h1>
            <img class="image image-mobile" src="assets/images/illustrations/trust-checking.svg" />
            <p class="text">"Trust-Checking" - das Überprüfen von Vertrauenswürdigkeit - ist unser Ansatz, um
                Medienkompetenz und
                Quellenanalyse der breiten Öffentlichkeit zugänglich zu machen. Denn wir alle können als kritische
                Detektiv*innen einen Beitrag zu einer gut informierten Gesellschaft leisten!
            </p>
            <div class="intro-info">
                <img class="image image-desktop" src="assets/images/illustrations/trust-checking.svg" />
                <div>
                    <p class="text text-narrow">
                        <span class="text-bold">Unterschied zum Fact-Checking<br></span>
                        Beim bereits bekannten "Fact-Checking" (dem Überprüfen von Fakten) braucht es meist umfangreiche
                        Expertise in einem bestimmen Bereich, viel Zeit und eine journalistische Ausbildung, um den
                        Wahrheitsgehalt einer Nachricht zu beurteilen. Bei unserem Trust-Checking Ansatz geht es daher
                        nicht
                        um
                        "wahr oder falsch". Fakten können sich in dynamischen Situation wie einer Pandemie schnell
                        ändern.
                        Uns
                        geht es um die Beurteilung der Vertrauenswürdigkeit von Nachrichten und Artikeln anhand von
                        journalistischen Qualitätskriterien, die jederzeit als Checkliste genutzt werden können.
                    </p>
                    <p class="text text-narrow">
                        <span class="text-bold">Mit Trust-Checking gegen Falschinformationen vorgehen<br></span>
                        Fehlende Quellenangaben, falsche Zitate und unpassende Bilder machen eine Informationen bereits
                        ohne
                        ein
                        umfangreiches Fact-Checking weniger vertrauenswürdig. Mit diesen und weiteren Kriterien des
                        Trust-Checkings
                        wollen wir jede*n in die Lage versetzen, selbst die Vertrauenswürdigkeit von Informationen
                        schnell
                        und
                        möglichst objektiv einzuschätzen.
                        Keine dieser Kriterien macht den finalen Vertrauensindex einer Nachricht alleine aus. Es ist die
                        kollektive
                        Bewertung mehrer Kriterien in der Community, die letztlich zusammen Auskunft über die
                        Vertrauenswürdigkeit
                        einer Information gibt. Mehr über den Prozess findest du weiter unten. Let's codetekt!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-background-grey-edges">
    <div class="standard-content-container-width">
        <div class="about-snippet">
            <div class="icon icon-neon-blue">
                <i class="fal fa-users"></i>
            </div>
            <div>
                <p class="title">1. Die Falleinreichung
                </p>
                <p class="text">
                    Du stößt auf eine Information, die
                    dir komisch vorkommt. Reiche den Fall kostenlos und anonym zur Prüfung auf codetekt.org ein.
                    Bisher kann unsere Community Nachrichten in Form von Online-Artikeln und Textnachrichten
                    (WhatsApp etc.) prüfen. </p>
            </div>
        </div>
        <div class="about-snippet-alt">
            <div class="icon icon-bittersweet">
                <i class="fal fa-gamepad"></i>
            </div>
            <div>
                <p class="title">2. Die Community erhält den Fall
                </p>
                <p class="text">
                    Der Fall wird nach dem
                    Zufallsprinzip an unsere freiwillige Community von Detektiv*innen verteilt. Wenn der Fall
                    von
                    einem*r Detektiv*in angenommen wird, geht es zum nächsten Schritt. </p>
            </div>
        </div>
        <div class="about-snippet">
            <div class="icon icon-supernova">
                <i class="fal fa-flashlight"></i>
            </div>
            <div>
                <p class="title">3. Die Beurteilung des Einzelnen
                </p>
                <p class="text">
                    Die Detektiv*innen bekommen per Zufallsprinzip ca. sieben Fragen aus unserem Fragenkatalog
                    gestellt, der insgesamt ca. 12 Fragen umfasst. Die Fragen unterscheiden sich leicht nach Art
                    des
                    Falls (Textnachricht oder Online-Artikel) und werden auf einer Skala beantwortet. Nach der
                    Beurteilung einer jeden Frage, können die Detektiv*innnen auch ein Kommentar zum jeweiligen
                    Fall
                    hinterlassen.
                </p>
            </div>
        </div>
        <div class="about-snippet-alt">
            <div class="icon icon-mysterious-blue">
                <i class="fal fa-hand-holding-heart"></i>
            </div>
            <div>
                <p class="title">4. Die Beurteilung der Community
                </p>
                <p class="text">
                    Damit ist der Fall noch nicht abgeschlossen! Dieser wird nun wieder an die Community gegeben
                    und
                    muss im Peer Review Verfahren von insgesamt acht Detektiv*innen bewertet werden um eine
                    abschließende Bewertung zu erhalten. Die einzelnen Bewertungen erfolgen anonym ohne
                    Vorwissen
                    der vorherigen Bewertung. Die Bewertungen der verschiedenen Detektiv*innen werden dann
                    miteinander verglichen und der Vertrauensindex von 0 - 100 errechnet sich. Ein Fall mit dem
                    Score von 100 wäre sehr vertrauenswürdig!
                </p>
            </div>
        </div>
        <div class="about-snippet">
            <div class="icon icon-supernova">
                <i class="fal fa-flashlight"></i>
            </div>
            <div>
                <p class="title">5. Die Veröffentlichung

                </p>
                <p class="text">
                    Nachdem ein Fall von genug Detektiv*innen bewertet wurde, wird das Ergebnis der
                    einreichenden
                    Person von Schritt eins per Email gesendet und mit dem entsprechenden Vertrauensindex unter
                    "Gelöste Fälle" für alle zugänglich veröffentlicht. Hier kannst du die detaillierte
                    Bewertung
                    mit Kommentaren der Community transparent verfolgen. </p>
            </div>
        </div>

    </div>
</div>

<div class="section-background">
    <div class="standard-content-container-width criteria-grid">
        <app-trust-checking-criterion *ngFor="let criterion of tcCriteria" [criterion]="criterion"></app-trust-checking-criterion>

    </div>
</div>