@use '../../../../assets/scss/fonts' as fonts;
@use '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/variables';
@import '../../landing-page/landing-page.component.scss';

.section-background {
  width: 100vw;  

  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  background-color: colors.$color__white;  

  margin-left: 10px;
  padding: 0 30px 0 10px;

  @media screen and(min-width: $breakpoint-m) {
    margin-left: 20px;
    padding: 0;
  }

  app-breadcrumb {
    align-self: flex-start;
  }

  &-grey-edges {
    @extend .section-background;
    background-image: url(/assets/images/backgrounds/grey-edgy-background.svg);
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: -20px;
    padding: 100px 30px 70px 10px;

    @media screen and(min-width: $breakpoint-s) {      
      margin: -15px 0 0 0;
      padding: 80px 0;
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;

  margin-top: 16px;

  h1 {
    @include fonts.font__effra--bold;
    font-size: 36px;
    line-height: initial;
  
    @media screen and(min-width: $breakpoint-l) {
      font-size: 52px;
    }    
  }

  &-info {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }

  .image {
    margin-top: 16px;
    align-self: center;

    &-mobile {
      width: 80%;
      @media screen and(min-width: $breakpoint-s) {
        display: none;
      }
    }
    &-desktop {
      display: none;
      @media screen and(min-width: $breakpoint-s) {
        display: flex;
        width: 40%;
        max-height: 450px;
        order: 1;
      }
    }
  }
}

.text {
  font-size: 18px;
  
  &-intro {
    max-width: 650px;

    @media screen and (min-width: $breakpoint-m) {
      max-width: 1100px;
    }
  }
 
  &-narrow {
    font-size: 16px;
    max-width: 650px;

    @media only screen and (min-width: $breakpoint-m) {
      max-width: 680px;
    }
  }
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 0;

  
}

.section-heading-grey {
  @include fonts.font__pt-mono--bold;
  font-size: 21px; 
  color: colors.$color__grey;
}

.about-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;

  @media screen and(min-width: $breakpoint-m) {
    flex-direction: row;
    gap: 40px;
  }

  &-alt {
    @extend .about-snippet;

    @media screen and(min-width: $breakpoint-m) {
      flex-direction: row-reverse;
    }
  }

  .illustration {
    img {
      max-height: 100px;
      max-width: 100px;
    }
    padding-bottom: 12px;

    @media screen and(min-width: $breakpoint-m) {
      padding-bottom: 0;      
      img {
        max-height: 150px;
        max-width: 150px;
      }
    }
  }

  .title {
    @include fonts.font__effra--bold;
    font-size: 36px;
    line-height: normal;
    margin: 0;
  }

  .text {
    font-size: 18px;
  }
}

.criteria-grid {
  @media screen and(min-width: 800px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and(min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
}
