<div class="section-background">
    <div class="standard-content-container-width">
        <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>

        <div class="intro">
            <h1>Das codetekt Trust-Checking</h1>
            <img class="image image-mobile" src="assets/images/illustrations/trust-checking.svg" />
            <p class="text text-intro">
                Trust-Checking - das Prüfen der Vertrauenswürdigkeit - ist unser Ansatz, 
                einer möglichst breiten Öffentlichkeit Medienkompetenz und Quellenanalyse zu vermitteln.
                Wir alle können als kritische Detektiv*innen einen Beitrag zu einer gut informierten Gesellschaft leisten.                
            </p>
            <div class="intro-info">
                <img class="image image-desktop" src="assets/images/illustrations/trust-checking.svg" />
                <div>
                    <p class="section-heading-grey">Unterschied zum Fact-Checking</p>
                    <p class="text text-narrow">
                        <span class="hint-italic">Fact-Checking</span> prüft Behauptungen über Fakten. Um den Wahrheitsgehalt von Aussagen zu beurteilen, 
                        braucht es umfangreiche Expertise, Zeit und gegebenenfalls eine journalistische Ausbildung. Das Fazit dieser Analyse: "wahr, falsch oder teilweise falsch".<br/>
                        Beim codetekt <span class="hint-italic">Trust-Checking</span> geht es dagegen um die Vertrauenswürdigkeit von Nachrichten und Online-Artikeln
                        auf der Basis bewährter journalistischer Qualitätskriterien.
                        Das Fazit dieser Analyse: eine Skala von "wenig" bis "sehr vertrauenswürdig".                   
                    </p>
                    <p class="section-heading-grey">Mit Trust-Checking gegen Falschinformationen</p>
                    <p class="text text-narrow">
                        Fehlende Quellenangaben, falsche Zitate und unpassende Bilder machen eine Information auch ohne umfangreiches
                        Prüfen der Fakten weniger vertrauenswürdig. Mit diesen und weiteren Kriterien wollen wir jede*n in die Lage versetzen,
                        selbst die Glaubwürdigkeit von Informationen schnell und möglichst objektiv einzuschätzen.
                        Keines dieser Kriterien allein macht den Vertrauensindex einer Nachricht aus, auch nicht eine Einzelbewertung.
                        Erst die kollektive Beurteilung eines Falls mit denselben Kriterien gibt am Ende Auskunft über 
                        die Vertrauenswürdigkeit einer Information. Let's codetekt!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-background section-background-grey-edges">
    <div class="standard-content-container-width">
        <div class="section-head">
            <p class="section-heading section-heading-supernova">Unser Prozess</p>
            <p class="section-sub-heading">Vom eingereichten bis zum gelösten Fall</p>
        </div>
        <div class="about-snippet">
            <div class="illustration">
                <img src="assets/images/illustrations/planet_yellow.svg">
            </div>
            <div>
                <p class="title">1 Das Einreichen eines Falls
                </p>
                <p class="text">
                    Du stößt auf eine Information, die dir zweifelhaft vorkommt? Reiche den Fall kostenlos und anonym zur Prüfung 
                    auf <a href="https://codetekt.org">codetekt.org</a> ein.
                    Unsere Community kann Online-Artikel oder Textnachrichten - zB aus Messenger Apps oder Sozialen Medien - prüfen.
                    Videos können momentan nicht eingereicht werden.
                </p>
            </div>
        </div>
        <div class="about-snippet-alt">
            <div class="illustration">
                <img src="assets/images/illustrations/planet_red.svg">
            </div>
            <div>
                <p class="title">2 Die Community erhält den Fall
                </p>
                <p class="text">
                    Der Fall wird gemeinsam mit anderen offenen Fällen unserer Detektiv-Community vorgestellt. 
                    Die Detektiv*innen können aus diesem Pool noch ungelöster Fälle wählen, welchen Fall sie annehmen.</p>
            </div>
        </div>
        <div class="about-snippet">
            <div class="illustration">
                <img src="assets/images/illustrations/planet_blue.svg">
            </div>
            <div>
                <p class="title">3 Die Beurteilung des Einzelnen
                </p>
                <p class="text">
                    Hat ein*e Detektiv*in einen Fall angenommen, startet die Bearbeitung mit Fragen, die auf einer Zustimmungsskala beantwortet werden können.
                    Die 7-8 Fragen werden nach dem Zufallsprinzip aus einem Katalog von insgesamt 15 Fragen gestellt, 
                    sie unterscheiden sich leicht nach der Art des Falls (Textnachricht oder Online-Artikel). 
                    Neben den Antworten können die Detektiv*innnen auch einen Kommentar zum Fall hinterlassen.
                </p>
            </div>
        </div>
        <div class="about-snippet-alt">
            <div class="illustration">
                <img src="assets/images/illustrations/planet_grey.svg">
            </div>
            <div>
                <p class="title">4 Die Beurteilung der Community
                </p>
                <p class="text">
                    Mit der Bewertung eines Einzelnen ist der Fall noch nicht abgeschlossen! 
                    Dieser muss innerhalb der Community in einem Peer Review Verfahren von insgesamt acht Detektiv*innen 
                    bearbeitet werden, um eine abschließende Beurteilung zu erhalten. 
                    Die Einzelbewertungen erfolgen anonym und unabhängig, ohne Vorwissen über das Ergebnis der anderen. 
                    Aus den Bewertungen der 8 Detektiv*innen wird das finale Ergebnis, der codetekt Vertrauensindex errechnet. 
                    Die Skala geht dabei von 0 - 100, ein Fall mit dem Score von 100 wäre sehr vertrauenswürdig.
                </p>
            </div>
        </div>
        <div class="about-snippet">
            <div class="illustration">
                <img src="assets/images/illustrations/planet_red.svg">
            </div>
            <div>
                <p class="title">5 Die Veröffentlichung des gelösten Falls
                </p>
                <p class="text">
                    Nachdem ein Fall von 8 Detektiv*innen bewertet wurde, steht das Ergebnis fest.
                    Wer beim Falleinreichen die Benachrichtigungs-Option angegeben hat, bekommt eine E-Mail mit dem Vertrauensindex,
                    den der Fall erreicht hat und einem Link zum codetekt-Archiv.
                    Im öffentlich zugänglichen Archiv der <a href="https://codetekt.org/archive">gelösten Fälle</a> kann jede*r 
                    detaillierte Bewertungen und Kommentare der Community transparent verfolgen.
               </p>
            </div>
        </div>
    </div>
</div>

<div class="section-background">
    <div class="standard-content-container-width criteria-grid">
        <!-- Create component in grid for every object in content file (criteria_text.json) -->
        <app-trust-checking-criterion *ngFor="let criterion of tcCriteria" [criterion]="criterion">
        </app-trust-checking-criterion>
    </div>
</div>