@import "../../../../../../assets/scss/_buttons.scss";

.authentication-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .authentication-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 31px;
    
    .full-width-input {
      width: 100%;
      display: inline-block;
      margin: 10px 0;
    }

    .submit-button {
      margin-top: 20px;
    }

    .mat-form-field {
      width: 310px;
    }

    &--actions-container {
      display: flex;
      flex-flow: column nowrap;
      .button {
        display: flex;
        justify-content: center;
      }
      .button--gentle{
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }
}