<div class="authentication-form-container">
  <div class="authentication-form" [formGroup]="form">
  <p>{{title}}</p>
  <mat-error *ngIf="invalid">
    Dein Benutzername oder dein Passwort wurden nicht erkannt.
  </mat-error>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Benutzername" formControlName="username" required>
    <mat-error>
      Bitte gib hier deinen Benutzernamen ein.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Code" formControlName="code" required>
    <mat-error>
      Bitte gib hier den Code ein den du von uns erhalten hast.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="password" placeholder="Neues Passwort" formControlName="password" required>
    <mat-error>
      Bitte gib hier dein neues Passwort ein.
    </mat-error>
  </mat-form-field>

  <div class="authentication-form--actions-container">
    <button class="button button--neon-blue" (click)="forgotPasswordSubmit()">Code zusenden</button>
  </div>
</div>