@use '../../../../assets/scss/fonts' as fonts;
@import '../../../../assets/scss/_initializer.scss';

:host {
  width: 100%;

  .strong {
    @include fonts.font__effra--bold;
  }
}

app-case-details {
  max-width: 746px;
}

.archive-details-page {
  margin: auto;

  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) {
      padding: 80px 20px 40px;
    }
  }

  .flag {
    color: $color__bittersweet;
    margin-right: 20px;

    i {
      margin-right: 8px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    .overview {
      width: 100%;
    }

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 40px;

      .overview {
        width: 50%;
      }
    }
  }

  .facts {
    width: 100%;
    background-color: $color__tile-background;
    margin-left: 0;

    @media only screen and (min-width: 1024px) {
      width: calc(50% + 40px);
      margin-left: -40px;
    }

    app-case-facts {
      display: block;
      margin-right: 20px;
      margin-left: 40px;
    }
  }

  .overview {
    &__title {
      line-height: 70px;
      font-weight: 700;
      font-size: 24px;

      @media only screen and (min-width: 480px) {
        font-size: max(2vw, 36px);
      }
    }

    &__archive-detail {
      margin-bottom: 60px;
      &-mark {
        font-size: 24px;
        font-weight: bold;

        .sub-description {
          font-size: 18px;
          font-weight: lighter;
          margin-left: 8px;
        }
      }

      &-description {
        margin: 5px 0;
      }
    }
    .archive-case-date-info {
      margin-top: 50px;
    }

    .tag-icon-container {
      margin-top: 24px;
      &-title {
        font-size: 18px;
        margin-bottom: 8px;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .detectives-container {
      margin-top: 40px;

      &-title {
        margin-bottom: 16px;
        font-size: 21px;
        font-weight: bold;
      }

      &-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;

        .detective-content {
          display: flex;
          margin: 10px 0;

          .medal-container {
            width: 20px;
            display: flex;
            align-items: center;
            font-size: 18px;
          }

          .profile-container {
            display: flex;

            .profile-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 5px;
              .name {
                font-size: 18px;
              }

              .job {
                font-size: 11px;
                color: #aaa;
              }
            }
          }
        }
      }
    }

    .comments-container {
      &-title {
        font-size: 21px;
        margin-bottom: 20px;

        .explain {
          color: #aaa;
          cursor: pointer;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }

      .show-case {
        font-size: 21px;
        margin-bottom: 80px;

        .explain {
          color: #aaa;
          cursor: pointer;
        }
      }
    }

    .discussions-container {
      &-title {
        font-size: 21px;
        margin-bottom: 20px;

        span {
          color: #aaa;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .discussions-content {
          display: flex;

          .content {
            .name-date {
              margin-top: 14px;
              .name {
                font-size: 18px;
              }

              .date {
                font-size: 14px;
                color: #aaa;
              }
            }
          }
        }
      }
    }

    .discussions-button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      button {
        padding: 5px 15px;
        border-radius: 15px;
        background-color: $color__purple;
        color: white;
        border: none;
        font-weight: bold;
        border: 2px solid $color__purple;

        &:hover {
          background-color: white;
          color: $color__purple;
          border: 2px solid $color__purple;
        }
      }
    }
  }
}
