@use '../../../../assets/scss/fonts' as fonts;
@import '../../../../assets/scss/_initializer.scss';

:host {
  width: 100%;

  .strong {
    @include font__effra--bold;
  }
}

app-case-details {
  max-width: 746px;
}

.archive-details-page {
  margin: auto;

  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) {
      padding: 80px 20px 40px;
    }
  }

  .flag {
    color: $color__bittersweet;
    margin-right: 20px;

    i {
      margin-right: 8px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    .overview {
      width: 100%;
    }

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 40px;

      .overview {
        width: 50%;
      }
    }
  }

  .facts {
    width: 100%;
    background-color: $color__tile-background;
    margin-left: 0;

    @media only screen and (min-width: 1024px) {
      width: calc(50% + 40px);
      margin-left: -40px;
    }

    app-case-facts {
      display: block;
      margin-right: 20px;
      margin-left: 40px;
    }
  }

  .overview {
    &__title {
      line-height: 70px;
      font-weight: 700;
      font-size: 24px;

      @media only screen and (min-width: 480px) {
        font-size: max(2vw, 36px);
      }
    }

    &__archive-detail {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 20px;

      .review-response {
        display: flex;
        align-items: center;
        gap: 8px;

        &__count {
          @include font__effra--bold;
          font-size: 24px;
        }

        &__answer {
          @include font__effra;
          font-size: 18px;
        }

        &--small {
          font-size: 14px;
        }

        .strong {
          font-weight: 700;
        }
      }
    }

    .date-info {
      margin-top: 20px;

      div ~ div {
        margin-top: 8px;
      }

      &__duration {
        font-size: 16px;
      }

      &__closing-date {
        font-size: 18px;

        i {
          margin-right: 8px;
        }
      }
    }

    .tags {
      margin-top: 40px;

      &__title {
        @include font__effra--medium;
        font-size: 18px;
        margin-bottom: 8px;
      }

      &__content {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .detectives {
      margin-top: 40px;

      &__title {
        margin-bottom: 16px;
        font-size: 21px;
        font-weight: bold;
      }

      &__body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }

      .detective {
        display: flex;
        margin: 10px 0;

        &__medal {
          width: 20px;
          display: flex;
          align-items: center;
          font-size: 18px;
        }

        &__profile {
          display: flex;
        }

        &__profile-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 5px;
        }

        &__name {
          font-size: 18px;
        }

        &__job {
          font-size: 11px;
          color: #aaa;
        }
      }
    }

    .comments {
      margin-top: 40px;

      &__title {
        @include font__effra--bold;
        font-size: 21px;
      }

      &__body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }

    .processing {
      margin-top: 40px;
    }

    .discussion {
      margin-top: 40px;

      &__body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }

      app-comment-input {
        margin-top: 40px;
      }

      &__more {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
          padding: 5px 15px;
          border-radius: 15px;
          background-color: $color__purple;
          color: white;
          border: none;
          font-weight: bold;
          border: 2px solid $color__purple;
          cursor: pointer;

          &:hover {
            background-color: white;
            color: $color__purple;
            border: 2px solid $color__purple;
          }
        }
      }
    }
  }

  .collapsible-toolbar {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 21px;

    i {
      margin-left: 4px;
      font-size: 16px;
    }

    &__title,
    &__toggle {
      @include font__effra--bold;
    }

    &__toggle {
      color: #aaa;
      cursor: pointer;
    }
  }
}
