<div class="content">
  <p class="section-heading section-heading-purple">Von A nach B</p>
  <p class="section-sub-heading">Wie funktioniert der Prozess?</p>
  <div class="process-blocks">
    <div class="process-block-tall">
      <img src="assets/images/illustrations/uncomplicated.svg" />
      <span></span>
      <div>
        <p class="heading">Unkompliziert</p>
        <p class="text">
          Das Einreichen der Inhalte an codetekt ist super einfach über unsere Website möglich.
        </p>
      </div>
      <a [routerLink]="['/submit']" class="button button--bittersweet"><i class="far fa-typewriter"></i>Fall
        einreichen</a>
    </div>
    <div class="process-block">
      <p class="heading">Zufällig</p>
      <p class="text">
        Wir verteilen die eintreffenden Inhalte dann zufällig nach einem lange getesteten und wohlüberlegten Mechaniken
        zufällig an
        mehrere registrierte Community-Mitglieder.
      </p>
    </div>
    <div class="process-block">
      <p class="heading">Verlässlich</p>
      <p class="text">
        Die Gemeinschaft überprüft deinen eingereichten Inhalt anhand eines Fragenkatalogs, mit dem die
        Vertrauenswürdigkeit des Inhalts eingeschätzt werden kann.
      </p>
    </div>
    <div class="process-block-tall">
      <img src="assets/images/illustrations/public.svg" />
      <span></span>
      <div>
        <p class="heading">Veröffentlichung</p>
        <p class="text">
          Nachdem genug Beurteilungen aus der Community eingegangen sind, werden die Ergebnis in unserem Archiv
          veröffentlicht und du wirst per Mail benachtichtigt. 
        </p>
      </div>
      <a [routerLink]="['/archive']" class="button button--neon-blue button--inverted">
        <i class="far fa-cabinet-filing"></i>
        Gelöste Fälle ansehen
      </a>
    </div>
  </div>
</div>