@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.process-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  margin-top: 180px;

  @media screen and(min-width: $breakpoint-m) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-top: 0;
  }

  .process-block {
    background-color: colors.$color__accordion-border;
    height: 250px;
    width: 280px;
    border-radius: 20px;
    padding: 20px;

    &-tall {
      @extend .process-block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;

      img {
        position: absolute;
      }
      
      @media screen and(min-width: $breakpoint-m) {
        height: 400px;
      }

      &:first-child {
        img {
          transform: translateY(-190px);
        }
   
        @media screen and(min-width: $breakpoint-m) {
          img {
            transform: translateY(-160px);
          }
        }
      }

      &:last-child {
        margin-top: 150px;
        img {
          transform: translateY(-210px);
        }

        @media screen and(min-width: $breakpoint-m) {
          margin-top: 0px;
          img {
            transform: translateY(-160px);
          }
        }
      }
    }

    .heading {
      @include fonts.font__effra--bold;
      font-size: 28px;
      padding: 0;
      margin: 0;
    }

    .text {
      @include fonts.font__effra--regular;
      font-size: 18px;
      padding: 0;
      margin: 1em 0 0 0;
      hyphens: manual;
    }
  }
}
