<div class="page-content">
  <div class="page-container-column">
    <h1>Info</h1>
    <p>Das DetektivKollektiv ist eine community-driven Plattform, auf der Detektive zusammenkommen, um die Glaubwürdigkeit von Inhalten im Internet zu überprüfen. Mit der Hilfe von DetektivKollektiv haben User die Möglichkeit, die Glaubwürdigkeit von Inhalten schnell und anonym überprüfen zu lassen – ohne vorherige Registrierung oder Kosten. Die Inhalte werden von einer unabhängigen Community von Freiwilligen überprüft – von unseren Detektiven. Alle können dieser Community beitreten. Nach der Überprüfung der Inhalte erhalten die User dann die Einschätzungen unser Detektive in Form eines Credibility Scores.</p>
    <h4>Wir zählen auf die Community!</h4>
    <p>Das DetektivKollektiv zählt auf das kollektive Interesse, Zugang zu verlässlichen Informationen sicherzustellen sowie auf ein mehrstufiges Überprüfungs- und Peer Review Verfahren, um Falschnachrichten zu entlarven.</p>
    <h4>Fact-Checking soll Spaß machen!</h4>
    <p>Unsere Detektive können Punkte für ihre Nachforschungen bekommen, was ihnen erlaubt höhere Level zu erreichen und neue Funktionalitäten freizuschalten. Fange als Lupenhalter an und arbeite dich hoch bis zum Detective Superintendent!</p>
    <h4>Wir bringen Licht ins Dunkel der Falschnachrichten</h4>
    <p>Das DetektivKollektiv macht alle nach ihrer Glaubwürdigkeit eingestuften Inhalte im Archiv frei zugänglich, um Einblicke in die Art von potentiellen Falschnachrichten zu gewähren, die in der “Black Box” von Ende-zu-Ende verschlüsselten Messaging Apps wie WhatsApp zirkulieren.</p>

    <h1>Team</h1>
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap">
        <app-member-info *ngFor="let member of members" [member]="member"></app-member-info>
    </div>
  </div>
</div>
