<ul class="archive-list">
	<app-archive-list-item
    *ngFor="let archive of archives | paginate: {
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: count}"
    [archive]=archive>
  </app-archive-list-item>
</ul>
<div class="pagination-container">
  <pagination-controls
      [maxSize]="11"
      [responsive]="true"
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    >
  </pagination-controls>
</div>
