@charset "utf-8";
@use '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/_initializer.scss';

.no-padding-dialog-container {
  padding: 0;
}

.header {
  $parent: &;

  position: sticky;
  top: 0;
  background-color: $color__header-background;
  z-index: 100;

  &__wrapper {
    padding: 0 _b__rem(16px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: _b__rem(1240px);
    margin: 0 auto;
    min-height: _b__rem(70px);
  }

  &__navigation-main {
    display: none;

    @include _b__respond-to('min-large') {
      display: flex;
    }
    .button--gentle {
      border-radius: 0;
    }
  }

  &__navigation-mobile {
    display: flex;

    @include _b__respond-to('min-large') {
      display: none;
    }
  }
}

.navigation-main {
  $parent: &;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    justify-content: center;
    list-style-type: none;
    margin: 0 _b__rem(30px) 0 0;
    text-align: center;
    text-align-last: center;
    &--no-spacing {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      .navigation-flyout {
        display: block;
      }
    }
    &:active {
      .navigation-flyout {
        display: block;
      }
    }
  }

  &__link {
    @include font__effra--bold;
    @include _b__font-size-rem(18px);

    color: $color__navigation-main-link;
    display: inline-block;
    border: 2px solid transparent;
    text-align-last: center;
    &:hover {
      border-bottom: 2px solid currentColor;
    }
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  .color-red {
    color: $color__bittersweet;
  }

  .color-blue {
    color: $color__neon-blue;
  }
}

// todo: move this somewhere more appropriate
//_userprofile.scss
.userprofile {
  $parent: &;

  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  &__content {
    margin: 0 _b__rem(10px) 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__award {
    @include _b__font-size-rem(16px);

    margin: 0 _b__rem(4px) 0 0;

    &--gold {
      color: $color__userprofile-award-gold;
    }

    &--silver {
      color: $color__userprofile-award-silver;
    }

    &--bronze {
      color: $color__userprofile-award-bronze;
    }
  }

  &__name {
    @include font__effra--bold;
    @include _b__font-size-rem(18px);

    color: $color__mysterious-blue;
  }

  &__title {
    @include font__effra--regular;
    @include _b__font-size-rem(12px);

  }

  &__bubble {
    border-radius: 50%;
    width: _b__rem(32px);
    height: _b__rem(32px);
    color: $color__white;
    margin: 0 _b__rem(6px) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__flyout-call {
    @include _b__font-size-rem(12px);
  }
}

.navigation-flyout {
  $parent: &;

  position: absolute;
  width: fit-content;
  padding: _b__rem(8px) 0 0 0;
  z-index: 100;
  display: none;

  &__list {
    background-color: $color__navigation-flyout-background;
    padding: _b__rem(10px) _b__rem(16px);
    border-radius: _b__rem(10px);
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    @include font__effra;
    @include _b__font-size-rem(18px);

    color: $color__navigation-flyout-link;
    padding: _b__rem(2px) 0;
    margin: _b__rem(2px) 0;
    display: inline-block;
    border: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid currentColor;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.navigation-mobile {
  $parent: &;

  &__call {
    @include _b__font-size-rem(24px);

    cursor: pointer;
    color: $color__navigation-mobile-call;
    padding: _b__rem(8px) _b__rem(10px);
  }

  //TODO DEV
  //Here be Overlay Stuff
}

.third-theme-color {
  color: $color__bittersweet;
}

// todo: move to its own component
.around-button {
  border: 1px solid $color__bittersweet;
  padding: 5px 10px;
  border-radius: 15px;
  &:hover {
    background-color: $color__bittersweet;
    color: $color__white;
  }
}

.navigation-main__button--detective {
  padding: 15px;
  i {
    margin-right: 7px;
  }
}

.message-bar {
  background-color: colors.$color__supernova;
  display: flex;
  justify-content: center;

  .message-container {
    padding: 0 _b__rem(16px);
    width: 100%;
    max-width: _b__rem(1240px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color__mysterious-blue;
    a {
      display: flex;
      flex-direction: row;
    }
    p {
      text-decoration: underline;
      cursor: pointer;
      color: $color__mysterious-blue;
      font-size: 1.125rem;
    }
    i {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
