<header class="main-header">
  <div class="container">
    <a class="mh-logo">
      <a [routerLink]="['/']">
        <img src="assets/logo/codetekt_V2_rgb@4x.png" width="293">
      </a>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li *ngIf="!authState.isLoggedIn">
          <button (click)="signUp()" class="button-flat">Detektiv*in werden</button>
        </li>
        <li *ngIf="!authState.isLoggedIn">
          <button (click)="login()" class="button-outline">Einloggen</button>
        </li>
        <div *ngIf="userLoaded">
          <button class="button-primary">
            <div class="button-wrapper" [routerLink]="['/archive']">
              <p>
                Archiv
              </p>
              <mat-icon>
                inventory_2
              </mat-icon>
            </div>
          </button>
        </div>
      </ul>
    </nav>
  </div>
</header>
