<div class="background">
  <div class="standard-content-container-width">
    <app-breadcrumb></app-breadcrumb>
    <h1>Über codetekt</h1>
    <div class="intro">
      <img class="image" src="assets/images/illustrations/undraw_quiz_nlyh.png" />
      <div>
        <p class="text">
          codetekt ist ein gemeinnütziger Verein mit dem Ziel, Strategien zum Erkennen und Eindämmen von Desinformation in digitalen Medien zu entwickeln.
          Eine Lösung ist unsere Plattform <a class="link" href="https://codetekt.org" target="_blank">codetekt.org</a> zur Bewertung der Glaubwürdigkeit
          von Online-Artikeln und Nachrichten aus Sozialen Medien oder Messenger Apps.
          Wir wollen allen die Möglichkeit bieten, digitale Nachrichten selbst prüfen zu können oder in unserer
          Community prüfen zu lassen. So wird die individuelle Medienkompetenz gestärkt, unglaubwürdige Inhalte werden erkannt
          und Falschinformationen nicht weiter verbreitet.
        </p>
        <p class="text">Wir treten ein für eine resiliente und gut informierte Gesellschaft!</p>
      </div>
    </div>
    <div class="about-section">
      <div class="about-snippet">
        <div class="icon icon-neon-blue">
          <i class="fal fa-users"></i>
        </div>
          <div>
          <p class="title">Wir zählen auf Gemeinschaft</p>
          <p class="text">
            codetekt setzt auf das gemeinsame Interesse, Zugang zu verlässlichen Informationen sicherzustellen. 
            Dafür setzen wir ein mehrstufiges Bewertungs- und Peer Review Verfahren ein, um zweifelhafte Inhalte aufzuklären.
          </p>
        </div>
      </div>
      <div class="about-snippet-alt">
        <div class="icon icon-bittersweet">
          <i class="fal fa-gamepad"></i>
        </div>
        <div>
          <p class="title">Online Recherche soll Spass machen</p>
          <p class="text">
            Unsere Detektiv*innen bekommen Punkte für ihre Nachforschungen, mit denen sie höhere Level und
            neue Features erreichen können. Fange als Lupenhalter*in an und arbeite dich hoch bis zum Detective
            Superintendent!
          </p>
        </div>
      </div>
      <div class="about-snippet">
        <div class="icon icon-supernova">
          <i class="fal fa-flashlight"></i>
        </div>
        <div>
          <p class="title">Wir bringen Licht ins Dunkel</p>
          <p class="text">
            Wir machen die von unseren Detektiv*innen abschließend bearbeiteten Fälle in einem öffentlichen Archiv zugänglich.
            So unterstützen wir alle, die Einblick in die Bewertung von digitalen Informationen haben wollen.
          </p>
        </div>
      </div>
      <div class="about-snippet-alt">
        <div class="icon icon-mysterious-blue">
          <i class="fal fa-hand-holding-heart"></i>
        </div>
        <div>
          <p class="title">Wir sind neutral und gemeinnützig</p>
          <p class="text">
            Alle bei uns eingereichten Fälle werden individuell und anhand von neutralen Kriterien auf ihre
            Glaubwürdigkeit geprüft. Wir greifen nicht in die inhaltliche Arbeit der Detektiv*innen ein. Als
            gemeinnützige Organisation erwirtschaften wir keine Profite, sondern richten alle Aktivitäten auf unsere Vereinszwecke aus:
            zu einer demokratischen und gut informierten Gesellschaft beizutragen.
          </p>
        </div>
      </div>
    </div>
    <div class="team-section">
      <div class="team">
        <div class="text">
          <h1>Das Team</h1>
        </div>
        <a class="button button--white"><i class="far fa-handshake"></i>
          Lerne uns kennen
        </a>
      </div>
    </div>
    <div class="supporter-section">
      <app-supporter-section></app-supporter-section>
    </div>
  </div>
</div>

<div class="background-stars-large">
  <div class="planets">
    <div class="planet-large">
      <img src="assets/images/illustrations/planet-large.svg" />
      <div class="text-center">
        <h3>Die Idee</h3>
        <p>Team-Gründung und Konzept-Entwicklung im März 2020 beim Hackathon <a class="link" href="https://wirvsvirus.org/" target="_blank">WirVsVirus</a>.</p>
      </div>
    </div>

    <div class="planet left-10">
      <img class="planet" src="assets/images/illustrations/planet-bittersweet.svg" />
      <div class="text-left">
        <h3>Technische Umsetzung</h3>
        <p>Technische Umsetzung & Ausbau unseres ehrenamtlichen Teams in ganz Deutschland, ab März 2020.</p>
      </div>
    </div>

    <div class="planet right-25">
      <img class="planet" src="assets/images/illustrations/planet-neon-blue.svg" />
      <div class="text-right">
        <h3>Gemeinnütziger Verein</h3>
        <p>Im November 2020 erfolgt die Gründung eines gemeinnützigen Vereins.</p>
      </div>
    </div>

    <div class="planet left-30">
      <img class="planet" src="assets/images/illustrations/planet-light-gray.svg" />
      <div class="text-left">
        <h3>Wir sind Online!</h3>
        <p>Nach der Weiterentwicklung unserer Plattform mit Beta-Test im August 2020, findet unser GoLive im April 2021 statt.</p>
      </div>
    </div>

    <div class="planet right-5">
      <img class="planet" src="assets/images/illustrations/planet-bittersweet.svg" />
      <div class="text-right">
        <h3>Förderung durch campact</h3>
        <p>
          Dank einer Förderung durch campact im April 2021 können wir richtig durchstarten. 
          Wir erweitern den Fokus auf Plattform-Design, Social Media und medienpädagogische Angebote.
        </p>
      </div>
    </div>

    <div class="planet left-45">
      <img class="planet" src="assets/images/illustrations/planet-light-gray.svg" />
      <div class="text-left">
        <h3>Anstoß Demokratie</h3>
        <p>
          Wir setzen gemeinsam mit <a class="link" href="https://www.mimikama.at/" target="_blank">Mimikama</a>
          und <a class="link" href="https://stophatespeech.ch/" target="_blank">Stop Hate Speech</a> ein Zeichen gegen Desinformation,
          diskrimierende Sprache und Hass - mit Counter Content.
          Weitere Informationen folgen.
        </p>
      </div>
    </div>

    <div class="planet right-40">
      <img class="planet" src="assets/images/illustrations/planet-supernova.svg" />
      <div class="text-right">
        <h3>Erstes Team-Meeting</h3>
        <p>
          Da wir ein dezentral organisierter Verein sind und online arbeiten, haben sich bisher nur vereinzelte Teammitglieder
          getroffen. Im Oktober 2021 sehen wir uns das erste Mal live.
        </p>
      </div>
    </div>

    <div class="planet left-45">
      <img class="planet" src="assets/images/illustrations/planet-dark-gray.svg" />
      <div class="text-left">
        <h3>Relaunch der Plattform</h3>
        <p>Im Januar 2022 ist es soweit: unsere neue Plattform kommt, mit neuen Features und im neuen Design!</p>
      </div>
    </div>

    <div class="planet right-25">
      <img class="planet" src="assets/images/illustrations/planet-supernova.svg" />
      <div class="text-right">
        <h3>Strategie 2022</h3>
        <p>Professionalisierung: die kontinuierliche Optimierung der Plattform, 
          Konzepte zu Reichweitengewinnung, Social Media Präsenz und Community Management.          
        </p>
        <!--p>Wir arbeiten an den Zukunftsmöglichkeiten von codetekt! Im Fokus: die kontinuierliche Optimierung unserer Plattform, 
          Konzepte zu Reichweitengewinnung, Präsenz in den Sozialen Medien und Community Management. 
          Daneben planen wir Workshops für verschiedene Zielgruppen zu unseren Kernthemen Medienkompetenz, Erkennen von Desinformation und Trust Checking.
          Demokratieförderung ist dabei ein zentrales Anliegen, das wir insbesondere mit unserem Community basierten Ansatz und der Verpflichtung zur Transparenz umsetzen.
        </p-->
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="standard-content-container-width">
    <div class="finance-section">
      <app-finance-section></app-finance-section>
    </div>   
  </div>
</div>

<div class="background-tile">
  <div class="standard-content-container-width">
    <div class="support-us-special-section">
      <app-support-us-special-section></app-support-us-special-section>
    </div>
  </div>
</div>

<div class="background-stars">
  <div class="standard-content-container-width">
    <app-call-to-action-section></app-call-to-action-section>
  </div>
</div>