<div class="background">
  <div class="standard-content-container-width">
    <app-breadcrumb></app-breadcrumb>
    <h1>Über codetekt</h1>
    <div class="intro">
      <img class="image" src="assets/images/illustrations/undraw_quiz_nlyh.png" />
      <div>
        <p class="text">
          Wir sind ein <span class="text-bold">gemeinnütziger Verein</span> der sich beim WirVsVirus Hackathon gegründet hat und es allen
          ermöglichen will, die Vertrauenswürdigkeit digitaler Nachrichten selbst zu überprüfen oder in unserer Community überprüfen zu
          lassen, um unglaubwürdige Inhalte zu entlarven und Medienkompetenz zu stärken.
        </p>
        <p class="text">Wir treten ein für eine resiliente und gut informierte Gesellschaft!</p>
        <p class="text">
          Wir arbeiten digital und sind ein dezentrales Team, das sich von Berlin bis Benin der Herausforderung annimmt, Lösungen gegen die
          Verbreitung von unglaubwürdigen Nachrichten im Web und in verschlüsselten Messaging Apps anzubieten.
        </p>
      </div>
    </div>
    <div class="about-section">
      <div class="about-snippet">
        <img class="image" src="assets/images/about/cash-macanaya-e_Yl5XgyCS4-unsplash.png" />
        <div>
          <p class="title">Wir zählen auf Gemeinschaft</p>
          <p class="text">
            codetekt setzt auf das kollektive Interesse, Zugang zu verlässlichen Informationen sicherzustellen, sowie auf ein mehrstufiges
            Überprüfungs- und Peer Review Verfahren, um unglaubwürdige Inhalte zu entlarven.
          </p>
        </div>
      </div>
      <div class="about-snippet-alt">
        <img class="image" src="assets/images/about/cash-macanaya-80bGbJOGX-M-unsplash.png" />
        <div>
          <p class="title">Online Recherche soll Spass machen</p>
          <p class="text">
            Unsere Detektiv*innen bekommen Punkte für ihre Nachforschungen, mit denen sie in höhere Level aufsteigen und neue
            Funktionalitäten freizuschalten können. Fange als Lupenhalter*in an und arbeite dich hoch bis zum Detective Superintendent!
          </p>
        </div>
      </div>
      <div class="about-snippet">
        <img class="image" src="assets/images/about/cash-macanaya-80bGbJOGX-M-unsplash.png" />
        <div>
          <p class="title">Wir bringen Licht ins Dunkel</p>
          <p class="text">
            Wir machen alle von unseren Detektiv*innen bearbeiteten Fälle öffentlich in einem Archiv zugänglich. So unterstützen wir alle,
            die mehr Einblick in Falschnachrichten haben wollen.
          </p>
        </div>
      </div>
      <div class="about-snippet-alt">
        <img class="image" src="assets/images/about/cash-macanaya-80bGbJOGX-M-unsplash.png" />
        <div>
          <p class="title">Wir sind neutral und gemeinnützig</p>
          <p class="text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores unde repellendus aspernatur voluptatem laudantium non nesciunt
            quidem, error distinctio consequuntur cupiditate nobis quasi optio! Dolor eius porro numquam commodi dicta.
          </p>
        </div>
      </div>
    </div>
    <div class="team-section">
      <div class="team">
        <div class="text">
          <h1>Das Team</h1>
          <p>
            codetekt ist ein dezentrales Team, wir arbeiten digital, Deutschlandweit und darüber hinaus zusammen. Klick dich durch unsere
            Teamseite und lerne uns kenne.
          </p>
        </div>
        <a class="button button--white"
          ><i class="far fa-handshake"></i>
          Das Team kennenlernen
        </a>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, adipisci eos, consequatur aliquid laborum cum at fuga maxime,
        dignissimos temporibus libero tenetur quae dolore ducimus optio sunt reiciendis praesentium totam?
      </p>
    </div>
    <div class="supporter-section">
      <app-supporter-section></app-supporter-section>
    </div>
  </div>
</div>

<div class="background-stars-large">
  <div class="planets">
    <div class="planet-large">
      <img src="assets/images/illustrations/planet-large.svg" />
      <div class="text-center">
        <h3>Die Idee</h3>
        <p>Entwicklung des Konzeptes und Aufbau des Teams im März 2020 beim WirVsVirus Hackathon.</p>
      </div>
    </div>

    <div class="planet left-10">
      <img class="planet" src="assets/images/illustrations/planet-bittersweet.svg" />
      <div class="text-left">
        <h3>Technische Umsetzung</h3>
        <p>Technische Umsetzung & Ausbau unseres ehrenamtlichen Teams in ganz Deutschland, ab März 2020.</p>
      </div>
    </div>

    <div class="planet right-25">
      <img class="planet" src="assets/images/illustrations/planet-neon-blue.svg" />
      <div class="text-right">
        <h3>Gemeinnütziger Verein</h3>
        <p>November 2020 erfolgt die Gründung eines gemeinnützigen Vereins.</p>
      </div>
    </div>

    <div class="planet left-30">
      <img class="planet" src="assets/images/illustrations/planet-light-gray.svg" />
      <div class="text-left">
        <h3>Wir sind Online!</h3>
        <p>Nach dem Beta-Test im August 2020, der Weiterentwicklung unserer Plattform, sind wir im April 2021 Live gegangen!</p>
      </div>
    </div>

    <div class="planet right-5">
      <img class="planet" src="assets/images/illustrations/planet-bittersweet.svg" />
      <div class="text-right">
        <h3>Förderung durch campact!</h3>
        <p>
          Dank einer Förderung durch campact im April 2021, können wir richtig durchstarten. Wir setzen den Fokus nun auch auf unser Design,
          Social Media und Medienpädagogische Angebote.
        </p>
      </div>
    </div>

    <div class="planet left-45">
      <img class="planet" src="assets/images/illustrations/planet-light-gray.svg" />
      <div class="text-left">
        <h3>Anstoß Demokratie</h3>
        <p>
          Wir setzten mit mimikama und Stop Hate Speech zusammen ein Zeichen gegen Hass, Hetze und Falschinformation. Mit Counter Content.
          Weitere Informationen folgen!
        </p>
      </div>
    </div>

    <div class="planet right-40">
      <img class="planet" src="assets/images/illustrations/planet-supernova.svg" />
      <div class="text-right">
        <h3>Erstes Teammeeting</h3>
        <p>
          Da wir ein dezentraler Verein sind und digital arbeiten, haben sich bisher nur vereinzelte Teammitglieder getroffen. Oktober 2021
          - wir sehen uns das erste Mal alle Live!
        </p>
      </div>
    </div>

    <div class="planet left-45">
      <img class="planet" src="assets/images/illustrations/planet-dark-gray.svg" />
      <div class="text-left">
        <h3>Re-Launch der Plattform</h3>
        <p>Dezember 2021 wird es soweit sein unsere neue Plattform kommt, mit neuen Funktionen und neue Design!</p>
      </div>
    </div>

    <div class="planet right-25">
      <img class="planet" src="assets/images/illustrations/planet-supernova.svg" />
      <div class="text-right">
        <h3>Strategie 2022</h3>
        <p>Wir arbeiten an der Zukunft von codetekt und wie wir gemeinsam dazu beitragen können Falschinformationen entgegenzutreten.</p>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="standard-content-container-width">
    <div class="finance">
      <div class="top-section">
        <img class="image" src="assets/images/illustrations/undraw_destinations_fpv7.png" />
        <h1>Wie finanzieren wir uns?</h1>
        <p>
          Wir sind ein gemeinnütziger Verein und finanzieren uns über Spenden und Förderungen. Wir suchen fortlaufend nach
          Finanzierungsmöglichkeiten, die es uns erlauben, unsere Angebote weiterhin unabhängig aufzubauen und zu entwickeln.
        </p>
      </div>
      <div class="grid-section">
        <div class="grid-item">
          <div class="icon-bittersweet">
            <i class="fal fa-heart"></i>
          </div>
          <div class="text">
            <div>
              <h3>Förderung & Sponsoring</h3>
              <p>
                Sie möchten sich mit Ihrer Stiftung oder ihrem Unternehmen gegen Falschinformationen und für eine demokratische Gesellschaft
                einsetzen? Kontaktieren Sie uns gerne per E-Mail.?
              </p>
            </div>
            <a class="button button--bittersweet" href="mailto:info@codetekt.org">
              <i class="fal fa-envelope"></i>
              Kontakt
            </a>
          </div>
        </div>
        <div class="grid-item">
          <div class="icon-purple">
            <i class="fal fa-money-check-edit"></i>
          </div>
          <div class="text">
            <div>
              <h3>Spende</h3>
              <p>
                Mit Deiner Spende unterstützt Du die Arbeit unseres gemeinnützigen Vereins, eine Online-Plattform zu betreiben, die es allen
                ermöglicht, die Vertrauenswürdigkeit digitaler Nachrichten überprüfen zu lassen, um unglaubwürdige Informationen zu
                entlarven und Medienkompetenz zu stärken.
              </p>
            </div>
            <a
              class="button button--purple"
              href="https://www.betterplace.org/de/projects/98564-gemeinsam-gegen-falschinformationen"
              target="_blank"
            >
              <i class="fal fa-money-check-edit"></i>
              Spenden
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-tile">
  <div class="standard-content-container-width">
    <div class="support-us-section">
      <app-support-us-section></app-support-us-section>
    </div>
  </div>
</div>

<div class="background-stars">
  <div class="standard-content-container-width">
    <app-call-to-action-section></app-call-to-action-section>
  </div>
</div>
