@use '../../../../assets/scss/colors' as colors;

.info {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100vw;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: colors.$color__case-card;
  padding: 30px 20px;
  margin: 0 15px 20px;
  border-radius: 25px;

  &__header {
    display: flex;
    align-items: center;
    font-size: 21px;

    i {
      color: colors.$color__bittersweet;
      font-size: 30px;
    }

    span {
      margin-left: 12px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__text {
    flex: 1;
    font-size: 18px;
  }
}
