@use '../../../../assets/scss/colors' as colors;

:host {
  display: block;
}

.reply-container {
  display: flex;
  margin-bottom: 20px;

  .reply-body {
    flex: 1;

    .name {
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 16px;
    }
    textarea {
      width: 100%;
      border-radius: 10px;
      padding: 16px;
      resize: vertical;
      font-size: 16px;
      
      border: 2px solid colors.$color__select_border;     

      &:focus {
        border: 2px solid colors.$color__user_input_border;
      }
    }

    .reply-button-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;

      button {
        padding: 5px 15px;
        border-radius: 15px;
        background-color: colors.$color__purple;
        color: white;
        border: none;
        font-weight: bold;
        border: 2px solid colors.$color__purple;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: colors.$color__purple;
          border: 2px solid colors.$color__purple;
        }
      }
    }

    .register-button-container {
      display: flex;
      justify-content: center;
      margin-top: 16px;

      .around-button {
        border: 1px solid #ff7269;
        padding: 14px 24px;
        color: #ff7269;
        border-radius: 24px;
        text-decoration: none;

        i {
          margin-right: 8px;
        }

        &:hover {
          background-color: #ff7269;
          color: white;
        }
      }
    }
  }
}
