@import "../../../../assets/scss/_colors.scss";
.case-details {
    .case-number-section{
        .go-home {
          font-size: 14px;
          color: $color__old-paragraph;
        }

        .case-number-id {
            font-size: 52px;
            font-weight: bold;
            span {
                font-size: 17px;
                color: $color__old-paragraph;
            }
        }
    }
    .case-description-section p {
        font-size: 15px;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
    }
}
