@import '../../../../assets/scss/_colors.scss';

.case-details {
  &__number-id {
    font-size: 52px;
    font-weight: bold;

    span {
      font-size: 21px;
      color: $color__old-paragraph;
    }
  }

  &__description p {
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
  }
}
