.wrapper {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 50px;
  background: orange;
}

.content {
  height: 400px;
  width: 500px;
  background: gold;
  display: flex;
  flex-direction: column;
}

::ng-deep .headerless-tabs > .mat-tab-header {
  display: none;
}

.highscore-title {
  color: black;
  line-height: 32px;
}

.highscore-content-table {
  width: 100%;
}

.highscore-content-table thead tr th {
  border-bottom: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

.highscore-content-table tbody tr td {
  border-left: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

.highscore-content-table tbody tr td:nth-child(1) {
  border-left: none;
}