<div class="detective">
  <div class="detective__profile">
    <div class="avatar" [style.background-color]="detective.color">
      {{ !detective.username ? '?' : detective.username[0] }}
    </div>
    <div class="detective__content">
      <div class="detective__profile-info">
        <div class="detective__text">
          <div class="detective__name" [ngClass]="!detective.username ? 'font-italic' : 'font-bold'">
            {{ detective.username || 'Deaktiviert' }}
          </div>
          <ng-content select="[appDetectiveItemSuffix]"></ng-content>
        </div>
        <div class="detective__level">{{ detective.level_description }}</div>
      </div>
      <ng-content select="[appDetectiveItemContent]"></ng-content>
    </div>
  </div>
</div>
