@use '../../../../assets/scss/colors' as colors;

.detective {
  display: flex;

  &__profile {
    display: flex;
    flex-grow: 1;

    .avatar {
      flex: 0 0 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 5px;
  }

  &__profile-info {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 18px;
  }

  &__level {
    font-size: 11px;
    color: colors.$color__old-paragraph;
  }
}
