@use '../../../../assets/scss/colors' as colors;
@use '../../../../assets/scss/fonts' as fonts;

:host {
  display: block;

  &:not(:last-of-type) {
    // padding-bottom: 50px;
    border-bottom: 4px dashed colors.$color__spacer;
  }

  &:not(:first-of-type) {
    margin-top: 50px;
  }
}

.question {
  margin-bottom: 50px;

  &.no-border {
    border: none;
    margin: 0;
  }

  &__hint-container {
    display: flex;
    margin-bottom: 20px;
  }

  &__hint-icon {
    display: flex;
    justify-content: center;
    color: colors.$color__neon-blue;
    margin-right: 4px;
    width: 20px;
  }

  &__title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__error {
    color: colors.$color__warn;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__content {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__hint {
    flex: 1;
    font-size: 16px;
    color: grey;
  }
}

.child-question {
  margin-top: 30px;
  margin-left: 30px;
  background-color: colors.$color__tile-background;
  padding: 30px;
}

.mat-radio-group {
  margin-top: 40px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(.readonly) ::ng-deep .mat-radio-button.last-item {
    .mat-radio-outer-circle {
      border-color: colors.$color__bittersweet !important;
    }

    .mat-radio-inner-circle {
      background-color: transparent;

      &:before,
      &:after {
        position: absolute;
        left: 6px;
        content: ' ';
        height: 16px;
        width: 4px;
        background-color: colors.$color__bittersweet;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    .option,
    .option .mat-icon {
      color: colors.$color__bittersweet;
    }
  }
}

.mat-radio-button {
  width: 15px;

  &.last-item {
    margin-top: 30px;
  }

  ::ng-deep .mat-ripple-element {
    background-color: colors.$color__mysterious-blue !important;
  }
}

mat-radio-button + mat-radio-button {
  margin-top: 1em;
}

mat-icon {
  cursor: pointer;
}

.mat-radio-group ::ng-deep {
  .mat-radio-outer-circle {
    border-color: colors.$color__mysterious-blue !important;
  }

  .mat-radio-inner-circle {
    background-color: colors.$color__mysterious-blue;
  }
}

.option {
  display: flex;
  align-items: center;
  color: colors.$color__mysterious-blue;
  font-size: 18px;

  .mat-icon {
    margin-left: 4px;
  }

  &__answer {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__contributors {
    display: flex;
    margin-left: 10px;

    .avatar:not(:first-child) {
      margin-left: -16px;
    }
  }

  &__percentage {
    margin-left: 16px;
    @include fonts.font__pt-mono--bold;
    font-size: 18px;
    color: colors.$color__purple;

    i {
      margin-right: 6px;
    }
  }

  // todo check if can remove
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
