<div class="question" [class.no-border]="isChild">
  <div class="question__title">{{ title }}</div>
  <div class="question__content">{{ question.content }}</div>

  <div class="question__hint-container">
    <div class="question__hint-icon"><i class="far fa-clipboard-check"></i></div>
    <div class="question__hint">{{ question.hint }}</div>
  </div>

  <div class="question__hint-container">
    <div class="question__hint-icon"><i class="far fa-info-circle"></i></div>
    <div class="question__hint">{{ question.info }}</div>
  </div>

  <ng-container *ngIf="displayOnly; else review">
    <mat-radio-group class="option-container readonly">
      <mat-radio-button
        [disabled]="displayOnly"
        *ngFor="let option of question.options"
        [value]="option.value"
        [checked]="getContributors(option.value).length > 0"
      >
        <div class="option">
          {{ option.text }}
          <mat-icon matLine *ngIf="option.tooltip" [matTooltip]="option.tooltip" matTooltipPosition="above"> help </mat-icon>
          <div class="option__info" *ngIf="getContributors(option.value).length">
            <span class="option__percentage"
              ><i class="fas fa-user-cowboy"></i>~{{ option.value | answerPercentage: question.question_id:questions }}%</span
            >
            <div class="option__contributors">
              <div
                class="avatar"
                [style.background-color]="contributor.color"
                *ngFor="let contributor of getContributors(option.value); let i = index"
              >
                {{ !contributor?.username ? '?' : contributor.username[0] }}
              </div>
            </div>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>

  <div class="child-question" *ngIf="isShowChild">
    <div class="child-question__content" *ngFor="let childQuestion of visibleChildQuestions; let i = index">
      <app-question
        [question]="childQuestion"
        [questions]="questions"
        [isChild]="true"
        [parentIndex]="index"
        [index]="i"
        [displayOnly]="displayOnly"
      ></app-question>
    </div>
  </div>
</div>

<ng-template #review>
  <mat-radio-group class="option-container" [(ngModel)]="question.answer_value" (ngModelChange)="onQuestionValueChange($event)">
    <mat-radio-button
      [disabled]="displayOnly"
      *ngFor="let option of question.options"
      [value]="option.value"
      [checked]="false"
      [class.last-item]="option.value === 0"
    >
      <div class="option">
        {{ option.text }}
        <mat-icon matLine *ngIf="option.tooltip" [matTooltip]="option.tooltip" matTooltipPosition="above"> help </mat-icon>
      </div>
    </mat-radio-button>
  </mat-radio-group>
</ng-template>
