@use '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/buttons';

:host {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 1000px;

  @media only screen and (max-width: 1023px) {
    align-items: center;

    .login-container {
      flex-direction: column;
      align-items: center !important;

      &__input {
        flex-basis: revert;
        width: 80%;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    &__header {
      display: flex;
      align-items: center;
      font-size: 16px;

      i {
        color: colors.$color__bittersweet;
      }

      span {
        margin-left: 8px;
      }
    }

    &__text {
      text-align: center;
    }
  }

  .login-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: colors.$color__case-card;
    border-radius: 25px;
    padding: 10px 10px 0 10px;

    &__input {
      flex-basis: 33%;
      position: relative;

      input {
        padding: 10px 15px;
        width: 40%;
        border: 1px solid $color__grey;
        border-radius: 10px;
        width: 100%;

        &:focus {
          border: 1px solid $color__grey;
        }

        &.ng-invalid.ng-touched {
          border-color: $color__warn;
          color: $color__warn;
        }
      }

      .icon {
        position: absolute;
        right: 10px;
        bottom: 3px;
        font-size: 16px;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button i {
        margin-right: 8px;
      }

      > * {
        cursor: pointer;
      }
    }
  }

  .divider {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .mat-divider {
      width: 300px;
      border-top-color: #cecece;
    }
  }

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 350px;

      p {
        text-align: center;
      }

      button i {
        margin-right: 8px;
      }
    }
  }
}
