<p class="section-heading section-heading-supernova">Unterstützung</p>
<p class="section-sub-heading">So kannst du noch aktiv werden gegen Falschinformationen</p>
<div class="grid">
  <div class="grid-item grid-item-alt">
    <div class="icon icon-supernova">
      <i class="fal fa-users"></i>
    </div>
    <p class="title">Detektiv:in werden</p>
    <p class="text">
      Werde Detektiv:in und überprüfe die eingereichten Fälle anhand der Qualitätskriterien (verlinken) und dem vierstufigen
      Überprüfungsprozess, auf Vertrauenswürdigkeit.
    </p>
  </div>
  <div class="grid-item">
    <div class="icon icon-neon-blue">
      <i class="fal fa-file-search"></i>
    </div>
    <p class="title">Spende</p>
    <p class="text">
      Mit Deiner Spende unterstützt Du die Arbeit unseres gemeinnützigen Vereins, eine Online-Plattform zu betreiben, die es allen
      ermöglicht, die Vertrauenswürdigkeit digitaler Nachrichten überprüfen zu lassen, um unglaubwürdige Informationen zu entlarven und
      Medienkompetenz zu stärken.
    </p>
  </div>
  <div class="grid-item">
    <div class="icon icon-mysterious-blue">
      <i class="fal fa-candle-holder"></i>
    </div>
    <p class="title">Ehrenamt</p>
    <p class="text">
      Werde Teil unseres ehrenamtlichen Teams. Wir arbeiten dezentral und digital, Deutschlandweit und darüber hinaus zusammen. Melde dich
      bei uns, wenn du Lust hast, deine Skills einzusetzen und auszubauen oder was ganz Neues zu lernen und dich für eine gute Sache
      einzusetzen! Wir freuen uns, von dir zu hören!
    </p>
  </div>
  <div class="grid-item grid-item-alt">
    <div class="icon icon-bittersweet">
      <i class="fal fa-heart"></i>
    </div>
    <p class="title">Förderung</p>
    <p class="text">
      Sie möchten sich mit Ihrer Stiftung oder ihrem Unternehmen gegen Falschinformationen und für eine demokratische Gesellschaft
      einsetzen? Kontaktieren Sie uns gerne per E-Mail (kristin@codetekt.org)
    </p>
  </div>
</div>
