<p class="section-heading section-heading-supernova">Unterstützung</p>
<p class="section-sub-heading">So kannst du noch aktiv werden gegen Falschinformationen</p>
<div class="grid">
  <a href="/register">
    <a class="grid-item grid-item-alt">
      <div class="icon icon-supernova">
        <i class="fal fa-users"></i>
      </div>
      <p class="title">Detektiv:in werden</p>
      <p class="text">
        Werde Detektiv:in und überprüfe die eingereichten Fälle anhand der Qualitätskriterien auf ihre
        Vertrauenswürdigkeit.
      </p>
    </a>
  </a>
  <a href="https://www.betterplace.org/de/projects/98564-gemeinsam-gegen-falschinformationen" target="_blank">
    <div class="grid-item">
      <div class="icon icon-neon-blue">
        <i class="fal fa-file-search"></i>
      </div>
      <p class="title">Spende</p>
      <p class="text">
        Mit Deiner Spende unterstützt Du die Arbeit unseres gemeinnützigen Vereins und ermöglichst es uns, die Plattform
        zu betreiben und weiter ausbauen zu können.
      </p>
    </div>
  </a>
  <a href="mailto:info@codetekt.org?subject=Unterst%C3%BCtzungsanfrage%20codetekt">
    <div class="grid-item">
      <div class="icon icon-mysterious-blue">
        <i class="fal fa-candle-holder"></i>
      </div>
      <p class="title">Ehrenamt</p>
      <p class="text">
        Werde Teil unseres ehrenamtlichen Teams. Wir arbeiten dezentral und digital, deutschlandweit und darüber hinaus
        zusammen. Schreib uns eine Mail, wenn du Lust hast, dich mit uns für
        eine gute Sache
        einzusetzen! Wir freuen uns, von dir zu hören!
      </p>
    </div>
  </a>
  <a href="mailto:kristin@codetekt.org?subject=Kooperationsanfrage%20codetekt">
  <div class="grid-item grid-item-alt">
    <div class="icon icon-bittersweet">
      <i class="fal fa-heart"></i>
    </div>
    <p class="title">Förderung</p>
    <p class="text">
      Sie möchten sich mit Ihrer Stiftung oder ihrem Unternehmen gegen Falschinformationen und für eine demokratische
      Gesellschaft
      einsetzen? Kontaktieren Sie uns gerne per E-Mail an kristin@codetekt!
    </p>
  </div>
  </a>
</div>