@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  a:hover,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
  }

  @media screen and(min-width: $breakpoint-s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.1fr;
    column-gap: 20pxs;
    align-items: stretch;
    margin: auto;
    width: fit-content;
  }

  .grid-item {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 16px;
    width: 100%;
    height: 100%;
    max-width: 540px;

    @media screen and(min-width: $breakpoint-s) {
      min-width: 400px;
    }

    &-bg-white {
      background-color: colors.$color__white;
    }

    .icon {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      color: $color__white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 42px;

      &-supernova {
        background-color: colors.$color__supernova;
      }

      &-bittersweet {
        background-color: colors.$color__bittersweet;
      } 

      &-purple {
        background-color: colors.$color__purple;
      }

      &-gold {
        background-color: colors.$color__gold;
      }
    }

    .title {
      @include fonts.font__effra--bold;
      font-size: 21px;
    }

    .text {
      @include fonts.font__effra--regular;
      font-size: 18px;
      margin-top: 0px;
      width: 380px;
      hyphens: manual;
    }    
  }

  .hover-purple {
    &:hover {
      background-color: rgba($color: colors.$color__purple, $alpha: 0.2);
    }
  }

  .hover-supernova {
    &:hover {
      background-color: rgba($color: colors.$color__supernova, $alpha: 0.2);
    }
  }

  .hover-gold {
    &:hover {
      background-color: rgba($color: colors.$color__gold, $alpha: 0.2);
    }
  }

  .hover-bittersweet {
    &:hover {
      background-color: rgba($color: colors.$color__bittersweet, $alpha: 0.2);
    }
  }
}
