<p class="section-heading section-heading-supernova">Unterstützung</p>
<p class="section-sub-heading">So kannst du aktiv werden gegen Desinformation</p>

<div class="grid">
    <a href="https://www.betterplace.org/de/projects/98564-gemeinsam-gegen-falschinformationen" target="_blank">
      <div class="grid-item hover-purple">
        <div class="icon icon-purple">
          <i class="fal fa-money-check-edit"></i>
        </div>
        <p class="title">Spende</p>
        <p class="text">
          Mit deiner Spende unterstützt du die Arbeit unseres gemeinnützigen Vereins und ermöglichst es uns, die Plattform
          zu betreiben und weiter ausbauen zu können.
        </p>
      </div>
    </a>  
    <a href="/register">
      <div class="grid-item grid-item-bg-white hover-supernova">
        <div class="icon icon-supernova">
          <i class="fal fa-user-cowboy"></i>
        </div>
        <p class="title">Detektiv*in werden</p>
        <p class="text">
          Werde Detektiv*in und prüfe die eingereichten Fälle anhand der Qualitätskriterien auf ihre Glaub&shy;würdigkeit.
        </p>
      </div>
    </a>  
  <a href="mailto:join@codetekt.org?subject=Unterst%C3%BCtzungsanfrage%20codetekt">
    <div class="grid-item grid-item-bg-white hover-gold">
      <div class="icon icon-gold">
        <i class="fal fa-hands-helping"></i>
      </div>
      <p class="title">Ehrenamt</p>
      <p class="text">
        Werde Teil unseres ehrenamtlichen Teams. Wir arbeiten dezentral und digital zusammen. Schreib uns eine E-Mail, wenn du Lust hast, dich mit uns für eine gute Sache einzusetzen. Wir freuen uns, von dir zu hören!
      </p>
    </div>
  </a>
  <a href="mailto:fundraising@codetekt.org?subject=Kooperationsanfrage%20codetekt">
    <div class="grid-item hover-bittersweet">
      <div class="icon icon-bittersweet">
        <i class="fal fa-heart"></i>
      </div>
      <p class="title">Förderung</p>
      <p class="text">
        Sie möchten sich mit Ihrer Stiftung oder Ihrem Unternehmen gegen Falschinformationen und für eine demokratische
        Gesellschaft einsetzen? Kontaktieren Sie uns gerne per E-Mail!
      </p>
    </div>
  </a>
</div>