<div style="text-align: center;">

  <div style="text-align: left; padding-top: 15px; padding-left: 3em; padding-right: 3em;">

    <mat-list>
      <div mat-subheader>{{ 'listItems.title' | translate }}</div>
      <mat-list-item *ngFor="let item of itemsList">
        <mat-icon mat-list-icon>chat</mat-icon>
        <div mat-line>{{item.Text}}</div>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button color="basic" (click)="home()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
    <br><br><br>

</div>
