@use '../../../../../assets/scss/fonts' as fonts;
@import '../../../../../assets/scss/colors';

:host {
  width: 100%;
}

.title {
  @include fonts.font__pt-mono--bold;
  font-size: 14px;
  color: $color__mysterious-blue;
}

.supporters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
