<div class="dialog-container">
  <div mat-dialog-title>
    <h2>Passwort vergessen</h2>
    <button mat-icon-button [mat-dialog-close]="closeResult">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content [formGroup]="forgotPasswordForm">
    <p>
    Gib hier deinen Anmeldenamen ein.
    Wir senden dir dann einen Code zu mit dem du dein Passwort zurücksetzen kannst.
  </p>
    <mat-error *ngIf="invalid">
      Dein Anmeldename oder dein Passwort wurden nicht erkannt.
    </mat-error>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Anmeldename" formControlName="username" required>
      <mat-error>
        Bitte gib hier deinen Anmeldenamen ein.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="button-primary" (click)="onSubmit()">Code zusenden</button>
  </mat-dialog-actions>
</div>
