<div class="review-page">
  <div class="top-section">
    <div class="case-details">
      <div class="case-number-section">
        <div># {{case.id}}</div>
        <div>Fallnummer</div>
      </div>
      <div class="case-description-section">
        {{case.description}}
      </div>      
    </div>
    <div class="user-experience-section">
      <div class="user-stat-bubble user-xp">
        <div class="icon"></div>
        <div class="xp">{{user.xp}} XP</div>
        <div class="">Erfahrung</div>
      </div>
      <div class="user-stat-bubble user-level ">
        
      </div>

    </div>
  </div>

  <div class="questions-section">
    <div class="question">
        <div class="question--icon">{{questions[0].icon}}</div>
        <div class="question--title">{{questions[0].title}}</div>
        <div class="question--description">{{questions[0].description}}</div>  
    </div>
    <div class="question">
        <div class="question--icon">{{questions[1].icon}}</div>
        <div class="question--title">{{questions[1].title}}</div>
        <div class="question--description">{{questions[1].description}}</div>  
    </div>
    <div class="question">
        <div class="question--icon">{{questions[1].icon}}</div>
        <div class="question--title">{{questions[1].title}}</div>
        <div class="question--description">{{questions[1].description}}</div>  
    </div>
    <div class="question">
        <div class="question--icon">{{questions[1].icon}}</div>
        <div class="question--title">{{questions[1].title}}</div>
        <div class="question--description">{{questions[1].description}}</div>  
    </div>
    <div class="question">
        <div class="question--icon">{{questions[1].icon}}</div>
        <div class="question--title">{{questions[1].title}}</div>
        <div class="question--description">{{questions[1].description}}</div>  
    </div>
  </div>


  <div class="case-details--tatbestand">
    <div class="review-situation">
      <h2 class="review-situation--title">{{reviewSituation.title}}</h2>
      <div class="review-situation--text">{{reviewSituation.text}}</div>
    </div>
    <div class="links-section">
      <h3>Hinterlegte und entdeckte Links</h3>  
      <a>bladsf</a>
      <a>bladsf</a>
      <a>bladsf</a>
    </div>
    <div class="tags-section">
      <h3>Tags</h3>  
      <div>tag1</div>
      <div>tag1</div>
      <div>tag1</div>
    </div>
    <div class="background-info-section">
      <h3>Hintergrundinformationen</h3>  
      <div>2021-3-45</div>
      <div>anonym</div>
    </div>
  </div>
  <div class="case-details--questionnaire">
    
  </div>  
</div>
