.review-page {
  .top-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .case-details {
      max-width: 746px;
    }

    app-case-details {
      flex: 50%;
    }

    app-user-experience-bubble-list {
      flex: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .user-xp  {
        background: red;
      }
    }
  }

  .questions-section {
    .questions-section--list {
      display: none;

      @media only screen and (min-width: 1024px) {
         display: flex;
         flex-direction: row;
      }
    }

    .questions-swiper-container {
      display:block;
      // width: 100%;
      // max-width: 100%;
      max-width: 100vw;
      @media only screen and (min-width: 1024px) {
         display:none;
      }
    }

    .question {
      border-radius: 20px;
      background:#f8f8f8;
      margin-left: 5px;
      margin-right: 1.5%;
      padding: 10px 15px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      //border: 1px solid #2d2d2d;
      flex-direction: column;
      width: 360px;
      // &:nth-child(1) {
      //   margin-left: 0;
      // }

      .question--icon{
        width: 42px;
        height: 42px;
        margin: 10px 10px -3px 0;
        padding: 12.9px 2.5px;
        background-color: #68a8ff;
        color: white;
        border-radius: 30px;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 23px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
        display: flex;
      }


      .question--title{
        width: 320px;
        height: 18px;
        margin: 16px 0 14px;
        font-family: Effra medium, Effra regular, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: var(--dark-indigo);
      }
      .question--description{
        font-family: Effra medium, Effra regular, sans-serif;
        width: 320px;
        height: 35px;
        margin: 14px 0 18px;
        font-size: 16px;
        text-align: center;
        color: var(--dark-indigo);
      }

    }
  }
  .bottom-section {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
       flex-direction: row;
    }
    > div {
      margin-top: 20px;
      @media only screen and (min-width: 1024px) {
        width: 50%;
      }

      &:nth-child(2) {
        @media only screen and (min-width: 1024px) {
          margin-left: 15px;
        }
      }
    }
    .case-details--tatbestand {

    }

    .case-details--questionnaire {

    }

    .case-details--accept-case {
      & h1 {
        color: black;
      }

      & .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

        .case-button {
          width: 178px;
          height: 42px;
          font-weight: bold;
          font-size: 17px;

          &.accept-case-button {
            border-radius: 20px;
            background-color: #5f38fa;
            color: white;
            border: 2px solid #5f38fa;

            &:hover {
              background-color: white;
              color: #5f38fa;
            }
          }

          &.reject-case-button {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-color: transparent;
            color: grey;
            text-decoration-line: none;
          }
        }
      }
    }
  }
}
