// @import "../../../../assets/scss/_initializer.scss";
@use '../../../../assets/scss/fonts' as fonts;
@use '../../../../assets/scss/colors' as colors;

:host {
  width: 100%;

  .strong {
    @include fonts.font__effra--bold;
  }
}

.standard-content-container-width {
  @media only screen and (min-width: 1024px) {
    min-width: 1024px;
  }
}

app-case-details {
  max-width: 746px;
}

.review-page {
  margin: auto;

  h2 {
    @include fonts.font__pt-mono--bold;
    font-size: 24px;
    margin: 20px 0;

    @media only screen and (min-width: 480px) {
      font-size: max(2vw, 36px);
    }
  }

  .explain {
    @include fonts.font__effra--regular;
    font-size: 18px;
    .hint-italic {
      @include fonts.font__effra--italic;
      font-size: 18px;
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

    @media only screen and (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) {
      padding: 80px 20px 40px;
      gap: 40px;
    }
  }

  .flag {
    cursor: pointer;
    color: colors.$color__bittersweet;

    i {
      margin-right: 8px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    .overview {
      width: 100%;
    }

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      margin-top: 40px;

      .overview {
        width: 50%;
      }
    }
  }

  .facts {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
      width: calc(50% + 40px);
      margin-left: -40px;
    }

    &__content {
      flex-grow: 1;
      position: relative;
      margin-bottom: 40px;
    }

    app-case-facts {
      position: sticky;
      top: 90px;
      display: block;
      margin-right: 20px;
      margin-left: 40px;
    }
  }

  .overview {
    position: relative;

    @media only screen and (min-width: 1024px) {
      margin-top: 20px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      margin-bottom: 230px;

      @media only screen and (min-width: 480px) {
        margin-bottom: 380px;
      }
    }

    &__text {
      font-size: 18px;
    }

    &__image {
      display: flex;
      justify-content: center;
      // margin-top: 40px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        margin-bottom: -11px;
        width: 240px;
      }

      @media only screen and (min-width: 480px) {
        margin-top: 80px;

        img {
          margin-bottom: -17px;
          width: 360px;
        }
      }
    }

    .tags {
      border-bottom: 4px dashed colors.$color__spacer;
      padding-bottom: 40px;
      margin-top: 20px;
    }

    .comments {
      border-bottom: 4px dashed colors.$color__spacer;
      padding-bottom: 40px;

      h2 {
        margin-top: 0;
      }
    }

    .legal {
      margin-top: 20px;

      .explain {
        margin-bottom: 30px;
      }

      &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .mat-checkbox ::ng-deep .mat-checkbox-label {
          white-space: initial;
        }

        .mat-checkbox.ng-invalid.ng-touched {
          ::ng-deep .mat-checkbox-frame {
            border-color: colors.$color__warn;
          }

          .option {
            color: colors.$color__warn;
          }
        }
      }
    }
  }

  .collapsible-toolbar {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 21px;

    i {
      margin-left: 4px;
      font-size: 16px;
    }

    &__title,
    &__toggle {
      @include fonts.font__effra--bold;
    }

    &__toggle {
      color: #aaa;
      cursor: pointer;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 20px 0;

    &--legal {
      flex-direction: row;
      justify-content: center;

      @media only screen and (min-width: 480px) {
        justify-content: flex-end;
      }
    }

    .button--reject {
      color: colors.$color__mysterious-blue;
    }
  }
}
