<h1>Zugang löschen</h1>
<p>
  Schade, dass du dein Konto bei codetekt löschen willst.<br />
  Wenn du möchtest, teile uns gerne einen Grund dafür mit.
</p>
<mat-radio-group [formControl]="deleteReasonFormControl">
  <mat-radio-button value="1">Fälle lösen ist zu kompliziert.</mat-radio-button>
  <mat-radio-button value="2">Fälle lösen ist zu langweilig.</mat-radio-button>
  <mat-radio-button value="3">Fälle lösen ist zu zeitaufwändig.</mat-radio-button>
  <mat-radio-button value="4">Sonstiges:</mat-radio-button>
</mat-radio-group>
<mat-form-field>
  <input [formControl]="otherFormControl" placeholder="Sonstiges" matInput />
</mat-form-field>
<div class="button-group">
  <button appButton class="button-primary" (click)="delete()">codetekt Konto löschen</button>
  <button appButton mode="reject" [mat-dialog-close]="false">codetekt Konto nicht löschen</button>
</div>
