<h1>Account löschen</h1>
<p>
  Schade, dass du deinen Account beim DetektivKollektiv löschen willst.<br/>
  Wenn du willst, kannst du uns hier den Grund nennen, aus dem du deinen Account löschen willst.
</p>
<mat-radio-group [formControl]="deleteReasonFormControl">
  <mat-radio-button value="1">Fälle lösen ist zu kompliziert.</mat-radio-button>
  <mat-radio-button value="2">Fälle lösen ist zu langweilig.</mat-radio-button>
  <mat-radio-button value="3">Fälle lösen ist zu zeitaufwendig.</mat-radio-button>
  <mat-radio-button value="4">Sonstiges:</mat-radio-button>
</mat-radio-group>
<mat-form-field>
  <input [formControl]="otherFormControl" placeholder="Sonstiges" matInput>
</mat-form-field>
<div class="button-group">
  <button class="button-primary" (click)="delete()">Account löschen</button>
  <button class="button-flat" [mat-dialog-close]="false">Account nicht löschen</button>
</div>
