<div class="profile-page" *ngIf="user$ | async as user">
  <section class="top standard-content-container-width">
    <app-breadcrumb></app-breadcrumb>
    <div class="overview">
      <div class="overview__user">
        <div class="avatar">{{ user.name[0] }}</div>
        <div class="overview__user-name">{{ user.name }}</div>
      </div>
      <div class="overview__intro">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
        est.
      </div>
    </div>
  </section>

  <section class="user standard-content-container-width">
    <div class="user__stats">
      <h2>Level {{ user.level }} - {{ user.level_description }}</h2>
      <div class="user__stats-card">
        <div class="user__stats-entry">
          <div class="count text--bittersweet">{{ user.solved_cases_total | leadingZeros }}</div>
          <div>Bewertete Fälle</div>
        </div>
        <div class="user__stats-entry">
          <div class="count text--bittersweet">{{ user.solved_cases_today | leadingZeros }}</div>
          <div>Bewertete Fälle heute</div>
        </div>
        <div class="user__stats-entry">
          <div class="count text--rating-orange">{{ user.solved_cases_total | leadingZeros }}</div>
          <div>Rang insgesamt</div>
        </div>
        <div class="user__stats-entry">
          <div class="count text--purple">{{ user.solved_cases_total | leadingZeros }}</div>
          <div>Rang auf deinem Level</div>
        </div>
      </div>
      <div class="user__xp">
        <div class="user__xp-progress">
          <app-user-xp-bar></app-user-xp-bar>
          <app-user-xp-score></app-user-xp-score>
        </div>
        <div class="user__xp-level">
          <span>Level</span>
          <span class="level">{{ user.level + 1 }}</span>
        </div>
      </div>
      <img src="assets/images/illustrations/undraw_super_woman_dv-0-y.svg" />
    </div>
    <div class="user__cases">
      <h2>Deine abgeschlossenen Fälle</h2>
      <div class="user__cases-intro">
        Hier siehst du alle Fälle, bei denen du beteiligt warst und die abgeschlossen sind. Es müssen erst alle bearbeitende Detektive den
        Fall abschließen, damit er hier sichtbar wird. Fälle, die du hier siehst, sind offen für Diskussion.
      </div>
      <div class="user__cases-list" *ngIf="user.closed_items.length">
        <app-case-list-item
          class="user__case-item"
          *ngFor="
            let closedItem of user.closed_items
              | paginate
                : {
                    itemsPerPage: 4,
                    currentPage: page,
                    totalItems: user.closed_items.length
                  }
          "
          [case]="closedItem"
        ></app-case-list-item>
        <div class="user__case-pagination">
          <pagination-controls
            [maxSize]="11"
            [responsive]="true"
            previousLabel=""
            nextLabel=""
            (pageChange)="page = $event"
            *ngIf="page > 0"
          >
          </pagination-controls>
        </div>
      </div>
      <div *ngIf="!user.closed_items.length" class="user__cases-none">
        Noch gibt es keine abgeschlossenen Fälle, an denen du beteiligt warst.
      </div>
    </div>
  </section>

  <section class="open-cases standard-content-container-width">
    <app-open-case-list-slider></app-open-case-list-slider>
  </section>

  <section class="solved-cases">
    <img class="solved-cases__bg" src="assets/images/profile_solved_cases-bg.svg" alt="solved cases background" />
    <app-solved-cases class="solved-cases--invert standard-content-container-width"></app-solved-cases>
  </section>

  <section class="account standard-content-container-width">
    <h2>Deine Kontodaten</h2>
    <div class="account__intro">Hier siehst du die Daten, mit denen du dich registriert hast. Außerdem kannst du dein Passwort ändern</div>
    <div class="account__info" *ngIf="authState$ | async as authState">
      <div class="account__info-title">E-Mail-Adresse</div>
      <div class="account__info-data"><span class="far fa-envelope"></span>{{ authState.email }}</div>
      <div class="account__info-title">Nutzername</div>
      <div class="account__info-data"><span class="far fa-user"></span> {{ authState.username }}</div>
    </div>
  </section>

  <section class="delete-account">
    <img class="delete-account__bg" src="assets/images/profile_delete_account-bg.svg" alt="delete account background" />
    <div class="delete-account__wrapper standard-content-container-width">
      <img class="delete-account__image" src="assets/images/illustrations/undraw_windy_day_x-63-l.svg" />
      <h2>Dein Konto löschen</h2>
      <div class="delete-account__intro">
        Du möchtest uns verlassen? Hier kannst du dein Konto unwiderruflich löschen. Deine Bewertungen und Kommentare bleiben erhalten, aber
        dein Nutzername und Kürzel werden entfernt. Stattdessen steht dort dann "deaktiviert".
      </div>
      <button appButton class="delete-account__btn" (click)="deleteAccount()">
        <span class="far fa-trash-alt"></span> Benutzerkonto löschen
      </button>
    </div>
  </section>
</div>
