@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';

.title {
  @include fonts.font__effra--bold;
  font-size: 36px;
  line-height: initial;
  padding-bottom: 30px;

  @media screen and(min-width: $breakpoint-l) {
    font-size: 52px;
  }
}

.components-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: $breakpoint-m) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

}
