<div class="authentication-form-container">
  <div>
    <h2>Passwort vergessen</h2>
  </div>

  <div class="authentication-form" [formGroup]="forgotPasswordForm">
    <p>
    Gib hier deinen Anmeldenamen ein.
    Wir senden dir dann einen Code zu, mit dem du dein Passwort zurücksetzen kannst.
  </p>
    <mat-error *ngIf="invalid">
      Dein Anmeldename oder dein Passwort wurden nicht erkannt.
    </mat-error>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Anmeldename" formControlName="username" required>
      <mat-error>
        Bitte gib hier deinen Anmeldenamen ein.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button class="button button--neon-blue" (click)="onSubmit()">Code zusenden</button>
  </div>
</div>
