<div style="text-align: center;">
  <div style="background: lightgray">
    <img class="logo" src="../../../../assets/logo/Schrift.svg" height="50%" width="50%">
  </div>
  <h3 *ngIf="loggedIn">{{ 'dashboard.title.auth' | translate:{value: username} }}</h3>
  <h3 *ngIf="!loggedIn">{{ 'dashboard.title.noauth' | translate}}</h3>
  <p>{{ 'dashboard.question' | translate }}</p>
  <p>{{ 'dashboard.hint.title' | translate }}</p>
  <p [innerHTML]="'dashboard.hint.steps' | translate"></p>
  <button mat-raised-button color="accent" (click)="checkItem()">
    <mat-icon>add</mat-icon>
    {{'dashboard.button.checkItem' | translate}}
  </button>
  <button mat-raised-button color="accent" (click)="reviewItem()">
    <mat-icon class="icon">find_in_page</mat-icon>
    {{'dashboard.button.reviewItem' | translate}}
  </button>
  <br>
  <button mat-stroked-button color="primary" (click)="listItems()">
    <mat-icon class="icon">list</mat-icon>
    {{'dashboard.button.listItems' | translate}}
  </button>
</div>
