<div class="container">
  <h2>Das Trust-Checking-Kit vermittelt ...</h2>

  <div class="advantages">
    <div class="grey-tile">
      <i class="fas fa-hands-helping red"></i>
      <h3>... die Fähigkeit, die Vertrauenswürdigkeit von Nachrichten einzuschätzen</h3>
    </div>
    <div class="grey-tile">
      <i class="fas fa-quote-left blue"></i>
      <h3>... anhand welcher Kriterien Quellen schrittweise geprüft werden können</h3>
    </div>
    <div class="grey-tile">
      <i class="fas fa-newspaper yellow"></i>
      <h3>... das Bewusstsein für kritischen Medienkonsum</h3>
    </div>
    <div class="grey-tile">
      <i class="fas fa-search"></i>
      <h3>... Inhalte zu prüfen und in den richtigen Kontext einzuordnen</h3>
    </div>
  </div>
</div>
