@use '../../../../assets/scss/fonts' as fonts;
@import '../../../../assets/scss/initializer';
@import '../../../../assets/scss/buttons';

.team-page{
  margin: auto;
  .teampage-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    h1 {
      font-size: 52px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
    }
  }
}
.masonryholder {
  @media only screen and (max-width: 479px) {
    column-count: 1;
  }
  @media only screen and (min-width: 480px) and (max-width: 1023px) {
    column-count: 2;
  }
  @media only screen and (min-width: 1024px) {
    width: 800px;
    padding: 0;
    column-count: 3;    
  }
  @media only screen and (min-width: 1350px) {
    width: 1240px;
    column-count: 3;
  }

  .lastTile {
  display: inline-block;
  background: #2A79E5;
  padding: 0px 20px 20px;
  height: auto;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  p, h3{
    color: white;
  }
  h3{
     @include fonts.font__pt-mono--bold;
  }
  img{
    width: 200px;
    height: auto;
    transform: translate(0%, -15px)
  }
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 783px) {
    width: 260px;
  }
  @media screen and (min-width: 784px) and (max-width: 1023px) {
    width: 310px;
  }
  @media screen and (min-width: 1024px) {
    width: 260px;    
  }
  @media screen and (min-width: 1350px) {
    width: 310px;    
  }
  .button {
    display: center;
		justify-content: center;
    margin: 0 auto;
  }
}
}
