.filter {
    text-align: right;
    h4, i{
        color: #160637;
        cursor: pointer;
        display: inline;
    }
    p{
        color: #8989A2;
        cursor: pointer;
        display: inline;
    }
}
.filter-content{
    background-color: #F8F8F8;
    height: 143px;
    position: relative;
    border-radius: 30px;
    padding: 0px 10px;
    max-width: 1200px;
    h4{
       color: #160637; 
       margin: 25px 0px 11px 0px;
       height: 18px;
    }
}
mat-chip {
    background: #F8F8F8 !important;
    color: #160637!important;
    border: 0.5px solid #160637 !important;
    margin: 1px !important;
    padding: 0px 5px !important;
}
.active{
    width: 50%;
    //height: 103px;
    float: left;
    padding: 0px 0px 0px 20px;
}
.inactive{
    width: 50%;
    //height: 103px;
    float: right;
    padding: 0px 0px 0px 20px;
}
.vl{
    height: auto;
    width: 2px;
    background: #DDDDDD;
    margin: 0 auto;
    top: 20px;
    bottom: 20px;
    position: absolute;
    left: 50%;
}

