<div class="member-filter">
    <div class="filter"><h4 class="bold-weight"> Filter </h4><p *ngIf="isCollapsed" (click)="toggleCollapse()">einblenden <i class="fas fa-angle-down"></i></p> 
        <p *ngIf="!isCollapsed" (click)="toggleCollapse()">ausblenden <i class="fas fa-angle-up"></i></p>
    </div>
    <div class="filter-content" *ngIf="!isCollapsed">
        <h4 class="bold-weight">Filtermöglichkeiten</h4>
        <div class="filtertags">
            <app-tag-icon *ngFor="let tag of tagService.selectedTags" (click)="tagService.unselect_tag(tag)" [tag]="tag?.tagname" [backgroundColor]="tag?.color" iconClass="fal fa-check-circle"></app-tag-icon>
            <app-tag-icon *ngFor="let tag of tagService.unselectedTags" (click)="tagService.select_tag(tag)" [tag]="tag?.tagname" [backgroundColor]=unselectedColor iconClass="fal fa-circle"></app-tag-icon>
        </div>
        <h4 class="reset" (click)="tagService.showMember()">Filter zurücksetzen</h4>
    </div>
</div>