<div style="text-align: center;">
    <h3>Lieber Detektiv, löse bitte folgenden Fall.</h3>

    <h5>Behauptung:</h5>
    <p>{{itemToReview?.Text}}</p>

    <div>
      <form [formGroup]="reviewForm">
        <mat-form-field class="example-full-width">
          <mat-label>Anmerkungen</mat-label>
          <textarea matInput formControlName="text" placeholder="Notiere hier wie du zu deiner Entscheidung kommst..."></textarea>
        </mat-form-field>
      </form>
    </div>

    <div>
      <button mat-raised-button color="accent" (click)="reviewItem(true)">Vertrauenswürdig</button>
      <button mat-raised-button color="secondary" (click)="reviewItem(false)">Nicht vertrauenswürdig</button>
    </div>
</div>

