@use '../../../../assets/scss/colors' as colors;

.case-header {
  font-weight: bold;
  text-align: center;

  p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .case-header {
    & p {
      font-size: 20px;
    }
  }
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  background-color: colors.$color__case-card;
  padding: 10px 20px 20px;
  margin: 20px 0;
  width: 100vw;
  border-radius: 25px;

  @media only screen and (min-width: 1024px) {
    width: unset;
  }

  .skeleton-text:first-child {
    margin: 20px 0;
    height: 21px;
    width: 30%;
  }

  .skeleton-text {
    height: 18px;
  }
}
