.body .content {
    padding: 0 !important;
}
.container-fluid{
    background: linear-gradient(to right, #336699 0%, #000066 100%);
    /*height: 750px;*/
}
.section_1{
    width: 30%;
    margin: 0 auto;
    padding-top: 100px;
    height: 800px;
}
.logo{
    text-align:center;
    margin-bottom: 40px
}

.passwort_vergessen {
    margin: 0 0px 0 110px;
}
.line {
    height: 1px;
    margin: 40px 70px 20px 70px;
    background-color: #fff;
}
.login_form_buttom_text{
    text-align: center;
    color: #ffffff;
    padding: 0 0 25px 0;
    width: 64%;
    margin: 0 auto;
}
span.tm {
    font-size: 8px;
    padding: 0 10px 0px 0;
    vertical-align: text-top;
}
.detektiv_werden_btn{
    color: #fff;
    font-weight: botrap_third_serial_number;
    width: 42%;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background: transparent;
    text-align: center;
}
.detektiv_werden_btn button{
    background: transparent;
    border: unset;
    color: #fff;
}
.section_2 {
    background-image: url('http://localhost:4200/assets/logo/white_bg_image.png');
    background-size: cover; 
    background-repeat: no-repet;
    width: 100%;
    height: 300px;
}
.second_wrapper {
    padding-top: 80px;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.die_letzten_section {
    width: 50%;
    float: left;
    position: relative;
    left: 22%;
}
.unsere_partner_section {
    width: 40%;
    float: left;
    padding-left: 60px;
}
.second_wrapper:after {content: '';clear: both;display: block;}
.die_letzten_section h3 {
    padding-left: 20px;
}

.social_image {
    margin-top: 15px;
}
.unsere_partner_section .paragraph {
    margin-top: 70px;
}
.orange{
    color:orange;
}
.weitere_button button{
    padding: 16px 19px 14px 24px;
    border-radius: 30px;
    background-color: #5f38fa;
    color: #ffffff;
    border: solid 2px #ffffff;
}


@media only screen and (min-width: 320px) and (max-width: 767px)  {
    .container {
        overflow: hidden;
    }
    .section_1{
        width: 85%;
        margin: 0 auto;
        padding-top: 50px;
        height: 740px;
    }
    .input_label{
        width: 100%;
        margin: 12px 0px 0px 0;
        font-weight: botrap_third_serial_number;
        font-size: 13px;
    }
    .cust_inout{
        width: 100% !important; 
        padding: 10px 9px 10px 20px;
        border-radius: 10px;
        border: solid 1px #cecece;
        background-color: #ffffff !important;
    }
    .submit_button {
        width: 59%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .submit_button button{
        padding: 16px 19px 14px 24px;
        border-radius: 30px;
        background-color: #5f38fa;
        color: #ffffff;
        border: solid 2px #ffffff;
        margin: 0;
    }
    .passwort_vergessen{
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }
    .detektiv_werden_btn{
        color: #fff;
        font-weight: botrap_third_serial_number;
        width: 50%;
        margin: 0 auto;
        padding: 12px 0px 12px 14px;
        border-radius: 30px;
        border: solid 2px #ffffff;
        background: transparent;
    }
    .section_2 {
        background-image: url('http://localhost:4200/assets/logo/white_bg_image.png');
        background-size: cover; 
        background-repeat: round;
        width: 100%;
        height: 300px;
    }
    .second_wrapper{
        padding-top: 65px;
        width: 100% !important;
        padding-bottom: 30px;
    }
    .die_letzten_section{
        width: 100%;
        float: left;
        position: relative;
        left: 15%;
    }
    .weitere_button {
        width: 93%;
        margin: 0 auto;
    }
    .unsere_partner_section{
        width: 80%;
        float: left;
        padding-left: 60px;
        margin-top: 25px;
    }
    .unsere_partner_section{
        margin-top: 50px;
    } 
    .paragraph p {
        text-align: justify;
    }
}