@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';

.standard-content-container-width {
  @media only screen and (min-width: $breakpoint-l) and (max-width: $breakpoint-xxl) {
    width: 500px;
    padding: 0;
  }
}

.far {
  color: colors.$color__supernova;
}

.content-section {
  display: flex;
  margin: auto;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width: $breakpoint-l) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .text {
      @media screen and(min-width: $breakpoint-l) {
        width: 650px;
      }

      .title {
        @include fonts.font__effra--bold;
        font-size: 36px;
        line-height: initial;
        padding-bottom: 30px;

        @media screen and(min-width: $breakpoint-l) {
          font-size: 52px;
        }
      }

      .paragraph {
        @include fonts.font__effra--regular;
        font-size: 24px;
      }

      .button {
        color: colors.$color__supernova;

      }

      .button-group {
        justify-content: flex-start;
        gap: 1em;

        @media screen and(min-width: $breakpoint-l) {
          flex-direction: row;
          width: 650px;
          margin-top: 40px;
        }
      }
    }

    .video {
      &__desktop {
        display: none;
        width: 80%;
        height: 80%;
        padding-left: 50px;
        justify-content: center;
        @media screen and(min-width: $breakpoint-xxl) {
          display: flex;
        }
      }

      &__mobile {
        display: flex;
        justify-content: center;
        @media screen and(min-width: $breakpoint-xxl) {
          display: none;
        }
        @media screen and(min-width: $breakpoint-xs) {
          width: 80%;
          padding-left: 90px;
        }
        @media screen and(min-width: $breakpoint-l) {
          width: 100%;
          padding-left: 0;
        }

      }


    }

    .video[poster] {
      object-fit: cover;
    }
  }
}
