<div class="content-section standard-content-container-width">
  <a id="workshop"></a>
  <div class="content">
    <div class="text">
      <p class="title">Entdecke jetzt unser <span> Trust-Checking-Kit </span></p>
      <video controls class="video__mobile" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
        <source
          src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
          type="video/mp4">
      </video>
      <p class="paragraph">
        Unser Trust-Checking-Kit richtet sich an Lehrkräfte, die die Medien- und Nachrichtenkompetenz ihrer
        Schüler*innen stärken wollen und so präventiv gegen die Ausbreitung von Falschinformationen aktiv werden.
        <br />Das Kit ist ein “Ready-to-go” Paket für Lehrende, mit dem
        eine interaktive, kreative Unterrichtseinheit ohne
        viel Aufwand umgesetzt werden kann.
        <br /> Melde
        dich bei Interesse direkt bei uns oder werde Sponsor und ermögliche uns, dass wir unser Trust-Checking-Kit
        weiter verbreiten können.
      </p>
      <div class="button-group">
        <a class="button button--mysterious-blue"
          href="/workshop#pricing">
          <i class="fas fa-lightbulb-dollar fa-lg"></i> Preise & Buchung
        </a>
        <!-- <a class="button button--mysterious-blue"
          href="https://us06web.zoom.us/meeting/register/tZ0ud-uurTMiEtBYC-Ruk9c4VKemU3bo8RKp" target="_blank">
          <i class="far fa-info-circle fa-lg"></i>
          Anmeldung zum Info-Termin
        </a> -->
        <a class="button button--mysterious-blue"
          href="mailto:info@codetekt.org?subject=Anfrage%20Trust-Checking-Kit%20Sponsoring" target="_blank">
          <i class="far fa-handshake fa-lg"></i>
          Sponsor werden
        </a>
      </div>
    </div>
    <video controls class="video__desktop" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
      <source
        src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
        type="video/mp4">
    </video>
  </div>
</div>