<div class="content-section standard-content-container-width">
  <a id="workshop"></a>
  <div class="content">
    <div class="text">
      <h1 class="title">Entdecke jetzt unser <span> Trust-Checking-Kit </span></h1>
      <video controls class="video__mobile" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
        <source
          src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
          type="video/mp4">
      </video>
      <p class="paragraph">
        Unser Trust-Checking-Kit richtet sich an Lehrkräfte, die die Medien- und Nachrichtenkompetenz ihrer
        Schüler*innen stärken wollen und so präventiv gegen die Ausbreitung von Falschinformationen aktiv werden. Schau
        dir unser Video an, um das Trust-Checking-Kit besser kennenzulernen und lade dir unseren One-Pager mit allen
        Infos herunter!
      </p>
      <div class="button-group">
        <a class="button button--mysterious-blue"
           href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
           target="_blank">
          <i class="far fa-envelope-open-text fa-lg"></i>
          Workshop anfragen
        </a>
        <a class="button button--mysterious-blue"
           href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
           target="_blank">
          <i class="far fa-info-circle fa-lg"></i>
          Anmeldung zum Info-Termin
        </a>
        <a class="button button--mysterious-blue"
           href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
           target="_blank">
          <i class="far fa-handshake fa-lg"></i>
          Sponsor werden
        </a>
      </div>
    </div>
    <video controls class="video__desktop" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
      <source
        src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
        type="video/mp4">
    </video>
  </div>
</div>
