<a href="#support"></a>
<p class="section-heading section-heading-supernova">Unterstützung</p>
<p class="section-sub-heading">So kannst du aktiv werden gegen Desinformation</p>

<div class="grid">
  <a href="/submit">
    <div class="grid-item hover-bittersweet">
      <div class="icon icon-bittersweet">
        <i class="fal fa-typewriter"></i>
      </div>
      <p class="title">Mitmachen und Fälle einreichen</p>
      <p class="text">
        Reiche Nachrichten und Online-Informationen, die du prüfen lassen möchtest, kostenlos bei codetekt ein.
      </p>
    </div>
  </a>
  <a href="/register">
    <div class="grid-item grid-item-bg-white hover-supernova">
      <div class="icon icon-supernova">
        <i class="fal fa-user-cowboy"></i>
      </div>
      <p class="title">Detektiv*in werden</p>
      <p class="text">
        Werde Detektiv*in und prüfe die eingereichten Fälle anhand der Qualitätskriterien auf ihre Glaub&shy;­würdigkeit.
      </p>
    </div>
  </a>  
  <a href="mailto:join@codetekt.org?subject=Unterst%C3%BCtzungsanfrage%20codetekt">
    <div class="grid-item grid-item-bg-white hover-gold">
      <div class="icon icon-gold">
        <i class="fal fa-hands-helping"></i>
      </div>
      <p class="title">Ehrenamtlich mitarbeiten ... </p>
      <p class="text">
        Werde Teil unseres ehrenamtlichen Teams. Wir arbeiten dezentral und digital, deutschlandweit und darüber hinaus
        zusammen. Schreib uns eine Mail, wenn du Lust hast, dich mit uns für eine gute Sache einzusetzen. Wir freuen uns, von dir zu hören!
      </p>
    </div>
  </a>
  <a href="mailto:join@codetekt.org?subject=Unterst%C3%BCtzungsanfrage%20codetekt">
    <div class="grid-item hover-purple">
      <div class="icon icon-purple">
        <i class="fal fa-hands-helping"></i>
      </div>
      <p class="title">... im codetekt Team</p>
      <p class="text">
        Du kannst in verschiedenen Bereichen mitarbeiten: Design, Social Media, Programmierung, Community Management, Funding,
        Workshops/ politische Bildung. Das ist als ehrenamtliche Tätigkeit möglich,
        aber auch im Rahmen eines Praktikums oder Volontariats.
      </p>
    </div>
  </a> 
</div>