<div class="rating-legend-section">
	<h5>Bewertungskala</h5>
  <div class="rating-legend-top-box">
    <div class="rating-legend-left-box">
      <h5 class="rating-legend-title">00 - 33</h5>
      <div class="rating-legend-description">Nicht vertrauenswürdig</div>
      <span><img src="assets/images/vertical-line.png" class="progress-bar-line1"></span>
    </div>
    <div class="rating-legend-right-box">
      <h5 class="rating-legend-title">84 - 99</h5>
      <div class="rating-legend-description">Vertrauenswürdig</div>
      <span><img src="assets/images/vertical-line.png" class="progress-bar-line1"></span>
    </div>
  </div>
  <div class="rating-legend-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-red" role="progressbar" style="width:29%">
      </div>
      <div class="progress-bar progress-bar-yellow" role="progressbar" style="width:29%">
      </div>
      <div class="progress-bar progress-bar-lime" role="progressbar" style="width:23%">
      </div>
      <div class="progress-bar progress-bar-green" role="progressbar" style="width:19%">
      </div>
    </div>
  </div>
  <div class="rating-legend-bottom-box">
    <div class="rating-legend-left-box">
      <span><img src="assets/images/vertical-line.png" class="progress-bar-line1"></span>
      <h5 class="rating-legend-title">84 - 99</h5>
      <div class="rating-legend-description">Eher nicht vertrauenswürdig</div>
    </div>
    <div class="rating-legend-right-box">
      <span><img src="assets/images/vertical-line.png" class="progress-bar-line1"></span>
      <h5 class="rating-legend-title">84 - 99</h5>
      <div class="rating-legend-description">Nicht vertrauenswürdig</div>
    </div>
  </div>
</div>
