 .app-file-container{
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
  margin: auto;
}


.form-container{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: column; 
}


form{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: column; 
}