@use '../../../../assets/scss/colors' as colors;

.share-item {
  cursor: pointer;

  div {
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 1px 15px 8px 0;
    font-size: 18px;
    display: flex;
    color: colors.$color__white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  &.link div {
    background-color: colors.$color__neon-blue;
  }
  &.mail div {
    background-color: colors.$color__purple;
  }
  &.twitter div {
    background-color: colors.$color__rating-tweeter;
  }
  &.facebook div {
    background-color: colors.$color__rating-facebook;
  }
  &.instagram div {
    background-color: colors.$color__bittersweet;
  }
}
