<div class="container">
  <img
    class="image"
    src="assets/images/illustrations/socialmedia.svg"
    alt="Logos der Social Media Plattformen Twitter, Signal, Instagram und LinkedIn."
  />

  <div class="content">
    <p class="section-heading section-heading-bittersweet">Community</p>
    <p class="section-sub-heading-white">Begleite uns auf unseren Social Media Kanälen!</p>
    <p class="text">
      Ab sofort sind wir rund um die Uhr für euch erreichbar! Neuigkeiten, spannende Informationen und alles rund um die codetekt Community
      warten hier auf dich! Wir freuen uns, wenn du vorbeischaust!
    </p>
    <div class="social-media-icons">
      <a href="https://www.twitter.com/codetekt" target="_blank">
        <div class="social-media-icon-twitter">
          <i class="fab fa-twitter"></i>
        </div>
      </a>
      <a href="https://www.instagram.com/codetekt/" target="_blank">
        <div class="social-media-icon-instagram">
          <i class="fab fa-instagram"></i>
        </div>
      </a>
      <a href="https://www.linkedin.com/company/69506989" target="_blank">
        <div class="social-media-icon-linkedin">
          <i class="fab fa-linkedin"></i>
        </div>
      </a>
      <a href="https://www.facebook.com/Codetekt-eV-107861294837625" target="_blank">
        <div class="social-media-icon-facebook">
          <i class="fab fa-facebook-square"></i>
        </div>
      </a>
    </div>
  </div>
</div>
y
