@use '../../../../../assets/scss/fonts' as fonts;
@import '../../../../../assets/scss/variables';


.title {
  @include fonts.font__effra--bold;
  font-size: 36px;
  line-height: initial;

  @media screen and(min-width: $breakpoint-l) {
    font-size: 52px;
  }
}

.competence-row {
  display: grid;
  flex-direction: row;

  @media screen and(min-width: $breakpoint-s) {
    display: flex;
  }

  .competence-reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    @media screen and(min-width: $breakpoint-s) {
      flex-direction: row;
      padding: 30px;
      width: 100%;
    }

    .competence-img {
    }

    .competence-text {
      font-size: 18px;
      padding-top: 20px;
      @media screen and(min-width: $breakpoint-s) {
        padding: 30px;
      }
    }
  }
}
.sources{
  padding-top: 30px;
}


