<div class="content-section">
  <div class="content">
    <div class="text">
      <h1 class="title">Warum braucht es mehr Medienkompetenz?</h1>
      <p class="paragraph">
        <img height="200px" width="200px" src="assets/images/illustrations/76_procent.svg"/>
        der 14 bis 24-jährigen geben an,
        einmal pro Woche auf Inhalte zu
        stoßen, bei denen sie das Gefühl
        haben, die Realität wird falsch oder
        eindeutig falsch dargestellt.
      </p>
      <p class="paragraph">
        <img height="200px" width="200px" src="assets/images/illustrations/85_procent.svg"/>
        der 14 bis 24-jährigen
        stimmten zu, dass das
        Thema verpflichtender
        Inhalt in einem bestimmten
        Fach sein sollte
      </p>
      <p class="paragraph">
        <img height="200px" width="200px" src="assets/images/illustrations/82_procent.svg"/>
        schätzen Desinformation
        als Gefahr für die
        Demokratie ein
      </p>
      <p class="paragraph">
        <img height="200px" width="200px" src="assets/images/illustrations/28_procent.svg"/>
        der Lehrkräfte haben
        Nachrichtenkompetenz als
        eigene, geschlossene
        Unterrichtseinheit behandelt.
      </p>
    </div>
  </div>
</div>
