@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.section-head {  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-top: 12px;
    line-height: normal;
  }

  .image {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }

  .section-text {
    @media screen and(min-width: 800px) {
        max-width: 1000px;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  
  @media screen and(min-width: $breakpoint-s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    column-gap: 16px;
  }

  .grid-item {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: fit-content;
    padding: 16px;
    width: 100%;
    height: 100%;
    max-width: 450px;

    @media screen and(min-width: $breakpoint-s) {
      min-width: 400px;
    }   

    .title {
      text-align: center;
      @include fonts.font__effra--bold;
      font-size: 21px;      
    }
  
    .text {
      text-align: center;
      @include fonts.font__effra--regular;
      font-size: 18px;
    }

    .button {
      width: fit-content;
      align-self: center; 

    }
  }
}
