<div class="section-head">
  <img class="image" src="assets/images/illustrations/undraw_destinations_fpv7.svg" />
  <p class="section-heading section-heading-supernova">Finanzierung</p>
  <p class="section-sub-heading">Welche Einnahmen haben wir?</p>
  <p class="section-text">
    Als gemeinnütziger Verein tragen wir uns über Spenden und Förderungen. Wir suchen fortlaufend nach
    Finanzierungsmöglichkeiten, die es uns erlauben, unsere Angebote weiterhin unabhängig aufzubauen und zu
    entwickeln.
  </p>
</div>

<div class="grid">
  <div class="grid-item">    
    <div>
      <p class="title">Förderung & Sponsoring</p>
      <p class="text">
        Sie möchten sich mit Ihrer Stiftung oder Ihrem Unternehmen gegen Falschinformationen und für eine
        demokratische Gesellschaft einsetzen? Kontaktieren Sie uns gerne per E-Mail.
      </p>
    </div>
    <a class="button button--bittersweet" href="mailto:fundraising@codetekt.org?subject=Kooperationsanfrage%20codetekt">
      <i class="fal fa-envelope"></i>
      Kontakt
    </a>
  </div>
  <div class="grid-item">
    <div>
      <p class="title">Spende</p>
      <p class="text">
        Mit Deiner Spende unterstützt du uns im Betrieb einer Online-Plattform, die es allen ermöglicht, 
        kostenlos die Vertrauenswürdigkeit digitaler Nachrichten prüfen zu lassen. 
        Das Ziel: zweifelhafte Informationen aufdecken und Medienkompetenz stärken.
      </p>
    </div>
    <a class="button button--purple"
      href="https://www.betterplace.org/de/projects/98564-gemeinsam-gegen-falschinformationen" target="_blank">
      <i class="fal fa-money-check-edit"></i>
      Spenden
    </a>
  </div>
</div>  
