.element-titel {
  color: #160637;
  padding: 0 0 10px 0;
}
.row-member{
  display: inline-block;
  background: #F8F8F8;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  height: auto;
  margin: 0 0 25px;
  @media screen and (max-width: 479px) {
    width: 250px;
  }
  @media screen and (min-width: 480px) and (max-width: 783px) {
    width: 260px;
  }
  @media screen and (min-width: 784px) and (max-width: 1023px) {
    width: 310px;
  }
  @media screen and (min-width: 1024px) {
    width: 260px;    
  }
  @media screen and (min-width: 1350px) {
    width: 310px;    
  }
}
.icon {
  color: white;
  //font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 5px 7px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  &.linkL{
    background-color: #5F38FA;
  }
  &.linkM {
    background-color: #F9635F;
  }
}
.column{
  text-align: center;
}
.column img{
  object-fit: cover;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
} 
mat-chip{
  display: flex;
  flex-direction: row;
}
.filtertag{
  text-align: center;
  font-size: 12px;
  margin: 5px;
  background: #F8F8F8;
  color: #160637;
}
