<div class="row-member">
    <div class="columns">
        <div class="column">
            <div>
                <img *ngIf=MEM.image src="{{MEM.image}}" />
            </div>
            <div>
                <h3>{{MEM.name}}</h3>
                <!--<div class="filtertag" --IST FÜR DIE FILTERUNG!!>
                    <mat-chip-list>
                        <mat-chip *ngFor=" let tag of allTags">{{tag.tagname}} </mat-chip>
                    </mat-chip-list>
                </div>-->
                <p>{{MEM.text}}</p>
            </div>
            <div class="contact-button">
                <a class="icon linkL" *ngIf=MEM.linkL href="{{MEM.linkL}}" title="LinkedIn von {{MEM.name}}">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="icon linkM" *ngIf=MEM.linkM href="mailto:{{MEM.linkM}}" title="E-Mail senden an {{MEM.name}}">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>