@use "../../../../assets/scss/fonts" as fonts;
@import "../../../../assets/scss/colors";

.row-member {
  display: inline-block;
  background: $color__tile-background;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  height: auto;
  margin: 10px 0;
  p {
    font-size: 16px;
    margin: 8px 0;
  }
  h3 {
    @include fonts.font__pt-mono--bold;
  }
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 260px;
  }
  @media screen and (min-width: 784px) {
    width: 310px;
  }
  @media screen and (min-width: 1024px) {
    width: 260px;
  }
  @media screen and (min-width: 1350px) {
    width: 355px;
  }
}
.icon {
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 20%;
  text-align: center;
  &.linkL {
    background-color: $color__neon-blue;
  }
  &.linkM {
    background-color: $color__bittersweet;
  }
}
.column {
  text-align: center;
}
.column img {
  object-fit: cover;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.filtertags {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 0;
  justify-content: center;
  app-tag-icon ::ng-deep {
    .card {
      padding: 6px 12px;
      margin: 3px;
      font-size: 14px;
      color: #f8f8f8;
      font-family: effra, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}
