<p class="section-heading section-heading-bittersweet">Aber...</p>
<p class="section-sub-heading">Wer sind wir?</p>
<p class="text">
  codetekt ist ein Team, das dezentral deutschlandweit und darüber hinaus arbeitet. 
  Die Aufgabe: Strategien zum Erkennen und Eindämmen von Desinformation in digitalen Medien entwickeln.
  Eine Lösung ist unsere Plattform <a class="link" href="https://codetekt.org" target="_blank">codetekt.org</a> zur Bewertung der Glaubwürdigkeit
  von Online-Artikeln und Nachrichten aus Sozialen Medien oder Messenger Apps.  
  Du willst mehr über uns und unseren Ansatz erfahren? Klick dich durch!
</p>
<div class="links">

  <div class="page-link-item page-link-item-supernova" [routerLink]="['/about']">
    <p class="title">Über codetekt</p>
    <img height="200px" width="200px" src="assets/images/illustrations/about-codetekt.svg" />
  </div>
  
  <div class="page-link-item page-link-item-purple" [routerLink]="['/team']">
    <p class="title">Das Team</p>
    <img height="200px" src="assets/images/illustrations/the-team.svg" />
  </div>

  <div class="page-link-item page-link-item-bittersweet" [routerLink]="['/trust-checking']">
    <p class="title">Unser Trust-Checking Ansatz</p>
    <img height="200px" width="200px" src="assets/images/illustrations/trust-checking.svg" />
  </div>

  <a class="link" href="https://www.facebook.com/Codetekt-eV-107861294837625" target="_blank">
    <div class="social-link-item-facebook">
      <i class="fab fa-facebook-square"></i>
      <p>codetekt auf Facebook</p>
    </div>
  </a>
  <a class="link" href="https://www.instagram.com/codetekt/" target="_blank">
    <div class="social-link-item-instagram">
      <i class="fab fa-instagram-square"></i>
      <p>codetekt auf Instagram</p>
    </div>
  </a>
  <a class="link" href="https://twitter.com/codetekt" target="_blank">
    <div class="social-link-item-twitter">
      <i class="fab fa-twitter-square"></i>
      <p>codetekt auf Twitter</p>
    </div>
  </a>
</div>
