@use '../../../../../assets/scss/fonts' as fonts;
@import '../../../../../assets/scss/colors';
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.content {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;

    @media screen and(min-width: $breakpoint-m) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20px;
    }

    .page-link-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      align-items: center;
      cursor: pointer;

      width: 390px;
      height: 385px;
      @media screen and(min-width: $breakpoint-m) {
      }

      .title {
        @include fonts.font__effra--bold;
        font-size: 21px;
        text-align: center;
        margin-top: 58px;
      }

      &-purple {
        background-color: rgba($color: $color__purple, $alpha: 0.2);

        &:hover {
          background-color: rgba($color: $color__purple, $alpha: 0.4);
        }
      }
      &-supernova {
        background-color: rgba($color: $color__supernova, $alpha: 0.2);

        &:hover {
          background-color: rgba($color: $color__supernova, $alpha: 0.4);
        }
      }
      &-bittersweet {
        background-color: rgba($color: $color__bittersweet, $alpha: 0.2);

        &:hover {
          background-color: rgba($color: $color__bittersweet, $alpha: 0.4);
        }
      }
    }

    .social-link-item {
      background-color: $color__tile-background;
      height: 62px;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 20px;
      gap: 10px;
      cursor: pointer;

      width: 390px;
      @media screen and(min-width: $breakpoint-m) {
      }

      p {
        @include fonts.font__effra--bold;
        color: $color__mysterious-blue;
      }

      i {
        height: 24px;
        width: 24px;
        font-size: 24px;
      }

      &-facebook {
        @extend .social-link-item;
        i {
          color: #3b5998;
        }
      }

      &-instagram {
        @extend .social-link-item;
        i {
          color: #ff7068;
        }
      }

      &-twitter {
        @extend .social-link-item;
        i {
          color: #1da1f2;
        }
      }

      &-signal {
        @extend .social-link-item;
        grid-column: 2;
      }

      &:hover {
        background-color: darken($color__tile-background, 5%);
      }
    }
  }
}
