@use '../../../../../assets/scss/fonts' as fonts;
@use  '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and(min-width: $breakpoint-m) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .item {
    background-color: colors.$color__white;
    max-width: 580px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    @media screen and(min-width: $breakpoint-m) {
      padding: 60px;
    }

    .title {
      @include fonts.font__effra--bold;
      font-size: 21px;
      padding: 0;
    }

    .text {
      @include fonts.font__effra--regular;
      font-size: 18px;
      padding: 0;

      .link {
        i {
          font-size: 14px;
        }
      }
    }

    .icon-bittersweet {
      font-size: 120px;
      color: colors.$color__bittersweet;
    }

    .icon-neon-blue {
      font-size: 120px;
      color: colors.$color__neon-blue;
    }
  }
}
