<p class="section-heading section-heading-bittersweet">Falschinformationen in deiner Umgebung</p>
<p class="section-sub-heading section-sub-heading-white">Wie sicher bist du im Erkennen von Falschinformationen?</p>
<div class="items">
  <div class="item">
    <i class="fas fa-portal-enter icon-bittersweet"></i>
    <p class="title">Wie sicher bist Du im erkennen von Falschinformationen?</p>
    <p class="text">
      Fast die Hälfte der Befragten waren sich unsicher beim erkennen von Falschnachrichten. Verlinkung der Studie Vodafone Stiftung.
    </p>
    <p class="title">Wenn Du an Falschnachrichten denkst?</p>
    <p class="text">Denken 75% der Befragten an das Internet und 73% an eine betrügerische Absicht.</p>
  </div>
  <div class="item">
    <i class="fas fa-portal-exit icon-neon-blue"></i>
    <p class="title">Bist du auch schon mal aktiv geworden gegen Falschinformationen?</p>
    <p class="text">
      Laut einer Studie sind 36% der Befragten schon mal aktiv geworden, wenn sie eine Falschinformation gesehen haben. Gemeldet haben diese
      dann 19% an eine Plattform. Leider bekommen fast die Hälfte keine Rückmeldung zu ihrer Meldung.
    </p>
    <p class="title">Melden. Mitmachen. Feedback.</p>
    <p class="text">
      Melde uns nicht vertrauenswürdige Informationen und misch dich ein, indem du auf unserer Plattform hilfst, Informationen zu
      überprüfen. Erhalte nach der vollständigen Überprüfung das Feedback der Community. 100% aktiv gegen Falschinformationen, 100%
      gemeinsam mit der codetekt Community, 100% Feedback zurück bekommen.
    </p>
  </div>
</div>
