<div class="title">
  Bestandteile des Trust-Checking-Kits
</div>
<div class="components-group">
  <div class="component">
    <img height="200px" width="200px" src="assets/images/illustrations/codetekt-TCK_Bestandteile_Handbuch.svg" />
    <div class="component-header">
      Das Handbuch
    </div>
    <div class="component-text">
      Enthält alles, was du brauchst, um eine Unterrichtsstunde zum Thema Nachrichtenkompetenz zu halten.
      Gibt einen Überblick über alle Ziele, Inhalte und Methoden des Workshops, sowie Hintergrundinformationen zum Thema
      Falschinformationen und Nachrichtenkompetenz
    </div>
  </div>
  <div class="component">
    <img height="200px" width="200px" src="assets/images/illustrations/codetekt-TCK_Bestandteile_Präsentation.svg" />
    <div class="component-header">
      Die Präsentation
    </div>
    <div class="component-text">
      Kann genutzt werden, um Inhalte zu visualisieren und durch die Unterrichtsstunde zu führen. Die Sprechernotizen unterstützen dich dabei zusätzlich.
    </div>
  </div>
  <div class="component">
    <img height="200px" width="200px" src="assets/images/illustrations/codetekt-TCK_Bestandteile_Video.svg" />
    <div class="component-header">
      Die Videos
    </div>
    <div class="component-text">
      Erklären dir direkt und persönlich, wie du unser Kit nutzen kannst, um unsere Inhalte zu vermitteln. Zu unserem *technischen Tool* gibt es ein ausführliches Schulungsvideo.
    </div>
  </div>
  <div class="component">
    <img height="200px" width="200px" src="assets/images/illustrations/codetekt-TCK_Bestandteile_Plattform.svg" />
    <div class="component-header">
      Das technische Tool
    </div>
    <div class="component-text">
      ist das Herzstück des Trust-Checking-Kits. Hier können die Schüler*innen die gelernten Inhalte selbst auf spielerische Art und Weise anwenden und die Ergebnisse können anschließend gemeinsam in der Klasse ausgewertet und besprochen werden.
    </div>
  </div>
</div>
