<footer class="footer">
  <div class="container">
    <p>codetekt © 2021</p>
    <ul>
      <li>
        <a href="https://info.codetekt.org/" target="_blank">Über codetekt</a>
      </li>
      <li>
        <a [routerLink]="['terms']">Nutzungsbedingungen</a>
      </li>
      <li>
        <a href="https://info.codetekt.org/datenschutzerklaerung/">Datenschutz</a>
      </li>
      <li>
        <a href="https://info.codetekt.org/impressum/" target="_blank">Impressum</a>
      </li>
      <li>
        <a [routerLink]="['issues']">Kontakt</a>
      </li>
    </ul>
  </div>
</footer>
