.details-container {
  width: 500px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
