@use '../../../../assets/scss/colors' as colors;

.bar {
  display: flex;
  background-color: colors.$color__mysterious-blue;
  width: 100%;
  border-radius: 30px;
  height: 6px;

  &-fill {
    background-color: colors.$color__supernova;
    width: 70%;
    border-radius: 30px;
    margin-left: -1px;
  }
}
