<header class="main-header">
  <div class="container">
    <a class="mh-logo">
      <a [routerLink]="['/home']">
        <img src="assets/logo/Logo_Schriftzug@2x.png" width="293" height="35">
      </a>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li *ngIf="!authState.isLoggedIn">
          <button class="button-flat" (click)="login()">Detektiv werden</button>
        </li>
        <li *ngIf="!authState.isLoggedIn">
          <button class="button-outline" (click)="login()">Einloggen</button>
        </li>
        <li *ngIf="authState.isLoggedIn">
            <button class="button-flat">
              <mat-icon>account_circle</mat-icon>
              {{authState.username.toUpperCase()}}
            </button>
        </li>
        <li *ngIf="authState.isLoggedIn">
          <button class="button-flat" (click)="logout()">Abmelden</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
