<div class="collapse-container">
  <div class="collapse-container__content">
    <i class="collapse-container__content__icon fas fa-life-ring"></i>
    <span class="bold-weight">Hilfe zu dieser Seite</span>
    <span class="collapse-container__content__btn" (click)="isCollapsed = !isCollapsed">{{ isCollapsed ? 'anzeigen' : 'ausblenden' }}</span>
    <i class="far" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
  </div>
</div>
<div class="questions-section" *ngIf="!isCollapsed">
  <div class="questions-swiper-container">
    <app-questions-swiper [questions]="questions"> ></app-questions-swiper>
  </div>
  <div class="questions-section--list">
    <carousel [cellWidth]="360" arrowsTheme="light" [ngStyle]="{ 'z-index': 'unset' }">
      <div class="carousel-cell question" *ngFor="let q of questions; let i = index">
        <div [ngClass]="q.background + ' question--icon'"><i class="{{ q.icon }}"></i></div>
        <div class="question--title">{{ q.title }}</div>
        <div class="question--description questions-section-quote">{{ q.description }}</div>
      </div>
    </carousel>
  </div>
</div>
