@use '../../../../assets/scss/fonts' as fonts;
@use '../../../../assets/scss/colors' as colors;

:host {
  display: block;  
}

.collapse-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;  
  margin: 0 20px 20px 0;

  @media only screen and (min-width: 480px) {
    flex-direction: row;
    align-items: center;
    margin: 0 20px 0 0;
  }

  &__content {
    display: flex;
    align-items: center;

    &__icon {
      color: colors.$color__neon-blue;
      margin-right: 4px;
    }

    > * ~ * {
      margin-left: 4px;
    }

    &__btn {
      color: colors.$color__old-paragraph;
      cursor: pointer;
    }

    i:last-child {
      margin-left: 8px;
    }
  }
}

.questions-section {
  margin: 20px 0 10px 0;
  &__list {
    display: none;

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
    }

    .carousel-arrows .carousel-arrow.carousel-arrow-disabled {
      display: none;
      opacity: 0;
    }

    .question {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      border-radius: 20px;
      background: colors.$color__tile-background;
      color: colors.$color__mysterious-blue;
      height: auto;
      margin-left: 5px;
      margin-right: 1.5%;
      padding: 10px 15px;
      text-align: center;

      @media only screen and (min-width: 1024px) {
        width: 360px;
      }

      &__icon {
        width: 42px;
        height: 42px;
        margin: 10px 10px -3px 0;
        padding: 12.9px 2.5px;
        background-color: colors.$color__neon-blue;
        color: colors.$color__white;
        border-radius: 30px;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 23px;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      &__title {
        @include fonts.font__effra--bold;
        width: 320px;
        height: 18px;
        margin: 16px 0 14px;
        font-size: 16px;
      }

      &__description {
        @include fonts.font__effra--regular;
        width: 320px;
        height: 35px;
        margin-bottom: 18px;
        font-size: 14px;
      }

      .carousel.carousel-container.carousel-cells {
        transition: transform 0.2s;
        width: 100%;
        height: 100%;
        display: block;
        will-change: transform;
      }
    }
  }

  .questions-swiper-container {
    display: block;
    max-width: 100vw;

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .color__bittersweet {
    background-color: colors.$color__bittersweet !important;
  }

  .color__neon {
    background-color: colors.$color__neon-blue !important;
  }

  .color__purple {
    background-color: colors.$color__purple !important;
  }

  .color__gold {
    background-color: colors.$color__gold !important;
  }

  .color__green {
    background-color: colors.$color__green !important;
  }

 }
