<div class="page-container">
  <div>
    <h1>Willkommen in deiner <br/> Fact-Checking Community!</h1>
    <p>Möchtest du einen neuen Fall einstellen oder lieber versuchen <br/> einen der Fälle in unserer Kartei zu lösen?</p>
    <div class="button-group">
      <button class="button-primary" (click)="navigate('submit')">Fall einreichen</button>
      <button class="button-primary" (click)="navigate('review')">Fall lösen</button>
    </div>
  </div>
  <img src="assets/images/illustrations/undraw_content_vbqo.svg"  width="50%" height="50%"/>
</div>
