@import '../../../../assets/scss/initializer';

.page-container-column {
  margin: auto;
   


    h1 {
      font-size: 52px;
      font-weight: 700;
      @media only screen and (max-width: 480px) {
        font-size: 32px;
        font-weight: 700;
      }     
      color: $color__share-section-heading;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: $color__share-section-heading;
      margin-top: 25px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 16px;
      font-weight: 700;
      color: $color__old-paragraph;
      margin-top: 15px;
      margin-bottom: 8px;
    }
    a {
      color: $color__bittersweet;
      text-decoration: none;
    }
    p {
      font-size: 16px;
      color: $color__old-paragraph;
      margin-top: 0px;
    }
    ul {
      list-style-type: square;
      font-size: 16px;
      color: $color__old-paragraph;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    li {
      margin-left: 40px;  
      margin-top: 0px;
      margin-bottom: 5px;
    }
    address {
      margin-top: 10px;
    }
    strong {
      @include font__effra--bold;
    }
    .privacy-statement-intro {
      @include font__effra--regular;
      font-size: 20px;
      line-height: max(1vw, 22px);
      color: $color__supernova;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .privacy-statement {
      @include font__effra--regular;
      font-size: 16px;
      line-height: max(1vw, 22px);
      color: $color__old-paragraph;
      margin-top: 0px;      
    }
    .hint-italic {
      @include font__effra--italic;
      font-size: 16px;
    }
    .privacy-content-table {
      width: 100%;
      font-size: 15px;
      text-align:left;
      margin-top: 15px;
      margin-bottom: 10px;
      td, th {
        vertical-align:top;
      }
    }
  }

