  <div class="page-container-column">
    <h1>Community-Richtlinien</h1>
    <h4>Netiquette</h4>
    <ul>
      <li>Anleitung zum Fakt-Check beachten</li>
      <li>Niemand kann die von ihm eingestellte Nachricht selbst verifizieren</li>
      <li>Nachrichten werden per Zufallsprinzip in der Community ausgegeben, damit keine Gruppen gezielt eine Nachricht upvoten können</li>
      <li>Der Upload/Post, etc. wird anonymisiert in der Community veröffentlicht</li>
      <li>Respektvoller Umgang</li>
      <li>Auf Lesbarkeit/ Verständlichkeit achten</li>
      <li>Einhaltung von Gesetzen und Rechtsvorschriften</li>
      <li>Anrede respektieren – Duzen ist üblich</li>
      <li>Klarnamen statt Nickname verwenden</li>
      <li>Missverständnisse vermeiden</li>
      <li>Netz-Jargon beachten (“lol” und Co in Anführungszeichen setzen, etc.)</li>
      <li>Keine persönlichen Daten</li>
    </ul>
  </div>
