@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .image {
    width: 510px;
    height: 350px;
    display: none;

    @media screen and (min-width: $breakpoint-l) {
      display: block;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $breakpoint-l) {
      align-items: flex-start;
    }

    .section-heading-bittersweet,
    .section-sub-heading-white {
      @media screen and (min-width: $breakpoint-l) {
        text-align: left;
      }
    }

    .section-sub-heading-white {
      font-size: 36px;
      max-width: 395px;
      margin: 0;
    }

    .text {
      @include font__effra--regular;
      font-size: 18px;
      color: colors.$color__white;
      max-width: 505px;
    }

    .social-media-icons {
      display: flex;
      flex-direction: row;
      gap: 10px;

      a {
        text-decoration: none;
      }

      .social-media-icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 5px;

        &-twitter {
          @extend .social-media-icon;
          background-color: colors.$color__social-media-twitter;
        }

        &-instagram {
          @extend .social-media-icon;
          background-color: colors.$color__social-media-instagram;
        }

        &-linkedin {
          @extend .social-media-icon;
          background-color: colors.$color__social-media-linkedin;
        }

        &-signal {
          @extend .social-media-icon;
          background-color: colors.$color__social-media-signal;
        }

        &:hover {
          cursor: pointer;
          filter: brightness(120%);
        }

        & > i {
          font-size: 20px;
        }
      }
    }
  }
}
