<div class="container">
  <div class="top-elements">
    <div class="user-icon-large">
      <span class="material-icons profile-icon-background" (click)="navigate('my-file')">
        bookmark
      </span>
      <span class="profile-icon-level" (click)="navigate('my-file')">{{user?.level}}</span>
      <img mat-card-avatar class="profile-picture" src="/assets/images/avatar/ml-assistant-avatar.png"
        (click)="navigate('my-file')" />
    </div>
    <hr class="separator">
    <table class="user-info-table">
      <tr>
        <td class="user-info-categories">
          Name
        </td>
        <td class="user-info-values">
          {{user?.name}}
        </td>
      </tr>
      <tr>
        <td class="user-info-categories">Level</td>
        <td class="user-info-values">{{user?.level_description}}</td>
      </tr>
      <tr>
        <td class="user-info-categories">Exp</td>
        <td class="user-info-values">
          <mat-progress-bar mode="determinate" [value]="user.progress" color="accent"></mat-progress-bar>
        </td>
      </tr>
    </table>
    <div class="profile-button-container">

      <button class="button-flat-profile" (click)="navigate('my-file')">
        <p>
          Meine Akte
        </p>
        <mat-icon matBadge="2" matBadgeColor="warn" [matBadgeHidden]="hideFileBadge">folder_open
        </mat-icon>
      </button>
      <button class="button-flat-profile" (click)="navigate('issues')">
        <p>
          Kontakt
        </p>
        <mat-icon>contact_support
        </mat-icon>
      </button>
      <button class="button-flat-profile" matTooltip="Hier gibt es bald ein spannendes neues Feature zu entdecken :)">
        <p>Meine Nachrichten</p>
        <mat-icon matBadge="2" matBadgeColor="warn" [matBadgeHidden]="hideMessageBadge">mail_outline
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="profile-button-container">
    <button class="button-flat-profile" (click)="logout()">
      <p>
        Abmelden
      </p>
      <mat-icon class="profile-button-icons">input</mat-icon>
    </button>
  </div>
</div>