<h1>Preise</h1>
<div class="paragraph">
    Buche jetzt das passende Paket samt Konzeption, Materialien und Online-Quiz über <a href="mailto:workshop@codetekt.org?subject=Buchung%20TCK&body=Ich%20w%C3%BCrde%20gerne%20das%20Trust-Checking-Kit%20buchen!">workshop@codetekt.org</a> für eine wirksame Demokratieförderung gegen Falschinformation und für mehr Medienkompetenz an deiner Schule! Mit dem Premium Modell erhältst du dir eine Weiterbildung für alle Lehrkräfte an deiner Schule zum Trust-Checking und zu Trends und Risiken in Sozialen Medien dazu.
</div>
<div class="table-container">
    <app-pricing-table *ngFor="let item of components" [item]="item"></app-pricing-table>
</div>