<h1>Preise</h1>
<div class="paragraph">
    Buche jetzt das passende Paket samt Konzeption, Materialien und Online-Quiz über <a
        href="mailto:workshop@codetekt.org?subject=Buchung%20TCK&body=Ich%20w%C3%BCrde%20gerne%20das%20Trust-Checking-Kit%20buchen!">workshop@codetekt.org</a>
    für eine wirksame Demokratieförderung gegen Falschinformation und für mehr Medienkompetenz an deiner Schule! Mit dem
    Premium Modell erhältst du eine Weiterbildung für alle Lehrkräfte an deiner Schule zum Trust-Checking und zu Trends
    und Risiken in Sozialen Medien dazu.
</div>
<div class="table-container">
    <app-pricing-table *ngFor="let item of components" [item]="item"></app-pricing-table>
</div>
<div class="fullservice-container">
    <div class="fullservice-content">
        <p class="headline">✨Exklusiv: Full-Service✨</p>
        <p>Du willst den Workshop nicht selbst durchführen? Kein Problem! Gerne kommen von uns ausgebildete Teamer*innen
            aus unserem Netzwerk an deine Schule und führen den Workshop mit Dir und Deiner Klasse durch. Kontaktiere
            uns einfach für ein unverbindliches Angebot!</p>
        <p class="headline">Preis: auf Anfrage</p>
    </div>
    <div class="button-container">
        <a class="button button--mysterious-blue"
            href="mailto:workshop@codetekt.org?subject=Anfrage%20Trust-Checking-Kit%20Full-Service&body=Name%20der%20Schule%3A%0D%0AOrt%20der%20Schule%3A"
            target="_blank">
            <i class="far fa-envelope-open-text fa-lg"></i>
            ANFRAGEN
        </a>
    </div>
</div>