@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';

h1 {
  @include fonts.font__effra--bold;
  font-size: 36px;
  line-height: initial;

  @media screen and(min-width: $breakpoint-l) {
    font-size: 52px;
  }
}

.paragraph {
  @include fonts.font__effra--regular;
  font-size: 24px;
  padding-bottom: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  @media screen and(min-width: $breakpoint-l) {
    flex-direction: row;
    padding: 0 100px;
  }
}

.fullservice-container {
  @media screen and(min-width: $breakpoint-l) {
    flex-direction: row;
    margin: 20px 100px;
    flex-direction: row;
    align-items: center;
  }
  flex-direction: column;

  display: flex;
  background-color: colors.$color__bittersweet;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  align-items: start;
  .fullservice-content {
    display: flex;
    flex-direction: column;
    @media screen and(min-width: $breakpoint-l) {
      padding-right: 20px;
    }
    p {
      font-size: 20px;
    }
    .headline {
      line-height: 115%;
      @include fonts.font__effra--bold;
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
