<div class="dialog-container">
  <div mat-dialog-title>
    <h2>Passwort zurücksetzen</h2>
    <button mat-icon-button [mat-dialog-close]="closeResult">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content [formGroup]="form">
    <p>{{title}}</p>
    <mat-error *ngIf="invalid">
      Dein Benutzername oder dein Passwort wurden nicht erkannt.
    </mat-error>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Benutzername" formControlName="username" required>
      <mat-error>
        Bitte gib hier deinen Benutzernamen ein.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Code" formControlName="code" required>
      <mat-error>
        Bitte gib hier den Code ein den du von uns erhalten hast.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="Neues Passwort" formControlName="password" required>
      <mat-error>
        Bitte gib hier dein neues Passwort ein.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="button-primary" (click)="forgotPasswordSubmit()">Code zusenden</button>
  </mat-dialog-actions>
</div>
