<div class="authentication-page">
    <div class="hero-section">
        <div class="logo">
            <a title="home" [routerLink]="['/']"><img src="assets/logo/codetekt_white_logo.png" width="200"></a>
        </div>

        <mat-card class="authentication-page-card">
          <mat-card-content class="authentication-page-card--contents">
          	<ng-content></ng-content>
          </mat-card-content>
        </mat-card>


        <div class="line-container">
            <div class="line"></div>
        </div>


        <div *ngIf=" loginCTA === 'register' " >
            <p class="login_form_buttom_text">
                Du hast noch keinen Zugang und möchtest die Welt zu einem besseren Ort machen?
            </p>

            <div class="registration_call_to_action_button">
                <a title="Login" [routerLink]="['/register']">
                    <button>
                        <i class="fas fa-user-cowboy"></i> Detektiv*in werden
                    </button>
                </a>
            </div>
        </div>
        <div *ngIf=" loginCTA === 'login' " >
            <p class="login_form_buttom_text">
                Du hast schon einen Zugang und möchtest Dich anmelden?
            </p>

            <div class="registration_call_to_action_button">
                <a title="Login" [routerLink]="['/login']">
                    <button>
                        Login
                    </button>
                </a>
            </div>
        </div>

    </div>

    <div class="full-width-container">
        <div class="wrapper">
            <div class="case-list-container">
                <h3>Die letzten gelösten Fälle</h3>
                <app-case-list *ngIf="cases.length > 0" [cases]=cases [numberOfCases]="5" [showText]="true"></app-case-list>
                <button [routerLink]="('/archive')">Weitere gelöste Fälle ansehen</button>
            </div>
            <div class="partner-logo-section">
                <h3>Unsere Partner</h3>
                <div class="social_image">
                    <app-supporter-section [withHeadline]="false"></app-supporter-section>
                </div>
                <div class="paragraph">
                    <h3>Rechtliches</h3>
                    <p>
                        Durch die Anmeldung oder Registrierung stimmst du unseren <a href="/terms" target="_blank" class="orange">Nutzungsbedingungen</a> zu. 
                        In unserer <a href="/privacy-statement" target="_blank" class="orange">Datenschutzrichtlinie</a> erfährst du, wie wir deine Daten erfassen, verwenden und teilen. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
