@use '../../../../assets/scss/colors' as colors;
@use '../../../../assets/scss/fonts' as fonts;

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span {
    @include fonts.font__pt-mono--bold;
    font-size: 14px;
  }

  i {
    color: colors.$color__supernova;
    font-size: 21px;
  }
}
