<section class="review-question-content" *ngIf="question as currentQuestion">
  <header class="review-question-content__header">
    <div class="review-question-content__heading">
      <div>
        <p class="review-question-content__meta">
          Frage {{ position }}
          <span class="review-question-content__meta-separator">/</span>
          {{ total }}
        </p>

     
      </div>
      <h1 class="review-question-content__title">{{ currentQuestion.metadata?.title }}</h1>
      <p class="review-question-content__subtitle" *ngIf="currentQuestion.metadata?.text">
        {{ currentQuestion.metadata.text }}
      </p>
    </div>
    <button class="review-question-content__help-button" type="button" >
      <mat-icon
       class="review-question-content__help-icon"
      >support</mat-icon>

      Hilfe
    </button>
  </header>

  <ul class="review-question-content__fields" *ngIf="currentQuestion.fields?.length; else noFields">
    <li
      *ngFor="let field of currentQuestion.fields; let i = index; trackBy: trackFieldById"
      class="review-question-content__field"
      [ngClass]="{
        'review-question-content__field--traffic-light': field.type === 'traffic-light',
        'review-question-content__field--likert-scale': field.type === 'likert-scale',
        'review-question-content__field--text-area': field.type === 'text-area'
      }"
    >
      <ng-container [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="'traffic-light'">
          <app-traffic-light-field
            *ngIf="isTrafficLightField(field)"
            [field]="field"
            [showHeader]="shouldShowTrafficHeader(i)"
          ></app-traffic-light-field>
        </ng-container>

        <ng-container *ngSwitchCase="'likert-scale'">
          <app-likert-scale-field *ngIf="isLikertScaleField(field)" [field]="field"></app-likert-scale-field>
        </ng-container>

        <ng-container *ngSwitchCase="'text-area'">
          <app-text-area-field *ngIf="isTextAreaField(field)" [field]="field"></app-text-area-field>
        </ng-container>

        <span *ngSwitchDefault>
          {{ getFieldLabel(field) }}
        </span>
      </ng-container>
    </li>
  </ul>
  <ng-template #noFields>
    <p class="review-question-content__empty">Für diese Frage sind keine Eingaben erforderlich.</p>
  </ng-template>
</section>
