<mat-horizontal-stepper labelPosition="bottom" linear #stepper>
  <mat-step *ngFor="let question of parentQuestions; let index = index" label="Frage {{index + 1}}" [color]="'accent'"
    [completed]="question.answer_value !== null">
    <app-review-question [question]="question" [childQuestions]="getChildQuestions(question.question_id)"
      [index]="index" (questionAnswered)="updateReview()">
    </app-review-question>
  </mat-step>
  <mat-step label="Schlüsselwörter" [color]="'accent'">
    <h3>Letzte Frage!</h3>
    <p>
      Mit welchen Schlüsselwörtern würdest du diesen Fall kategorisieren? Füge bis zu drei Tags hinzu, indem du einen
      Begriff eingibst und Enter drückst.
    </p>
    <app-tags-question [review]="review" [itemId]="itemId" #tags>
    </app-tags-question>

    <div class="step-actions">
      <button class="button-primary" type="button" (click)="finishReview()">
        Fall abschließen
      </button>
      <button class="button-flat" matStepperPrevious>Zurück</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>