@import './theme';

* {
  font-family: Lato, Oswald;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: none;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

h1 {
  font-family: Oswald;
  line-height: 70px;
  font-size: 40px;
  color: #FFCC00;

  span.alt {
    font-family: Oswald;
    line-height: 70px;
    font-size: 40px;
    color: #4A4A4A;
  }
}

h2 {
  font-family: Oswald;
  margin: 0;
}

p {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  color: #4A4A4A;
}

div.page-content {
  background: #fbfbfb;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;
}

div.page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.page-container-column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

div.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-primary {
  background: #FFCC00 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border: none;
  border-radius: 5px;
  width: 12em;
  height: 3em;
  color: #4A4A4A;
  cursor: pointer;
  font-size: 13px;
  line-height: 26px;
  font-family: Lato;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-primary:hover {
  background: rgba(255, 204, 0, 0.50);
}

.button-primary:focus {
  outline: none;
}

.button-primary:disabled {
  background: lightgray;
  cursor: default;
}

.button-primary:disabled:hover {
  background: lightgray;
  cursor: default;
}

.button-outline {
  background: transparent;
  border: 1px solid #FFCC00;
  border-radius: 5px;
  opacity: 1;
  width: 12em;
  height: 4em;
  color: #FFCC00;
  cursor: pointer;
}

.button-outline:hover {
  background: rgba(255, 204, 0, 0.15);
}

.button-outline:focus {
  outline: none;
}

.button-flat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  border: none;
  border-radius: 5px;
  opacity: 1;
  width: 150px;
  height: 48px;
  color: #4A4A4A;
  cursor: pointer;
}

.button-flat:hover {
  color: #616161;
}

.button-flat:focus {
  border: none;
  outline: none;
}

.archive-items-list {
  margin-bottom: 50px;
}

.archive-item-content {
  width: 75vw;
}

.rating-1 {
  margin-top: 15px !important;
  border-color: #c62828 !important;
  color: #c62828 !important;
}

.rating-2 {
  margin-top: 15px !important;
  border-color: #e57373 !important;
  color: #e57373 !important;
}

.rating-3 {
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  border-color: #66bb6a !important;
  color: #66bb6a !important;
}

.rating-4 {
  margin-top: 15px !important;
  border-color: #1b5e20 !important;
  color: #1b5e20 !important;
}
