@import './assets/scss/buttons';
@import './assets/scss/initializer';

@import './theme';

@import '~ngx-sharebuttons/themes/default/default-theme';
@import '~swiper/swiper-bundle';
@import '~swiper/components/navigation/navigation';
@import '~swiper/swiper-bundle';

* {
  @include font__effra--regular;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color__case-card;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color__scrollbar-thumb-background;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color__scrollbar-thumb-background-hover;
}

/* placeholder */

textarea::-webkit-input-placeholder {   /* WebKit, Blink, Edge */
  color: $color__placeholder;
  font-size: 16px;
  font-weight: 400;
}

textarea:-moz-placeholder {             /* Mozilla Firefox 4 to 18 */
  color: $color__placeholder;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

textarea::-moz-placeholder {            /* Mozilla Firefox 19+ */
  $color: $color__placeholder;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

textarea:-ms-input-placeholder {        /* Internet Explorer 10-11 */
  color: $color__placeholder;
  font-size: 16px;
  font-weight: 400;
}

textarea:placeholder-shown {            /* Standard Pseudo-class */
  color: $color__placeholder;
  font-size: 16px;
  font-weight: 400;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

*.hint-italic {
  @include font__effra--italic;
  &-bold {
    @extend .hint-italic;
    font-weight: 700;
  }
}

.review-page .carousel .carousel-arrows .carousel-arrow {
  background-color: unset !important;
  box-shadow: unset !important;
  top: 42% !important;
  width: 18px !important;
  background-size: 60px !important;
}

.carousel .carousel-container .carousel-cell.question {
  width: 350px !important;
}

.carousel .carousel-container .question--title {
  width: 316px !important;
}

.carousel-arrows .carousel-arrow-disabled {
  display: none;
}

.archive-page .carousel .carousel-arrows .carousel-arrow {
  background-color: unset !important;
  box-shadow: unset !important;
  top: 42% !important;
  width: 18px !important;
  background-size: 60px !important;
}

.archive-page .carousel .carousel-arrows .carousel-arrow-next {
  left: 98% !important;
}

.archive-page .carousel .carousel-arrows .carousel-arrow-prev {
  left: -40px !important;
}

.carousel .carousel-arrows .carousel-arrow {
  background-color: unset !important;
  box-shadow: unset !important;
  top: 42% !important;
  width: 18px !important;
  background-size: 60px !important;
}

.carousel .carousel-arrows .carousel-arrow-next {
  left: 100% !important;
}

.carousel .carousel-arrows .carousel-arrow-prev {
  left: -40px !important;
}

.review-situation--text {
  word-wrap: break-word;

  a {
    color: $color__bittersweet;
    text-decoration: none;
  }

  i.fas.fa-quote-left {
    color: $color__bittersweet;
  }

  i.fas.fa-quote-right {
    color: $color__bittersweet;
    display: flex;
    justify-content: flex-end;
  }
}

h1 {
  @include font__effra--medium;
  line-height: 70px;
  // color: mat-color($custom-theme-accent);

  span.alt {
    @include font__effra--medium;
    line-height: 70px;
    font-size: 40px;
    font-size: max(1.8vw, 12px);
    color: $color__share-section-heading;
  }
}

h2 {
  @include font__effra--medium;
  margin: 0;
}

h3 {
  @include font__effra--medium;
  margin: 0;
}

p {
  @include font__effra--regular;
  font-size: max(0.7vw, 14px);
  line-height: max(1vw, 22px);
}

h1,
h2,
h3,
p,
div {
  color: $color__mysterious-blue;

  &.invert {
    color: $color__white;
  }
}

div.page-content {
  background: $color__page-content-background;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;
}

div.page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.page-container-column {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

div.page-container-row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

div.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.mat-dialog-title {
    display: flex;
    justify-content: space-between;
  }

  mat-dialog-content {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  mat-dialog-actions {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-self: center;
  }
}

mat-icon {
  color: $color__share-section-heading;
}
/* TODO: Use colors from theme instead of manually configuring */

.yellow-radio-button.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color__supernova;
}

.yellow-radio-button.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $color__supernova;
}
.yellow-radio-button.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $color__supernova;
}

.purple-radio-button.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color__neon-blue;
}

.purple-radio-button.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $color__neon-blue;
}
.purple-radio-button.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $color__neon-blue;
}

.coral-radio-button.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color__bittersweet;
}

.coral-radio-button.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $color__bittersweet;
}
.coral-radio-button.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $color__bittersweet;
}

.mat-tooltip {
  font-size: 15px !important;
}

.mat-chip-list.tags-chip-list {
  &--neon-blue {
    .mat-chip {
      background-color: $color__neon-blue;
      color: $color__white;

      .mat-chip-remove {
        color: $color__white;
      }
    }
  }
}

.mat-form-field.mat-form-field--alt {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-flex {
    border-radius: 30px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.mat-slider {
  .mat-slider-thumb,
  .mat-slider-track-fill {
    background-color: $color__neon-blue;
  }

  .mat-slider-thumb-label-text {
    color: $color__white;
  }
}

.mat-snack-bar-container {
  background-color: $color__watson-background;

  .mat-simple-snackbar {
    span {
      color: $color__white;
    }
  }
}

/*
This made tooltips on /reviews/:id not work anymore
*/
// .cdk-overlay-pane {
//   max-width: none !important;
//   width: 100vw;
//   height: 100vh;
// }

.swiper-container {
  margin: 20px 0;
}

.no-padding-dialog-container .mat-dialog-container {
  /* add your styles */
  padding: 0;

  /* not sure if this is the correct place to add this */
  width: 100%;
}
header.header {
  z-index: 9999 !important;
}

.carousel-container .carousel-cells {
  width: 100% !important;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem !important;
  background: $color__pagination-background !important;
  color: $color__black !important;
  border-radius: 5px;
}

.radio-container .mat-radio-group .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color__white !important;
}

.radio-container .mat-radio-group .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: $color__white !important;
}

.radio-container .mat-radio-group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color__white !important;
}

.radio-container .mat-radio-group .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $color__white !important;
}

.submit-check-container .mat-checkbox.mat-accent {
  .mat-checkbox-frame {
    border: 1px solid;
  }

  &.mat-checkbox-checked .mat-checkbox-background {
    background-color: transparent;
    border: 1px solid;
  }

  .mat-checkbox-checkmark-path {
    stroke: $color__black !important;
  }
}

.cdk-overlay-container {
  z-index: 10000;
}

.mat-select-panel .mat-option.mat-selected {
  color: rgba(0, 0, 0, 0.87) !important;
}

.option-container {
  .mat-radio-container,
  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    height: 16px;
    width: 16px;
  }
}

.mat-menu-panel.archive-list-filter-menu {
  max-width: unset !important;
}

.mat-radio-button:not(.mat-radio-disabled).cdk-program-focused .mat-radio-persistent-ripple {
  opacity: 0 !important;
}

.mono-font {
  @include font__pt-mono;
}

.bold-weight {
  font-weight: 700 !important;
}

.w-100-p {
  width: 100%;
}

/* Skeleton loading animation styles */

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.8rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* Rating colors */
.rating-color {
  &--red {
    color: $color__rating-red;
  }

  &--orange {
    color: $color__rating-orange;
  }

  &--light-green {
    color: $color__rating-light-green;
  }

  &--green {
    color: $color__rating-green;
  }

  &-bg--red {
    background-color: $color__rating-red;
  }

  &-bg--orange {
    background-color: $color__rating-orange;
  }

  &-bg--light-green {
    background-color: $color__rating-light-green;
  }

  &-bg--green {
    background-color: $color__rating-green;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color__white;
  @include font__pt-mono--bold;
  font-size: 20px;
  margin: 0 5px;
}

.text {
  &--bittersweet {
    color: $color__bittersweet;
  }

  &--purple {
    color: $color__purple;
  }

  &--rating-orange {
    color: $color__rating-orange;
  }
}

.mat-dialog-content{
  max-height: none !important;
  margin: 0 !important
}
