<p class="section-heading section-heading-supernova">Mach mit</p>
<p class="section-sub-heading section-sub-heading-white">Werde Teil der Gemeinschaft</p>
<p class="section-text section-text-white">Ein weiterer kurzer Text, als letzter Aufruf der Seite.</p>
<div class="button-group">
  <a [routerLink]="['/submit']" class="button button--bittersweet"><i class="far fa-typewriter"></i>Fall einreichen</a>
  <a [routerLink]="['/review']" class="button button--neon-blue"><i class="far fa-user-cowboy"></i>Fall annehmen</a>
</div>
