@use '../../../../../assets/scss/fonts' as fonts;
@import '../../../../../assets/scss/colors';
@import '../../../../../assets/scss/variables';
@import '../../community-page.component.scss';

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;

  @media screen and(min-width: $breakpoint-m) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
