.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
}

.search-form-field {
  width: 250px;
}

.score-slider {
  width: 150px;
  padding: 10px;
  margin: 20px;
}

.slider-menu {
}
