@import '../../assets/scss/initializer';

.faq-page {
  margin: auto;

  .overview-section {
    h1 {
      font-size: 52px;
      font-weight: 700;
      color: #4a4a4a;
    }

    p {
      font-size: 16px;
    }
  }

  .top-section {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    padding: 20px;

  }
}
