<p class="title">Interesse geweckt?</p>
<div class="items">
  <div class="item-yellow">
    <p class="item-title">Kontakt aufnehmen</p>
    <p class="text">
      Falls du das Trust-Checking-Kit für deine Schule anschaffen willst, melde dich gerne direkt per Mail an workshop@codetekt.org. Wir besprechen dann individuell mit dir, wie wir das Trust-Checking-Kit an deine Schule bekommen!
    </p>
    <a class="button button--mysterious-blue"
       href="mailto:workshop@codetekt.org?subject=Anfrage%20Trust-Checking-Kit%20Workshop"
       target="_blank">
      <i class="far fa-envelope-open-text fa-lg"></i>
      Workshop anfragen
    </a>
  </div>
  
  <div class="item-blue">
    <p class="item-title">Workshops ermöglichen</p>
    <p class="text">
      Als Unternehmen könnt ihr das Trust-Checking-Kit sponsern und so ermöglichen, dass den Schüler*innen in der Schule eurer Wahl Nachrichtenkompetenz vermittelt wird. Bei Interesse meldet euch gerne direkt bei uns!
    </p>
    <a class="button button--mysterious-blue"
       href="mailto:workshop@codetekt.org?subject=Anfrage%20Trust-Checking-Kit%20Sponsoring"
       target="_blank">
      <i class="far fa-handshake fa-lg"></i>
      Sponsor werden
    </a>
  </div>
  <div class="item-red">
    <p class="item-title">Über uns</p>
    <p class="text">
      codetekt ist ein gemeinnütziger Verein mit dem Ziel, Strategien zum Erkennen und Eindämmen von Falschinformationen zu entwickeln!
    </p>
    <a class="button button--mysterious-blue"
       href="/about">
      <i class="far fa-info-circle fa-lg"></i>
      Mehr erfahren
    </a>
  </div>
</div>
