<p class="title">Interesse geweckt?</p>
<div class="items">
  <div class="item-yellow">
    <p class="item-title">Kontakt aufnehmen</p>
    <p class="text">
      Falls du das Trust-Checking-Kit für deine Schule anschaffen willst, melde dich gerne direkt per Mail  an workshop@codetekt.org. Wir besprechen dann individuell mit dir, wie wir das Trust-Checking-Kit an deine Schule bekommen!
    </p>
    <a class="button button--mysterious-blue"
       href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
       target="_blank">
      <i class="far fa-envelope-open-text fa-lg"></i>
      Workshop anfragen
    </a>
  </div>
  <div class="item-blue">
    <p class="item-title">Mehr erfahren</p>
    <p class="text">
      In einer Videokonferenz stellen wir Interessierten unser Trust-Checking-Kit  persönlich vor unddu hast die Möglichkeit, alle deine Fragen zu stellen. Melde dich jetzt an!
    </p>
    <a class="button button--mysterious-blue"
       href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
       target="_blank">
      <i class="far fa-info-circle fa-lg"></i>
      Anmeldung zum Info-Termin
    </a>
  </div>
  <div class="item-red">
    <p class="item-title">Workshops ermöglichen</p>
    <p class="text">
      Als Unternehmen könnt ihr das Trust-Checking-Kit sponsorn und so ermöglichen, dass den Schüler*innen in der Schule eurer Wahl Nachrichtenkompetenz vermittelt wird. Bei Interesse meldet euch gerne direkt bei uns!
    </p>
    <a class="button button--mysterious-blue"
       href="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt_one-pager_26-10-2022_A5.pdf"
       target="_blank">
      <i class="far fa-handshake fa-lg"></i>
      Sponsor werden
    </a>
  </div>
</div>
