<app-my-profile *ngIf="loggedIn$ | async; else staticPage"></app-my-profile>

<ng-template #staticPage>
  <div class="section-background">
    <div class="section-container-small">
      <app-intro-section></app-intro-section>
    </div>
  </div>

  <div class="section-background-grey">
    <div class="section-container-small">
      <app-supporter-section></app-supporter-section>
    </div>
  </div>

  <div class="section-background-dots">
    <div class="section-container">
      <app-result-section></app-result-section>
    </div>
  </div>

  <div class="section-background-gradient">
    <div class="section-container">
      <app-surrounding-section></app-surrounding-section>
    </div>
  </div>

  <div class="section-background">
    <div class="section-container">
      <app-process-section></app-process-section>
    </div>
  </div>

  <div class="section-background-mysterious-blue">
    <div class="section-container">
      <app-archive-section></app-archive-section>
    </div>
  </div>

  <div class="section-background">
    <div class="section-container">
      <app-about-section></app-about-section>
    </div>
  </div>

  <!--TODO: Add once API exists-->
  <!-- <app-numbers-section class="section"></app-numbers-section> -->

  <div class="section-background-tile-background">
    <div class="section-container">
      <app-support-us-section class="section"></app-support-us-section>
    </div>
  </div>

  <div class="section-background">
    <div class="section-container">
      <app-news-section></app-news-section>
    </div>
  </div>

  <div class="section-background-stars">
    <div class="standard-content-container-width">
      <app-call-to-action-section></app-call-to-action-section>
    </div>
  </div>
</ng-template>
