@use '../../../assets/scss/fonts' as fonts;
@use '../../../assets/scss/colors' as colors;
@import '../../../assets/scss/_initializer.scss';
@import '../../../assets/scss/variables';

:host {
  width: 100%;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;


  @media screen and(min-width: $breakpoint-m) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .section-background {
    width: 100%;

    @media screen and(min-width: $breakpoint-m) {
      width: 33%;
      height: 70vh;
    }

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

    &-neon-blue {
      @extend .section-background;
      background-color: colors.$color__neon-blue;
    }

    &-bittersweet {
      @extend .section-background;
      background-color: colors.$color__bittersweet;
    }

    &-supernova {
      @extend .section-background;
      background-color: colors.$color__supernova;

    }


  }
}

.section-focused {
  width: 90% !important;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out, opacity 1s;
}

.section-hidden {
  width: 5% !important;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.section-text-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.2s linear;
}

.section-container {
}
