@use '../../../assets/scss/fonts' as fonts;
@use '../../../assets/scss/colors' as colors;
@import '../../../assets/scss/_initializer.scss';
@import '../../../assets/scss/variables';

:host {
  width: 100%;
}

.section-background {
  width: 100%;
  background-color: colors.$color__white;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;

  &-mysterious-blue {
    @extend .section-background;
    background-color: colors.$color__mysterious-blue;
  }

  &-grey {
    @extend .section-background;
    background-color: colors.$color__page-content-background;    
  }

  &-tile-background {
    @extend .section-background;
    background-color: colors.$color__tile-background;
  }

  &-stars {
    @extend .section-background;
    background-image: url(/assets/images/backgrounds/stars-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin-top: -20px;
  }

  &-dots {
    @extend .section-background;
    background-color: colors.$color__page-content-background;
    background-image: url(/assets/images/illustrations/dots-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-gradient {
    @extend .section-background;
    background-image: url(/assets/images/illustrations/blue-gradient-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section-container {
  width: 100%;
  padding: 16px;

  @media screen and (min-width: $breakpoint-l) {
    width: 1240px;
    padding: 30px 0;    
  }

  &-small {
    @media screen and (min-width: $breakpoint-l) {
      width: 1240px;
      padding: 20px 0;    
    }
  }
}

.section-heading {
  @include fonts.font__pt-mono--bold;
  font-size: 21px;
  text-align: center;
  line-height: normal;

  &-supernova {
    color: colors.$color__supernova;
  }

  &-bittersweet {
    color: colors.$color__bittersweet;
  }

  &-purple {
    color: colors.$color__purple;
  }
}

.section-sub-heading {
  @include fonts.font__effra--bold;
  font-size: 30px;
  text-align: center;
  line-height: initial;  

  @media screen and (min-width: $breakpoint-m) {
    font-size: 36px;
  }

  &-white {
    @extend .section-sub-heading;
    color: colors.$color__white;
  }

  &-large {
    @extend .section-sub-heading;
    @include fonts.font__pt-mono--bold;
    font-size: 68px;
    text-align: start;
    margin: 0;
  }
}

.section-text {
  font-size: 18px;  
  max-width: 580px;
  text-align: center;
  line-height: normal;
  margin: auto;

  &-white {
    color: colors.$color__white;
  }
}
