<app-my-profile *ngIf="loggedIn$ | async; else staticPage"></app-my-profile>

<ng-template #staticPage>
  <div class="wrapper">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium inventore corporis aperiam quibusdam architecto optio nostrum
    fugiat tempora sed magni recusandae excepturi reprehenderit quas quae molestiae, expedita labore, tempore unde. Iusto nihil sint
    asperiores alias dolorum dolorem ab commodi neque quibusdam iure ipsum at, similique inventore quaerat repellat est. Eius quia rerum
    nemo veritatis a officiis autem ipsa eum nulla. Quia, qui praesentium possimus quod sapiente porro molestias dolore natus iste rerum
    nulla. Provident veniam deserunt repudiandae natus, aliquam quibusdam veritatis excepturi reprehenderit? Nisi a, ipsa cum minima ab
    dolores?
  </div>
</ng-template>
