@use '../../../../assets/scss/colors' as colors;
@import '../../../../assets/scss/initializer';

.faq-page {
  margin: auto;

  .overview-section {
    h1 {
      font-size: 52px;
      font-weight: 700;
      color: colors.$color__share-section-heading;
    }

    p {
      font-size: 18px;
    }
  }

  .top-section {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    padding: 20px;

  }
}
