<div class="content-section standard-content-container-width">
  <a id="workshop"></a>
  <div class="content">
    <div class="text">
      <h1 class="title">Entdecke jetzt unser <span> Trust-Checking-Kit </span></h1>
      <video controls class="video__mobile" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
        <source
          src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
          type="video/mp4">
      </video>
      <p class="paragraph">
        Unser Trust-Checking-Kit richtet sich an Lehrkräfte, die die Medien- und Nachrichtenkompetenz ihrer
        Schüler*innen stärken wollen und so präventiv gegen die Ausbreitung von Falschinformationen aktiv werden. In
        unserem Video stellen wir dir das Trust-Checking-Kit vor. Du bist neugierig geworden und willst das
        Trust-Checking-Kit an deine Schule holen oder unsere Arbeit unterstützen? <br> Dann klicke jetzt auf "Mehr erfahren",
        um alle Infos zu erhalten!
      </p>
      <div class="button-group">
        <a class="button button--neon-blue"
           title="Workshops" [routerLink]="['/workshop']">
          <i class="far fa-info-circle fa-lg"></i>
          Mehr erfahren
        </a>
      </div>
    </div>
    <video controls class="video__desktop" poster="assets/images/illustrations/codetekt-TCK_Stern-Objekte-Schrift.svg">
      <source
        src="https://codetekt-trust-checking-promo.s3.eu-central-1.amazonaws.com/codetekt-crowdfunding-pitch-video_1.48-Version.mp4"
        type="video/mp4">
    </video>
  </div>
</div>


