@use '../../../../assets/scss/colors' as colors;

:host {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: -20px;
  right: -20px;

  svg {
    width: 100%;
    height: 100%;

    fill: colors.$color__tile-background;
  }
}
