@use '../../../../../assets/scss/fonts' as fonts;
@use '../../../../../assets/scss/colors' as colors;
@import '../../../../../assets/scss/variables';
@import '../../landing-page.component.scss';

.hide {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 14vh;


  .image {
    width: 250px;
    height: 250px;
    justify-content: center;
    order: 1;
    padding-bottom: 20px;
    @media screen and(min-width: $breakpoint-xl) {
      width: 350px;
      height: 350px;
    }
  }

  .text {
    width: 350px;
    order: 2;

    .title {
      @include fonts.font__effra--regular;
      color: white;
      font-size: 50px;
      line-height: initial;
      padding-bottom: 30px;

    }
  }

  .paragraph {
    @include fonts.font__effra--regular;
    color: white;
    font-size: 22px;
    line-height: initial;
    @media screen and(min-width: $breakpoint-xl) {
      font-size: 25px;
    }
  }
}

.content-focused {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: fadeIn 2S;
  gap: 50px;
  padding-top: 0;


  .image {
    float: right;
    width: 650px;
    height: 650px;
    @media screen and(max-width: $breakpoint-xl) {
      width: 500px;
      height: 500px;
    }

  }

  .text {
    width: 650px;
    padding-left: 50px;
    padding-top: 100px;
    @media screen and(max-width: $breakpoint-xl) {
      width: 500px;
    }

    .title {
      @include fonts.font__effra--regular;
      color: white;
      font-size: 50px;
      padding-bottom: 30px;
      line-height: initial;

      @media screen and(min-width: $breakpoint-l) {
        font-size: 52px;
      }
    }
  }

  .paragraph {
    @include fonts.font__effra--regular;
    color: white;
    line-height: initial;
    font-size: 30px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .button {
      color: white;
      border-color: white;
    }

    .button:hover {
      color: colors.$color__neon-blue;
    }
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

