<div class="app-file-container">
  <app-file [heading]="'Meine Akte'" [headingSize]="'2vw'">
    <table class="user-info-table1">
      <tr>
        <td class="user-info-categories">Angestellt seit:</td>
        <td class="user-info-values">{{user.sign_up_timestamp | date:'dd.MM.yyyy'}}</td>
      </tr>
    </table>
    <hr class="separator">
    <table class="user-info-table2">
      <tr>
        <td class="user-info-categories">Name</td>
        <td class="user-info-values">{{user?.name}}</td>
      </tr>
      <tr>
        <td class="user-info-categories">Abteilung</td>
        <td class="user-info-values">Bekämpfung von Falschinformationen</td>
      </tr>
      <tr>
        <td class="user-info-categories">Tätigkeit</td>
        <td class="user-info-values">{{user?.level_description}} (Level: {{user?.level}})</td>
      </tr>
      <tr>
        <td class="user-info-categories">Bisher bearbeitete Fälle</td>
        <td class="user-info-values">{{user?.solved_cases_total}}</td>
      </tr>
      <tr>
        <td class="user-info-categories">Heute bearbeitete Fälle</td>
        <td class="user-info-values">{{user?.solved_cases_today}}</td>
      </tr>
      <tr>
        <td class="user-info-categories">Notwendige Erfahrungspunkte zur nächsten Beförderung</td>
        <td class="user-info-values">{{user?.exp_needed}}</td>
      </tr>
      <tr>
        <td class="user-info-categories">Ranking unter allen Detektiv*innen des selben Levels</td>
        <td class="user-info-values">{{user?.level_rank}}.</td>
      </tr>
      <tr>
        <td class="user-info-categories">Ranking unter allen Detektiv*innen</td>
        <td class="user-info-values">{{user?.total_rank}}.</td>
      </tr>
    </table>
    <div class="action-button">
      <button mat-stroked-button color="warn" (click)="deleteUser()">Mein Profil löschen</button>
    </div>
  </app-file>
  <!-- <div class="stamp-wrapper">
    <img mat-card-avatar class="stamp-image" src="/assets/images/illustrations/dk_stamp_gray.png" />
  </div> -->
</div>
