 .app-file-container{
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height:100%;
  margin: auto;
}


.user-info-table1 {
  width: 100%;
  height: 15%;
  justify-content: left;
  align-items: baseline; 
  table-layout: fixed;
}

.user-info-table2 {
  width: 100%;
  height: 85%;
  justify-content: left;
  align-items: baseline; 
  table-layout: fixed;
}

.user-info-table2 tr{
  height: 12%;
}

.user-info-categories{
  font-weight: bold;
  font-family: Oswald, sans-serif;
  font-size: max(0.8vw,12px);
  vertical-align: middle;
  width: 20%;
}

.user-info-values{
  width: 80%;
  overflow-wrap: break-word;
  font-family: Lato, sans-serif;
  font-size: max(0.8vw,12px);
  vertical-align: middle;
  padding-left: 1%;
}

app-file{
    height: 100%;
    width: 100%
}


.separator{
  border-top: 3px dashed #000;
  width: 100%;
}

.second-table{
    padding-bottom: 5%;
}

.stamp-wrapper{
  position: absolute;
  height: 17vw;
  width: 17vw;
  top: 15%; left: 67%;
}

.stamp-image{
  width: 100%;
  height: 100%;
  opacity: 0.6;
}