<div class="app-file-container">
    <app-file [heading]="'Meine Akte'" [headingSize]="'2.5vw'">
        <table class="user-info-table1">
            <tr>
                <td class="user-info-categories">Angestellt seit:</td>
                <td class="user-info-values">12.11.2020</td>
            </tr>
        </table>
        <hr class="separator">
        <table class="user-info-table2">
            <tr>
                <td class="user-info-categories">Name</td>
                <td class="user-info-values">Davide Maiolo</td>
            </tr>
            <tr>
                <td class="user-info-categories">Abteilung</td>
                <td class="user-info-values">Bekämpfung von Falschinformationen</td>
            </tr>
            <tr>
                <td class="user-info-categories">Tätigkeit</td>
                <td class="user-info-values">Spürnase</td>
            </tr>
            <tr>
                <td class="user-info-categories">Bisher gelöste Fälle</td>
                <td class="user-info-values">7</td>
            </tr>
            <tr>
                <td class="user-info-categories">Heute gelöste Fälle</td>
                <td class="user-info-values">2</td>
            </tr>
            <tr>
                <td class="user-info-categories">Notwendige Fälle zur Beförderung</td>
                <td class="user-info-values">2</td>
            </tr>
            <tr>
                <td class="user-info-categories">Wöchentliches Ranking als Spürnase</td>
                <td class="user-info-values">124.</td>
            </tr>
            <tr>
                <td class="user-info-categories">Wöchentliches Ranking als Top Detektiv*in</td>
                <td class="user-info-values">345.</td>
            </tr>
        </table>
    </app-file>
    <div class="stamp-wrapper">
        <img mat-card-avatar class="stamp-image" src="/assets/images/illustrations/dk_stamp_gray.png" />
    </div>
</div>