<div class="leaderboard-swiper-container">
    <swiper #leaderboardSwiper [slidesPerView]="1" [spaceBetween]="50" [loop]="true" [loopedSlides]="3">
        <ng-template swiperSlide *ngFor="let con of content">
            <div class="leaderboard-container">
                <div class="arrow" (click)="slidePrev()">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="content-container">
                    <div class="subheading font-bold">{{ con['headline'] }}</div>
                    <div class="leaderboard">
                        <app-leaderboard-element *ngIf="con['users'][1]" [user]="con['users'][1]" [rank]="2">
                        </app-leaderboard-element>
                        <app-leaderboard-element *ngIf="con['users'][0]" [user]="con['users'][0]" [rank]="1">
                        </app-leaderboard-element>
                        <app-leaderboard-element *ngIf="con['users'][2]" [user]="con['users'][2]" [rank]="3">
                        </app-leaderboard-element>
                    </div>
                    <a class="button button--neon-blue" href="/leaderboard">
                        <i class="fas fa-trophy"></i>
                        <span>Zur Rangliste</span>
                    </a>
                </div>
                <div class="arrow" (click)="slideNext()">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </ng-template>
    </swiper>
</div>

<div class="swiper-button-prev" (click)="slidePrev()">
    <i class="fas fa-arrow-left"></i>
</div>
<div class="swiper-button-next" (click)="slideNext()">
    <i class="fas fa-arrow-right"></i>
</div>


