<div class="content">
  <div class="text">
    <p class="section-heading section-heading-bittersweet">Was können wir tun?</p>
    <p class="section-sub-heading-large">Die Lösung</p>
    <p>
      Die Lösung Codetekt hat eine Community-basierte, Trust-Checking Plattform entwickelt, auf der Detektiv*innen zusammenkommen, um die
      Glaubwürdigkeit von Inhalten im Internet zu überprüfen.
    </p>
    <p>
      Mit der Hilfe von codetekt haben Nutzer*innen die Möglichkeit, die Glaubwürdigkeit von Inhalten transparent und anonym überprüfen zu
      lassen – ohne vorherige Registrierung oder Kosten. Die Inhalte werden von einer unabhängigen Gemeinschaft an Freiwilligen überprüft –
      von unseren Detektiv*innen.
    </p>
    <p>
      Alle können dieser Community beitreten. Nach der Überprüfung erhalten die Nutzer*innen die Einschätzungen der Glaubwürdigkeit in Form
      eines einfach verständlichen Vertrauens-Indexes.
    </p>
  </div>
  <div class="items">
    <div class="solution-item">
      <div class="circle circle-green">1</div>
      <p>Unkompliziert</p>
    </div>
    <div class="solution-item">
      <div class="circle circle-blue">2</div>
      <p>Zufällig</p>
    </div>
    <div class="solution-item">
      <p>Peer-geprüft</p>
      <div class="circle circle-yellow">3</div>
    </div>
    <div class="solution-item">
      <div class="circle circle-red">4</div>
      <p>Veröffentlicht</p>
    </div>
  </div>
</div>
